<h1>Geometry</h1>

Somme quizzes by Khan Academy:
<ol>
    <li>
        <a href="https://www.khanacademy.org/math/geometry-home/geometry-area-perimeter/geometry-unit-squares-area/quiz/geometry-area-perimeter-quiz-1">Quiz 1</a>
    </li>
    <li>
        <a href="https://www.khanacademy.org/math/geometry-home/geometry-area-perimeter/geometry-area-formula-intuition/e/finding-area-by-multiplying">Transition from unit squares to area formula</a>
    </li>
    <li>
        <a href="https://www.khanacademy.org/math/geometry-home/geometry-area-perimeter/geometry-area-formula-intuition/e/find-a-missing-side-length-when-given-area-of-a-rectangle">Find a missing side length when given area</a>
    </li>
</ol>