<h1>Bases de données relationnelles</h1>
<h2>Programme officiel de NSI en terminale</h2>
<p>Le développement des traitements informatiques nécessite la manipulation de données de plus en plus nombreuses. 
    Leur organisation et leur stockage constituent un enjeu essentiel de performance.</p>
<p>Le recours aux bases de données relationnelles est aujourd'hui une solution très répandue. 
    Ces bases de données permettent d'organiser, de stocker, de mettre à jour et d'interroger des données structurées volumineuses 
    utilisées simultanément par différents programmes ou différents utilisateurs. Cela est impossible avec les représentations tabulaires étudiées en classe de première.
    Des systèmes de gestion de bases de données (SGBD) de très grande taille 
    sont au centre de nombreux dispositifs de collecte, de stockage et de production d'informations.</p>
<p>L'accès aux données d'une base de données relationnelle s'effectue grâce à des requêtes d'interrogation 
    et de mise à jour qui peuvent par exemple être rédigées dans le langage SQL (Structured Query Language). 
</p>
<h2>Quelques exemples</h2>
<h3>Facebook et Meta</h3>
<p>En 2024, le réseau social Facebook annonce héberger presque 3 milliards d'utilisateurs mensuels actifs et 2,1 milliards d'utilisateurs actifs quotidiens. 
</p>
<p>L'entreprise Meta qui possède Facebook, Instagram, Whatsapp et Messenger, entre autres, a réalisé 39 milliards de dollars de bénéfices en 2023.</p>
<p>La matière première de ce groupe est constituée des données de ses utilisateurs, notamment utilisée pour de la publicité ciblée. 
Le groupe Meta a plusieurs fois été condamné par l'Union européenne pour ne pas avoir suffisamment protégé ces données.
</p>
<h3>GBIF</h3>
<p>Le GBIF (<em>Global Biodiversity Information Facility</em>, Système mondial d'information sur la biodiversité) est un réseau international et une infrastructure de données 
    financés par les gouvernements mondiaux ayant pour but de fournir à tous et partout un accès libre aux données sur toutes les formes de vie sur Terre.</p>
<p>En 2024, il revendique : </p>
<ul>
    <li>plus de 3 milliards d'observations de plantes, animaux, champigons ou autres formes de vies</li>
    <li>plus de 100 000 jeux de données (autres bases de données compilées sur GBIF)</li>
    <li>2301 institutions éditrices (qui fournissent des données à GBIF)</li>
</ul>
<h3>Wikimedia et Mediawiki</h3>
<p>La Wikimedia Foundation est l'organisation à but non lucratif qui finance Wikipédia et les autres projets libres Wikimédia, pour "apporter la connaissance libre à chacun".</p>
<p>Wikipédia est une encyclopédie libre en ligne écrite en 300 langues.</p>
<p>Chaque mois, plus de 280 000 bénévoles participent aux différents projets de Wikimedia Foundation. 
    Plus de 100 millions de documents numériques libres sont sur Wikimedia Commons. 
    Wikipédia en français compte, en 2024, plus de 2,6 millions d'articles et 17 000 utilisateurs actifs.</p>
<h2>Cours et exercices</h2>
<p><a href="https://codimd.apps.education.fr/s/y0cC0PSz-#">Cours : le modèle relationnel.</a>.</p>
<p><a href="https://codimd.apps.education.fr/s/5hz6y-qM4#">Cours : les systèmes de gestion de bases de données (SGBD).</a>.</p>

<p>Pour le langage SQL, voir les activités Capytale suivantes :</p>
<ol>
    <li>TP-cours : Le langage de requêtes SQL</li>
    <oL>
        <li><a href="https://capytale2.ac-paris.fr/web/c/3bbb-4385598">Création, insertion et affichage d'une table</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/c986-965850">Sélection</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/a987-966001">Modification et suppression</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/3113-966016">Agrégation et calcul</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/e0f1-966030">Jointure</a></li>
    </oL>
    <li>Exercices sur une base de données Cinéma</li>
    <oL>
        <li><a href="https://capytale2.ac-paris.fr/web/c/eff9-1004499">Acteurs et actrices</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/2cfd-1004500">Films</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/1826-1004502">Actrices et acteurs (bis)</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/03ca-1004562">Films (bis)</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/5a41-1004561">Mise à jour</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/7e15-1004571">Sélection</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/98c1-1004573">Calcul et agrégation (acteurs et actrices)</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/0dec-1004574">Jointure sur deux tables</a></li>
        <li><a href="https://capytale2.ac-paris.fr/web/c/2311-1004575">Jointure sur plus de deux tables</a></li>
    </oL>
    <li>Énigmes</li>
    <ol>
        <li><a href="https://capytale2.ac-paris.fr/web/c/167f-1032786">Enquête policière</a></li>
        <li><a href="https://sql-island.informatik.uni-kl.de/?lang=fr">SQL-Island</a></li>
    </ol>
    <p><strong>Note.</strong> Dans le jeu SQL Island, vous devreez utiliser les exrpressions <code>IS NULL</code>, <code>GROUP BY</code> et <code>%LIKE</code> 
        mais elles ne sont pas au programme de terminale : inutile de les retenir en vue du bac. Pour les jointures, utilisez la syntaxe vue en classe : <code>JOIN ... ON</code></p>
</ol>