<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
    import Suppression from '../modeles/06-Suppression.svelte';
    import ExoSuppression from '../modeles/06-ExoSuppression.svelte';
    import ExoSuppressionDernier from '../modeles/06-ExoSuppressionDernier.svelte';
    import ExoSuppressionRecuperation from '../modeles/06-ExoSuppressionRecuperation.svelte';
</script>
<h1>Suppression d'un élément</h1>

<Suppression />

<p>Étudiez l'exemple suivant.</p>
<Python id="exemple" 
exercice = {false}
modifiable = {false}
pendant = {`ma_liste = ['alice', 'bob', 'eve']
print(ma_liste)
x = ma_liste.pop(0)   # suppression du 1er item et affectation à la variable 'x'
print(ma_liste)       # affichage liste modifiée
print(x)              # affichage élément supprimé grâce à 'x'`}        
/>

<h2>Exercice</h2>

<ExoSuppression />

<ExoSuppressionDernier />

<ExoSuppressionRecuperation />