<script>
  import Cadre from '$lib/Cadre.svelte';
	
  import { tweened } from 'svelte/motion';
  import { cubicOut } from 'svelte/easing';
  let n = 2;
  let selection = -1;
  $: n4 = Math.floor( n/16 );
  $: n3 = Math.floor( (n- 16*n4) /8);
  $: n2 = Math.floor( (n- 16*n4 -8*n3) /4);
  $: n1 = Math.floor( (n- 16*n4 -8*n3 -4*n2) /2);
  $: n0 = n % 2;

  function compte_bulles(tab){  // compte les bulles de chaque niveau
		let t = []
		t.push( tab.filter( x => x===4 ).length );
		t.push( tab.filter( x => x===3 ).length );
		t.push( tab.filter( x => x===2 ).length );
		t.push( tab.filter( x => x===1 ).length );
		t.push( tab.filter( x => x===0 ).length );
		return t;
	}
  function verifier(){
	if(restes.filter(x => x>1).length === 0) 
		params_alerte = ["C'est fini ! On ne peut plus regrouper de bulles.","bravo",true];
	} 
	const rayon_max = calculer_rayon(4);
	const largeur_ecran = 14*rayon_max;
	const hauteur_ecran = calculer_y(31)+rayon_max+5;

	let coordonnees = tweened({
		     x:[...creer_abscisses()], 
		     y:[...creer_ordonnees()],
	       r:[...creer_rayons()]}, {
		duration: 600,
		easing: cubicOut
	});
	let niveaux = creer_niveaux();
	let restes = compte_bulles(niveaux);
	

	function actualiser(){
		coordonnees.set({x:[...creer_abscisses()],
										y:[...creer_ordonnees()],
										r:[...creer_rayons()]
									 });
	  niveaux = creer_niveaux();
		restes = compte_bulles(niveaux);
	}
	function creer_abscisses(){
		let a = [];
		for(let i=0; i<31; i++){
			a.push( calculer_x(i) )
		}
		return a
	}
	function creer_ordonnees(){
		let a = [];
		for(let i=0; i<31; i++){
			a.push( calculer_y(i) )
		}
		return a
	}
	function creer_rayons(){
		let a = [];
		for(let i=0; i<31; i++){
			i < n ? a.push(calculer_rayon(0)) : a.push(calculer_rayon(-1));
		}
		return a
	}
	function creer_niveaux(){
		let a = [];
		for(let i=0; i<31; i++){
			i < n ? a.push(0) : a.push(-1);
		}
		return a
	}

	function calculer_x(i){
		return (2*rayon_max*i+rayon_max) % largeur_ecran;
	}
	function calculer_y(i){
		return Math.floor((2*rayon_max*i+rayon_max)/largeur_ecran)*(2*rayon_max)+rayon_max+5;
	}
	function calculer_rayon(n){
	   return n == -1 ? 0 : 10 + 3*n;
  }
	function gerer_clic(i){
		if(selection < 0){
			selection = i;
		}else if(selection === i){
			selection = -1;
		}else if(niveaux[i] === niveaux[selection]){
			let x = $coordonnees.x.map( (e,j) => j===selection ? $coordonnees.x[i] : e );
			let y = $coordonnees.y.map( (e,j) => j===selection ? $coordonnees.y[i] : e );
			niveaux[i] = -1;
			niveaux[selection]++;
			let r = $coordonnees.r.map( (e,j) => calculer_rayon(niveaux[j]) );
			coordonnees.set({x:[...x], y:[...y], r:[...r]});
			selection = -1;
			restes = compte_bulles(niveaux);
			verifier();
		}else{
			params_alerte = ["On ne peut fusionner que deux bulles identiques.","erreur",true];
		}
	}
  const couleurs = ["var(--monbleu)", "var(--monrouge)", "var(--mongris)", "var(--monviolet)", "var(--monvertfonce)", "var(--monpourpre)"];
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];

  let style = `max-width: 100%; width:${largeur_ecran}px; height:${hauteur_ecran}px;`
</script>

<Alerte bind:params_alerte />

<h1>Des bulles deux par deux</h1>
<Cadre classe="afaire">
	<span slot="contenu">	
	<p>Cliquez sur deux bulles identiques, puis recommencez autant que possible. Vous pouvez choisir le nombre de petites bulles
	en bougeant le curseur.</p>
	<p>Pour déselectionner une bulle, cliquez une deuxième fois sur elle.</p>
	</span>
</Cadre>

<div class="tableaudebord" style="width:fit-content; max-width:100%; margin: 0px auto;display:flex;align-items: center;flex-wrap: wrap;" >
<label style="flex: initial; margin: 0px auto;">
	<input type="number" bind:value={n} min="1" max="31" style="width:4em;" on:change={actualiser}/>
	<input type="range" bind:value={n} min="1" max="31" on:input={actualiser} />
</label>
<table style="flex: initial; margin: 0px auto;">
	<tr>
		{#each [4,3,2,1,0] as i}
		   <td>
         <svg width={2*calculer_rayon(i)+2} height={2*calculer_rayon(i)+2}>
					<circle cx={calculer_rayon(i)} cy={calculer_rayon(i)} r={calculer_rayon(i)} 
				  fill={couleurs[i]} />
				</svg> 
			 </td>
	    {/each}
	</tr>
	<tr>
		{#each restes as i}
		     <td style='text-align:center'> {i} </td>
	    {/each}
	</tr>
</table>
</div>
<div class="tableaudebord" style="width: fit-content; max-width: 100%; margin: 5px auto;">
	<svg {style} >
	{#each niveaux as item, index}
		  <!-- svelte-ignore a11y-click-events-have-key-events a11y-no-static-element-interactions -->
	    <circle cx={$coordonnees.x[index]} cy={$coordonnees.y[index]} r={$coordonnees.r[index]} 
				fill={couleurs[niveaux[index]]} stroke=white stroke-width={selection === index ? 5 : 1}
				on:click={() => gerer_clic(index)} />
  {/each}
  </svg>
</div>
