<script>
import {send, receive, animer, flip, quintOut } from '$lib/animation.js';

let solution = Math.floor(Math.random()*1000);
let reponse=0 ;
let propositions = [];
let essais = 0
function verifier(){
    essais ++;
    animer.set(true);
    let classe ;
	  let conseil;
    if(reponse == solution){
        classe = 'vertfonce';
        conseil = `Bravo ! C'était le nombre à deviner. Vous avez réussi en ${essais} essai`+(essais >1 ? "s." : ".");
        params_alerte = [conseil,"bravo",true];
    }else if(reponse < solution){
        classe = 'cadrebleu';
        conseil = 'Trop petit ! Choisissez un nombre plus grand.';
    }else{
        classe = 'cadrerouge';
        conseil = 'Trop grand ! Choisissez un nombre plus petit.';
    }
    propositions.push( {texte:reponse,cle:propositions.length+1, classe:classe+" item_plusoumoins", conseil:conseil});
    propositions = propositions;
    animer.set(false);
}

	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];

</script>
<h1>Jeu du plus ou moins</h1>
<p>
J'ai tiré au hasard un nombre entier compris entre 0 et 999. Saurez-vous le trouver ?
</p>
<label>Votre proposition : 
	<input type="number" bind:value={reponse} min="0" max="999" style="width:5em;"/>
	<input type="range" bind:value={reponse} min="0" max="999" />
    <button on:click={verifier}>vérifier</button>
</label>

{#each [...propositions].reverse() as item (item.cle)}	
    <div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip class={item.classe}>
        Proposition n°{item.cle} : {item.texte}. {item.conseil}
    </div>
{/each}

<Alerte bind:params_alerte />

<style>
.item_plusoumoins{
    padding:1em;
    margin-top:5px;
    border-radius:5px;
}
</style>

