<script>
	import TableauBooleen from '$lib/1NSI/03/TableauBooleen.svelte';

	let titres_colonnes = ["A","B","A OU B"];
	function operation(a,b){
		return a || b;
	}
export let titre = "OU";
</script>

{#if titre}
	<h1>{titre}</h1>
{/if}
<p>Complétez le tableau donnant {titres_colonnes[2]} en fonction de A et de B.</p>
<TableauBooleen {operation} {titres_colonnes} />