<script>
	import TableauBooleen from '$lib/1NSI/03/TableauBooleen.svelte';

	let titres_colonnes = ["A","B","A NON-ET B"];
	function operation(a,b){
		return 1 - (a * b) ;
	}
export let titre = "NON-ET";
</script>

{#if titre}
	<h1>{titre}</h1>
{/if}
<p>Complétez le tableau donnant {titres_colonnes[2]} en fonction de A et de B.</p>
<p>A NON-ET B est équivalent à NON (A ET B)</p>
<TableauBooleen {operation} {titres_colonnes} />