<script>
  import Noeud from './Noeud.svelte';
  import Arete from './Arete.svelte';
	
  export let donnees = [];
	
  let ecart_etage = [0, 82, 42, 22, 12];  // largeur d'une branche suivant l'étage

	let largeur_svg = ecart_etage.reduce((partialSum, a, index) => partialSum + a*(Math.pow(index,2)), 0) / 2;
	$: hauteur = calculer_etage(donnees.length-1);
	$: largeur = Math.ceil(hauteur)*2;
	console.log(largeur_svg);

	function calculer_etage(i){
		return 1 + Math.floor(Math.log2(i+1));
	}
  function calculer_x(i){
		let etage = calculer_etage(i);  
		if(etage === 1){
		  return largeur_svg / 2 ;
		}
		let x = largeur_svg / 2;
		let binaire = (i+1).toString(2);   // commencer à 1
		for(let j=1; j<binaire.length; j++){
			x += binaire[j]==="1" ? ecart_etage[j] : -ecart_etage[j];
		}
		return x;
	}	
	function calculer_y(i){
		return (calculer_etage(i)-1)*72 + 30;;
	}

	let abscisses = [];
	let ordonnees = []
	for(let i=0; i<donnees.length;i++){
		abscisses.push(calculer_x(i));
		ordonnees.push(calculer_y(i));
	}
</script>

<svg width={largeur_svg+20}>
	<g transform="translate(10)">
	{#each donnees as item, index}
		{#if index*2+1 < donnees.length && item.etiquette !=="vide" && donnees[2*index+1].etiquette !=="vide"}
			<Arete donnees={donnees[index].vers_gauche ? donnees[index].vers_gauche : ""}  
				     coordonnees = {[abscisses[index], ordonnees[index], abscisses[2*index+1], ordonnees[2*index+1]]} />
		{/if}
		{#if index*2+2 < donnees.length && item.etiquette !=="vide" && donnees[2*index+2].etiquette !=="vide"}
			<Arete donnees={donnees[index].vers_droite ? donnees[index].vers_droite : ""}  
				     coordonnees = {[abscisses[index], ordonnees[index], abscisses[2*index+2], ordonnees[2*index+2]]} />
		{/if}
		<Noeud  x={abscisses[index]} y={ordonnees[index]} 
			      etiquette = {item.etiquette} 
			      {index}
			      classe = {item.classe}
			      on:noeud_clique
			/>
	{/each}
	</g>
</svg>
<style>
	svg{
		height: 280px;
		padding:0px;
	}
</style>