<script>
	export let coordonnees = []; // x_depart, y_depart, x_arrivee, y_arrivee

	export let donnees; 

	let x_texte = (coordonnees[0]+coordonnees[2])/2;
	let y_texte = (coordonnees[1]+coordonnees[3])/2;

</script>
  <line class={ donnees.classe_ligne } x1={coordonnees[0]} y1={coordonnees[1]} x2={coordonnees[2]} y2={coordonnees[3]} />
  {#if donnees.etiquette}
     <text class={ donnees.classe_texte }  x={ x_texte } y={ y_texte } dominant-baseline='auto'>{ donnees.etiquette }</text>
	{/if}
<style>
line{
	stroke-width: 3;
	fill: none;
	stroke: var(--monbleu);
}
text{
    stroke: var(--monbleu);
	text-anchor:middle;
	font-size: 80%;
}
.rouge{
	stroke: var(--monrouge);
	fill: var(--monrouge);
}
.vert{
	stroke: var(--monvertfonce);
	fill: var(--monvertfonce);
}
.gauche{
	text-anchor:end;
	transform: translate(-3px);
}
.droite{
	text-anchor:start;
	transform: translate(3px);
}
.centre{
    text-anchor: middle;		
}
</style>