<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	import Cadre from '$lib/Cadre.svelte';
  import Arbre from './Arbre.svelte';
  import { creer_arbre_aleatoire, parcours_prefixe, parcours_infixe, parcours_suffixe, parcours_largeur} from './arbres.js';
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];

	export let numero;
	export let liste_parcours;
	export let liste_fonctions = [parcours_largeur, parcours_prefixe, parcours_infixe, parcours_suffixe];
	export let type;
	let nom;
	
  let donnees;
  let solution;
  let compte_essais = 0;
  let nb_clics = 0 ;
  let reussi = false;
	let fini = false;
	let montrer_correction = false;
	let correction;
	
  function initialiser(){
		donnees = creer_arbre_aleatoire();
		nom = liste_parcours[numero];
		solution = [...liste_fonctions[numero](donnees)];	
		
    compte_essais = 0;
		nb_clics = 0;
		reussi = false;
		fini = false;
	}
	initialiser();
	
  function annuler(){
		nb_clics = 0;
		for(let i=0; i<donnees.length;i++){
		    if(donnees[i].etiquette !== "vide"){
				    donnees[i].etiquette = " ";
		    }
    }
  }
	
  function verifier(){
	  if(nb_clics < solution.length){return 0};
		for(let i=0; i<solution.length;i++){
			if(donnees[solution[i]].etiquette !== i+1 ){
				compte_essais++ ;
				let message = ""
				if(type !== "chrono"){
					message = " Essayez un nouveau parcours ou regardez la correction."
				}
				params_alerte = [`Le parcours est incorrect.${message}` ,"erreur",true];
				return 0;
			}
		}
		for(let i = 0; i < solution.length; i++){
			donnees[solution[i]].cliquable = false;
			donnees[solution[i]].classe = "vert";
		}
		compte_essais++ ;
		reussi = true;
		fini = true;
		if(type === "chrono"){
			 exercice_suivant();
		}else{
		  params_alerte = [`Exercice réussi en ${compte_essais} essai${compte_essais > 1 ? "s" : ""}. Vous pouvez recommencer avec un autre exercice aléatoire.` ,"bravo",true];			
		}
  }
	function gerer_clic_noeud(e){
		if(fini){
			return 0;
		}
		if(e.detail.etiquette == nb_clics && nb_clics !== 0){
			 nb_clics--;
			 donnees[e.detail.index].etiquette = " "
		}else{
			if(donnees[e.detail.index].etiquette !== " "){
				return 0;
			}else{
				nb_clics++;
		    donnees[e.detail.index].etiquette = nb_clics;
		    verifier();
			}
		}
	}
	function exercice_suivant(){
		dispatch('exercice_suivant', {
			//...$$props,
		});
	}
	function afficher_correction(){
		correction = donnees.map( (x) => x );
		for(let i = 0; i < solution.length; i++){
			correction[ solution[i] ].etiquette = i+1;
			correction[ solution[i] ].cliquable = false;
			correction[ solution[i] ].classe = "rouge";
		}
		fini = true;
		montrer_correction = true;
	}
</script>

<Alerte bind:params_alerte />

<Cadre classe="afaire">
<span slot="contenu">
<p>Cliquez sur les nœuds de l'arbre binaire en suivant l'ordre de traitement du {nom}.</p>
<p>Vous pouvez revenir en arrière en cliquant à nouveau sur le dernier nœud sélectionné, ou supprimer tout votre parcours avec le bouton "annuler".</p>
</span>
</Cadre>

<div style="width:fit-content;margin:5px auto;">
	<div style="width:fit-content;margin:5px auto;">
	{#if fini}
	    <button on:click={exercice_suivant}>recommencer</button>
	{:else}
		{#if type === "chrono"}
			  {nom}	
		{:else}
		  {#if compte_essais > 0 && type !== "chrono"}
			<button on:click={afficher_correction}>correction</button>
		  {/if}
		{/if}
		<button on:click={annuler}>annuler</button>
	{/if}
	</div>
	<div style="display:flex; flex-wrap: wrap; justify-content: center;">
		{#if montrer_correction}
			<div style="flex:auto">
				<div style="width:fit-content;margin:0px auto;text-align:center;">{nom}</div>
			   <Arbre donnees={correction} />
			</div>
		{/if}
		<div style="flex:auto">
			{#if montrer_correction}
				<div style="width:fit-content;margin:0px auto;text-align:center;">votre parcours</div>
		    {/if}
           <Arbre bind:donnees on:noeud_clique={gerer_clic_noeud} />
		</div>
	</div>
</div>