<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function clique() {
		dispatch('noeud_clique', {
			...$$props, x, y
		});
	}
	export let x;
	export let y;
	export let etiquette;  // ce qui est affiché

	export let cliquable = true;
	export let classe = "";
	export let index = 0;

	$: cursor = cliquable ? 'pointer' : 'default';
</script>

{#if etiquette !=="vide"}
<g on:click={clique} style:cursor role="button" tabindex={index}>
	<circle cx={x} cy={y} r=1em  class={classe} />
	<text {x} {y} dominant-baseline="middle">
	{etiquette}
	</text>
</g>
{/if}

<style>
    text{
        fill: white;
        font-size: 100%;
        text-anchor: middle;
    }
    circle{
        fill: #999;
        stroke: var(--monbleu);
        stroke-width: 3;
    }
	.rouge{
			fill: var(--monrouge);
	}
	.vert{
		fill: var(--monvertfonce);
	}
</style>