<script>
	let dialog;
	export let params_alerte = ["","",true]
	$: texte = params_alerte[0];
	$: classe  = params_alerte[1];
	$: affiche  = params_alerte[2];
	$: if (dialog && affiche) dialog.showModal();

  $: couleur = calculer_couleur(classe);
	
	function calculer_couleur(c){
		if(c == 'erreur'){
			return 'rouge';
		}else if(c == 'bravo'){
			return 'vertfonce';
		}else{
			return 'bleu'
		}
	}

    $: titre = calculer_titre(classe);
	
	function calculer_titre(c){
		if(c == 'erreur'){
			return 'Erreur.';
		}else if(c == 'bravo'){
			return 'Bravo !';
		}else{
			return 'Message.'
		}
	}

</script>
<!-- svelte-ignore a11y-click-events-have-key-events a11y-no-noninteractive-element-interactions -->
<dialog
	bind:this={dialog}
	on:close={() => (affiche = false)}
	on:click|self={() => dialog.close()}
	class = {classe}
>
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	<div on:click|stopPropagation>
	   <div class="titre {couleur}">
			<span>
			{titre}
			</span>
			<!-- svelte-ignore a11y-autofocus -->
			<button  autofocus on:click={() => dialog.close()}>×</button>
	   </div>
	   <div style='padding:1em;box-sizing: border-box;'>
		{@html texte}
	   </div>
	</div>
</dialog>
<style>
dialog {
  width: 32em;
  max-width:90%;
  min-width: fit-content;
  border-radius: 5px;
  border: 2px solid var(--monbleu);
  color: var(--monbleu);
  padding: 0px;
  font-family: sans-serif;
box-sizing: border-box;
}
:global(body.sombre) dialog{
  color: white;
  background-color: #444;
} 
dialog.erreur{
  border: 2px solid var(--monrouge);
  color: var(--monrouge);
}
dialog.bravo{
  border: 2px solid var(--monvertfonce);
  color: var(--monvertfonce);
}
dialog::backdrop{
  background: rgba(66,66,66,0.6);
}
dialog[open] {
  animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
@keyframes zoom {
  from {
  transform: scale(0.95);
  }
  to {
  transform: scale(1);
  }
}
dialog[open]::backdrop {
  animation: fade 0.2s ease-out;
}
@keyframes fade {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
}
button{
	margin-left:1em;
}
.titre{
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
</style>