<script>
export let classe = "" ;
</script>

<section class={classe} >
	<details open>
		<summary><slot name="titre" /></summary>
        <div class="contenu_cadre">
		    <slot name="contenu" />
        </div>
	</details>
</section>

<style>
    section {
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .contenu_cadre{
        margin: 0px 10px;
    }
    summary{
        color: white;
        margin: 0px;
        padding: 10px;
    }
    summary:before{
        font-size: smaller;
    }
	.afaire{
        border: 2px solid var(--monbleu);
    }
    .afaire summary{
        background-color: var(--fondbleu);
    }
    .afaire summary:before{
        content: "À faire. ";
    }
    .aretenir{
        border: 2px solid var(--monrouge);
    }
    .aretenir summary{
        background-color: var(--fondrouge);
    }
    .aretenir summary:before{
        content: "À retenir. ";
    }
    .info{
        border: 2px solid var(--mongris);
    }
    .info summary{
        background-color: var(--fondgris);
    }
    .info summary:before{
        content: "Info. ";
    }
    .exemple{
        border: 2px solid var(--mongris);
    }
    .exemple summary{
        background-color: var(--fondgris);
    }
    .exemple summary:before{
        content: "Exemple. ";
    }
</style>
