<script>

	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function clique() {
		dispatch('cellule_clique', {
			...$$props
		});
	}
	export let valeur = 0;              // pour calculs éventuels
	export let fond = "transparent";    // css backgound-color
	export let image = valeur;          // affichage
	export let i = 0;                   // position dans la matrice 
	export let j = 0;                   // position dans la matrice
	export let cliquable = false;       // peut-on cliquer ?
	export let taille = 30;             // largeur et hauteur de la cellule, en px
	export let grandi = false;          // agrandir la cellule : + 20%
	$: agrandissement = grandi ? 1 : 0.7;
	export let couleur = 'var(--monbleu)';
</script>

<!-- A11y: <div> with click handler must have an ARIA role -->
<div class="case {grandi ? "grandi" : ''}" 
  on:click = {clique}
	on:mouseover={() => grandi = true} 
	on:mouseout={() => grandi = false}
	style:cursor= {cliquable ? "pointer" : "default"}
	style:background-color= "{fond}"
	style:font-size="{taille*0.7}px"
	style:width="{taille}px"
	style:height="{taille}px"
	style:color="{couleur}"
	> 
	{image}
</div>

<style>
.case{
	text-align: center;
}
.grandi{
	transform: scale(1.5);
}
</style>

