<script>
  import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});
	
  import LigneCode from './LigneCode.svelte'
  export let programme = [];
  export let lecture = false;
  export let animer = false;
  export let ligne_active = 0;

	export let mode = "executer";  // autre mode : "fixe" : non modifiable ni exécutable
  
	function sleep(ms) {
    	return new Promise(resolve => setTimeout(resolve, ms));
	}
	//export let init = () => {} ;
	export let init = function(){
		ligne_active = 0;
		lecture = false;
	}
	
	async function executer_ligne_code() {
		lecture = true;
		let i = ligne_active;
		programme[ligne_active].instruction(i);  // garder l'indice en cas d'erreur
		await sleep(900);
		ligne_active ++;
		lecture = false;
  }

	async function executer_tout_code(){
		await init();
		await sleep(610);
		for (let j = 0; j < programme.length; j++) {
			await executer_ligne_code();
		}
	}
	
</script>

{#if mode == "executer"}
<div class="interface">
	Exécuter :
	<button on:click={init} disabled="{lecture || ligne_active == 0}">&lt; début</button>
	<button on:click={executer_ligne_code} disabled="{lecture || ligne_active > programme.length-1}">&gt; suivante</button>
	<button on:click={executer_tout_code} disabled="{lecture || ligne_active > programme.length-1}">&gt;&gt; fin</button>
</div>
{/if}

<div id="console" >
<div>Console Python. Votre code apparaîtra ici.
{#if lecture}<span class="erreur">Exécution...</span>
{/if}
</div> 
	{#each programme as ligne, index (ligne.cle)}
		<div class="ligne" class:actif={ligne_active == index && lecture} in:receive={{ key: ligne.cle }} out:send={{ key: ligne.cle }} animate:flip>
			<LigneCode bind:programme {ligne} {index} {mode} />
		</div>
	{/each}
</div>

<style>
.ligne{
  width: 100%;
  display:grid;
  grid-template-columns: fit-content(3em) fit-content(3em) 3em  fit-content(50ch) auto fit-content(3em);
  align-items: start;
  padding: 0px;
  margin: 0px;
}  
#console{
	border: 3px solid var(--monbleu);
	padding: 5px;
	border-radius: 5px;
	font-family: monospace;
	background-color : black;
	color:white;
}
.interface{
    border: 3px solid var(--monbleu);
    padding: 5px;
    border-radius: 5px;
  }
.erreur{
	background-color : var(--fondrouge);
}
.actif{
	background-color : var(--monbleu);
}
</style>