<script>
	import { onMount } from 'svelte';
	import * as d3 from 'd3';

    import * as graphes from '$lib/graphes.js';
  
	//let svg;
    export let id = "graphe";
	export let largeur = 400;
    export let hauteur = 400;
  
	// Données réactives des nœuds et des arêtes
	export let nodes ;
	export let links ;
    
	onMount(() => {
        (nodes && links) ? graphes.dessinerGraphe(nodes, links, id) : 1;
	});
  </script>
  
  <svg width={largeur} height={hauteur} {id}></svg>

<style>
	svg {
		border: 1px solid var(--mongris);
	}
	.link {
		stroke: #999;
		stroke-opacity: 0.6;
		stroke-width: 5;
	}
	.node {
	cursor: pointer;
	}
</style>