<script>
    import { onMount } from 'svelte';
    
    import {EditorView, basicSetup} from "codemirror";
    import {html} from "@codemirror/lang-html";
    import { EditorState } from '@codemirror/state';
   
    export let pendant = "";
    export let id ="editeur";

    export let modifiable = true;
    export let executable = true;

    let classe = "cadrebleu";
    
    let editor ;
    let init = function(){
        console.log(editor.state.doc.toString());
        programme = pendant;
    };
    onMount(async () => {
      editor = new EditorView({
        doc: pendant,
        extensions: [
            basicSetup,  
            EditorState.readOnly.of(! modifiable), 
            html()
        ],
        parent: document.getElementById(id)
      });
    })

    let programme = pendant;
    let message = "";
    let type_message = "";
    </script>
    
    <div>
        {#if executable}
            <div class="menu_ide">
                <button on:click={executer} class="gauche">exécuter</button>
                <!-- <button on:click={init}>réinitialiser</button> -->
                
                <span class="droite">{chargement}</span>
                <span class="droite">{symbole_resultat}</span> 
                <span class="droite">{nombre_essais}</span>
            </div>
        {/if}
        <div {id}></div>
    </div>