<script>
	import Cellule from '$lib/Cellule.svelte';
    import { tweened } from 'svelte/motion';
    import { cubicOut } from 'svelte/easing';
	import * as matrices from '$lib/matrices.js';

	export let depart_mobile = [0,0];
	export let image_mobile = "";
	let colonne = depart_mobile[0];
	let ligne = depart_mobile[1];
  
	// Store pour l'animation des positions
	let duree = 500;
    let x = tweened(depart_mobile[0], { duration: duree, easing: cubicOut });
    let y = tweened(depart_mobile[1], { duration: duree, easing: cubicOut });
	 
	// tout plateau est codé par une matrice
	export let plateau = matrices.creer_matrice(4,4);
    // correspondance entre les nombres de la matrice et l'affichage
	export let codage = {0:{image:0, fond:"transparent"},
                        1:{image:1, fond:"transparent"},
                        2:{image:2, fond:"transparent"},
                        3:{image:3, fond:"transparent"},
                        4:{image:4, fond:"transparent"},
                        5:{image:5, fond:"transparent"},
                        6:{image:6, fond:"transparent"},
                        7:{image:7, fond:"transparent"},
                        8:{image:8, fond:"transparent"},
                        9:{image:9, fond:"transparent"},
                        10:{image:0, fond:"var(--fondgris)"},
                        11:{image:0, fond:"var(--monvertfonce)", couleur:"white"},
                        12:{image:0, fond:"var(--fondrouge)", couleur:"white"}  // pour la correction
    };
	/*
   const codage = codage_initial;{
		0: {fond:"yellowgreen", image:"🌱"},
		1: {fond:"tan", image:"🌳"},
		2: {fond:"lightgray", image:"⛰️"},
		3: {fond:"aqua", image:"🐟"},
		4: {fond:"#ddd"},
		5: {image: "4"}
	}
   */
  $:largeur = plateau[0].length;
  $:hauteur = plateau.length;

    export let largeur_case = 30;
	export let cliquable = false;

	export let temps = 0;	
    export function init(direct=true){
		temps = 0;
		colonne = depart_mobile[0];
		ligne = depart_mobile[1];
		aller(colonne, ligne, direct)
    }
	init();
  // Fonction pour déplacer le div
    function aller(c,l, direct=false) {
	    let d = direct ? 0 : duree;
			setTimeout(() => {
	    x.set(c * largeur_case, {duration: d});
	    y.set(l * largeur_case, {duration: d});
			}, temps);
		temps += duree;
	    return [c, l]
    }	

	export function afficher_jeu_termine(msg){ 
		// à appeler depuis Python quand le jeu est fini
		// permet de faire patienter 
		setTimeout(() => {
	    alert(msg)
			}, temps);
		temps += duree;
	}
	
    export function gauche(nb, direct=false){
        colonne-=nb;
        return aller(colonne, ligne, direct);
    }
    export function droite(nb, direct=false){
        colonne+=nb;
        return aller(colonne, ligne, direct);
    }
    export function bas(nb, direct=false){
        ligne+=nb;
        return aller(colonne, ligne, direct);
    }
    export function haut(nb, direct=false){
        ligne-=nb;
        return aller(colonne, ligne, direct);
    }

</script>
<div class="grille"
	  style:align-items="center"
	  style:margin="0 auto"
	  style:width="{largeur*largeur_case}px"
	  style:grid-template-columns="repeat({largeur}, {largeur_case}px)"
    style:grid-template-rows="repeat({hauteur}, {largeur_case}px)" >
	{#each plateau as ligne, i}
		{#each ligne as valeur, j}
			<Cellule {i} {j} {valeur} {cliquable}
				on:cellule_clique
				image={codage[valeur].image} 
				fond={codage[valeur].fond}
				couleur={codage[valeur].couleur} />
		{/each}
	{/each}
  <!-- le mobile -->
	<div class="mobile case"
		style:font-size="{largeur_case*0.7}px"
		style:width="{largeur_case}px"
		style:transform="translate({$x}px, {$y}px)"
		>{image_mobile}</div>
</div>
<style>

.grille {
    display: grid;
    gap: 0px;
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 2px solid #333;
	  place-items: center;
}

.mobile{ /* rend un objet mobile */
	position: absolute;
	width:50px;
}
</style>