<script>
    import { onMount } from 'svelte';
    
    import {EditorView, basicSetup} from "codemirror";
    import {python} from "@codemirror/lang-python";
    import { EditorState } from '@codemirror/state';
    import { lineNumbers } from "@codemirror/view";
   
    export let avant = "";
    const nb_lignes_avant = avant.split(/\r\n|\r|\n/g).length-1;
    export let pendant = "";
    export let apres = "";
    export let message_reussite = "<p>Exercice réussi !</p>";
    export let id = "editeur";
    let id_sortie = `${id}_sortie`;
    let sortie = "";  // liste des lignes à afficher avec print : <br> pour aller à la ligne
    export let packages = [];
    export let js_modules = {};

    export let modifiable = true;
    export let executable = true;

    let bouton_desactive = false;

    let nombre_essais = 0;
 
    export let exercice = true;
    export let correction = -1;    // indiquant le nombre d'essais avant affichage de la correction, qui s'affichera lorsque 'correction' vaudra 0
                                   // mettre -1 pour désactiver la correction
    let id_correction = `${id}_correction`;
    export let code_correction = false; // code python de la correction
    export let texte_correction = "<p>Voir ci-dessous une proposition de correction :</p>"; // explications de la correction au format HTML

    let classe = "cadrebleu";
    $: symbole_resultat = calculer_symbole_resultat(classe)
    function calculer_symbole_resultat(c){
        if(c == "cadrebleu"){
            return "-"
        }else if(c == "cadrerouge"){
            return "✗"
        }else{
            return "✅"
        }
    }

    let editor ;
    let init = function(){
        console.log(editor.state.doc.toString());
        editor.dispatch({changes: {
            from: 0,
            to: editor.state.doc.length,
            insert: pendant
        }})
    };
    const numerosLignes = lineNumbers({
        formatNumber: n => (n+nb_lignes_avant).toString()
    })
    onMount(async () => {
      editor = new EditorView({
        doc: pendant,
        extensions: [
            basicSetup,  
            EditorState.readOnly.of(! modifiable), 
            lineNumbers({
                formatNumber: n => (n+nb_lignes_avant).toString()
          }),
            python()
        ],
        parent: document.getElementById(id)
      });
    })

        let programme = pendant;
    
        let message = "";
        let type_message = "";

        let chargement = "";

        let pyodide;
        function convertirHTML(str) {
            const symbols = {
                "&": "&amp;",
                "<": "&lt;",
                ">": "&gt;",
                "\"": "&quot;",
                "'": "&apos;"
            }
            for (const symbol in symbols) {
                if (str.indexOf(symbol) >= 0) {
                const newStr = str.replaceAll(symbol, symbols[symbol])
                return newStr
                }
            }
            return str;
        }
        async function executer() {
            nombre_essais++;
            correction <= 0 ? 0: correction--;
            
            let programme = editor.state.doc.toString();
            let res;
            
            if (!pyodide) {
                bouton_desactive = true;  // bouton d'exécution désactivé
                
                chargement = "Chargement de Python..."
                res = await charger_pyodide();
                
                pyodide = res[0];
                for(const pack in packages){
                    chargement = `Chargement de ${packages[pack]}`;
                    await pyodide.loadPackage(packages[pack]);
                }
                /*
                pyodide.globals.set("print", function(text) {
                    const outputDiv = document.getElementById(id_sortie);
                    if(! outputDiv.innerHTML){
                        outputDiv.innerHTML = '***** Sortie Python *****';
                    }
                    outputDiv.innerHTML += '<br>'+text;
                });
                */
                pyodide.setStdout({ batched: (msg) => {console.log("print\n"+msg); sortie += msg+"\n"} });
                pyodide.registerJsModule("f66400", {
                    input: function (msg = "") {
                        return prompt(msg);
                    }
                });
                for (const module in js_modules) {
	                    pyodide.registerJsModule(module, js_modules[module])
				}
                chargement = res[1];
            }else{
                chargement = "Python est chargé !";
            }
            console.log("btn "+ JSON.stringify(bouton_desactive));
            try {
                bouton_desactive = false;
                let prog_final = avant + programme + "\n" + apres;
                pyodide.runPython("globals().clear()");    // pour ne pas avoir de variable qui traine
                console.log(prog_final);
                let output = pyodide.runPython(prog_final);
                message = message_reussite;
                type_message = "bravo";
                classe = "cadrevertfonce";
                correction = 0;
            } catch (err) {
                let tab = err.message.split(/\r\n|\r|\n/g);

                message = err.message.substring(err.message.indexOf('File "<exec>",')-2); // message d'erreur plus court
                message = "<pre>Traceback (most recent call last):\n"+convertirHTML(message)+"</pre>";
                type_message = "erreur";
                classe = "cadrerouge";
            } finally {
                if(exercice){
                    if(code_correction && correction == 0){
                        message += "<p>Pensez à lire la correction.</p>"
                    }
                }
            }
        }
    </script>
        
   <svelte:head>
        <script src="https://cdn.jsdelivr.net/pyodide/v0.26.1/full/pyodide.js"></script>
        <script type="text/javascript">
        async function charger_pyodide(){
            pyodide = await loadPyodide();
            pyodide.runPython("print('python chargé !')");
            chargement = "Python chargé !";
            return [pyodide, chargement];
        }
        </script>
    </svelte:head>
    <div>
        {#if executable}
            <div class="menu_ide">
                <span class="gauche">
                    <button on:click={executer} title="Exécuter le programme" disabled={bouton_desactive}>▶</button>
                </span>
                <span class="droite">
                    {#if modifiable}
                        <button on:click={init} title="Réinitialiser le code">↺</button>
                    {/if}
                    {#if chargement}
                        <span>{chargement}</span>
                    {/if}
                    {#if code_correction}
                        {#if correction > 0}
                            <span>Essais avant correction : {correction}</span>
                        {/if}
                        {#if correction == 0}
                            <span>Lisez la correction.</span>
                        {/if}
                    {/if}
                    <span>{symbole_resultat}</span> 
                    <span>{nombre_essais}</span>
                </span>
            </div>
        {/if}
        {#if nb_lignes_avant > 0}
        <div><small>({nb_lignes_avant} ligne{nb_lignes_avant > 1 ? "s ":" "}masquée{nb_lignes_avant > 1 ? "s":""})</small></div>
        {/if}
        <div {id}></div>
        {#if executable}
            {#if sortie}
                <div class="menu_ide">
                    <span class="gauche">Sortie</span>
                    <span class="droite"><button  title="Effacer la sortie" on:click = { () => (sortie = "") }>×</button></span>
                </div>
                <pre id={id_sortie} class="console">{sortie}</pre>
            {/if}
        {/if}
        {#if type_message == "erreur"}
        <div style="color:var(--monrouge)">
            {@html message}
        </div>            
        {/if}
        {#if exercice && type_message == "bravo"}
        <div class="vertfonce" style="padding: 5px">
            {@html message}
        </div>            
        {/if}
        {#if correction == 0 && code_correction}
           <div>{@html texte_correction}</div>
           <svelte:self id={id_correction} correction="{-1}" executable={false} modifiable={false} pendant={code_correction} />
        {/if}
</div>
<style>
.console{
    background-color: black; 
    color: white;
    font-family: monospace;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    overflow-x: scroll;
}
</style>