<script>
  import Cadre from '$lib/Cadre.svelte';
  import Navigation from '$lib/Navigation.svelte';
  import { contenus } from '../contenus.js';
</script>

<h1>Instructions conditionnelles et booléens</h1>

<h2>Le cours</h2>

<a href="https://nuage03.apps.education.fr/index.php/s/ZHZkEideaFFgJFa">Booléens et expressions booléennes</a> en PDF.

<h2>Activités en ligne</h2>
<p>Sur f66400 :</p>
<Navigation liste_donnee={$contenus} type="contenus_liste" />
<p>Ailleurs :</p>
<ul>
  <li><a href="https://nandgame.com/">NANDGame</a></li>
  <li><a href="https://codex.forge.apps.education.fr/exercices/autour_des_booleens/">Autour des booléens</a> sur Codex</li>
  <li><a href="https://capytale2.ac-paris.fr/web/c/03f3-3897801">TP Instructions conditionnelles</a> sur Capytale</li>
</ul>

<Cadre classe="aretenir">
  <span slot="contenu">
    <ul>
      <li>Instructions conditionnelles (<code>if, elif, else</code>)</li>
      <li>Valeurs booléennes : 0, 1. Opérateurs booléens : <code>and, or, not</code>.</li>
      <li>Expressions booléennes : dresser la table d’une expression booléenne.</li>
    </ul>
  </span>
</Cadre>
