<script>
    import Intro from './00-intro.svelte';
    import GrilleVide from './01-definition.svelte';
    import CaseVide from './02-case-vide.svelte'; 
    import Victoire from './02-victoire.svelte'; 
    import TicTacToe from './TicTacToe.svelte';

    function verifier_validite_grille(txt){
		// vérifier si on a une grille valide de tic-tac-toc
		// C'est-à-dire une liste python de 9 éléments égaux à "X" ou "O" ou " "
        console.log("verifier_validite_grille"+txt);
		const msg_correct = "Grille valide.";
		let msg = msg_correct;
		if(txt[0] != "["){
			msg = "Le premier caractère du code doit être un crochet ouvrant [. ";
			msg += "Je trouve : "+txt[0]+".";
		}else if(txt[txt.length-1] != "]"){
			msg = "Le dernier caractère du code doit être un crochet fermant ]. ";
			msg += "Je trouve : "+txt[txt.length-1]+".";
		}else{
			try{
                let tab = JSON.parse(txt);
                console.log(tab);
                if(! Array.isArray(tab)){
                    msg = 'Je ne reconnais pas une liste.';
                }else if(tab.length == 9){
                    for(let i=0; i<tab.length; i++){
                        let car = tab[i];
                        if (car != "X" && car != "O" && car != " "){
                            msg = `Élément d'indice ${i} incorrect : <pre>${car}</pre>`;  // <pre> pour les espaces multiples
                        }
                    }
                    grille = tab;
                }else{
                    msg = `Je compte ${tab.length} éléments au lieu de 9.`
                }
            }catch ({ name, message }) {
                console.log(name); // "TypeError"
                console.log(message); // "oops"
                msg = name+"<br>"+message;
            }
		}
		return msg;
	}

  function message_validite(txt){
    console.log("message_validite"+txt);
    let msg = verifier_validite_grille(txt);
    msg == "Grille valide." ? params_alerte = [msg,"bravo",true] : params_alerte = [msg,"erreur",true];
  }

  let g = "Entrez une liste ici";
  let grille = [" ", " ", " ", " ", " ", " ", " ", " ", " "];
  
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Le jeu de tic-tac-toe</h1>

<Intro />

<GrilleVide />

<Victoire />

<p>Tapez ci-dessous une liste python pouvant représenter une grille de tic-tac-toe, c'est-à-dire une liste de 9 éléments étant chacun soit " ", soit "O", soit "X".</p>
<input bind:value={g} />
<button on:click={() => message_validite(g)}>Valider</button>
<p>La grille correspondant à votre code :</p>
<TicTacToe {grille} />