<p>Le tic-tac-toe est un jeu de réflexion qui se joue à deux sur une grille carrée de 9 cases.</p>
<p>La grille comporte 3 lignes de 3 cases. Les deux joueurs, appelés "X" et "O", doivent chacun à leur tour remplir une case vide avec le symbole qui leur est attribué.</p>
<p>Le joueur gagnant est le premier qui réussit à aligner trois symboles sur la même ligne, la même colonne ou la même diagonale.</p>
<p>Ci-dessous se trouvent les étapes d'une partie où "X" gagne.</p>
<div><img style="width:'100%';max-width:'512px';" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Tic-tac-toe-game-1.svg"></div>
<p>Sur cette image, on voit que "X" commence à jouer sur la case de la première ligne et troisième colonne. Puis "O" joue sur la case de la première ligne, première colonne, etc.</p>
<p>"X" gagne en alignant trois "X" sur la troisième ligne.</p>
<p>Nous choisissons de coder l'état d'une grille par une variable <code>grille</code> qui est une liste python de 9 éléments qui sont chacun une chaîne de caractères parmi <code>" "</code>, <code>"X"</code> ou <code>"O"</code>.
Chaque élément est égal au symbole présent dans la grille. Les 9 éléments sont codés dans l'ordre, de gauche à droite et de haut en bas.
</p>
<p>Par exemple, la deuxième grille de l'image ci-dessus sera codée par :</p> 
<p><code>grille = ["O", " ", "X", " ", " ", " ", " ", " ", " "]</code></p>