<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe="afaire">
    <span slot="titre">Grille vide</span>
    <span slot="contenu">
        <p>Affectez à une variable <code>grille</code> une liste codant une grille vide de tic-tac-toe, c'est-à-dire une liste composée de 9 éléments égaux à 
        <code>" "</code></p>
        <Python id="grille_vide"
        apres = {`assert grille == [" ", " ", " ", " ", " ", " ", " ", " ", " "], "Erreur"`}
        />
    </span>
</Cadre>

<Cadre classe="afaire">
    <span slot="titre">Quatrième étape</span>
    <span slot="contenu">
        <p>Affectez à une variable <code>grille</code> une liste codant la grille de tic-tac-toe de la quatrième étape de l'exemple : celle qui contient deux "O" et deux "X".
        <Python id="etape_quatre"
        apres = {`assert grille == ["O", " ", "X", " ", "O", " ", "X", " ", " "], "Erreur"`}
        />
    </span>
</Cadre>