<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe = "afaire">
    <span slot="titre">Case vide</span>
    <span slot="contenu">
        <p>Pour pouvoir jouer sur une case, il faut qu'elle soit vide.</p>
        <p>Programmer une fonction <code>est_vide</code> qui prend deux paramètres : une grille de tic-tac-toe codée par une liste de 9 éléments et un indice compris entre 0 et 8.</p>
        <p>Cette fonction doit renvoyer un booléen : <code>True</code> si la case est vide et <code>False</code> sinon.</p>
        <Python id = "est_vide"
        pendant = {`def est_vide(grille, indice):
    # votre code ici

#tests
g = ["O", " ", "X", " ", "O", " ", "X", " ", " "]
assert not est_vide(g, 0)
assert est_vide(g, 1)`}
apres = {`g = ["O", " ", "X", " ", "O", " ", "X", " ", " "]
assert not est_vide(g, 0)
assert est_vide(g, 1)
assert not est_vide(g, 2)
assert est_vide(g, 3)
assert not est_vide(g, 4)
assert est_vide(g, 5)
assert not est_vide(g, 6)
assert est_vide(g, 7)
assert est_vide(g, 8)
g = [" " for i in range(9)]
for i in range(9):
   assert est_vide(g, i)
g = ["O" for i in range(9)]
for i in range(9):
    assert not est_vide(g, i)
`}
        />
    </span>
</Cadre>

