<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe = "afaire">
    <span slot = "titre">Gagné !</span>
    <span slot = "contenu">
        <p>Lorsqu'un joueur vient de jouer, il faut savoir s'il a gagné.</p>
        <p>Programmez une fonction <code>victoire</code> qui prend en paramètres une grille de tic-tac-toe codée avec une liste de 9 éléments et le symbole d'un joueur ("X" ou "O").</p>
        <p>Cette fonction doit renvoyer un booléen : <code>True</code> si un joueur a gagné, <code>False</code> sinon.</p>
        <Python id = "victoire"
        pendant = {`# votre code ici
            
# tests
g = ["O", " ", "X", " ", "O", " ", "X", " ", " "]
assert not victoire(g, "O")
h =  ["O", "O", "O", " ", "O", " ", "X", " ", " "]  # première ligne
assert victoire(h, "O")
t =  ["O", " ", "O", " ", "O", " ", "X", " ", "O"]  # une diagonale
assert victoire(t, "O")
u =  ["O", " ", "O", " ", " ", "O", "X", " ", "O"]  # troisième colonne
assert victoire(u, "O")
`}

apres = {`g = ["O", " ", "X", " ", "O", " ", "X", " ", " "]
assert not victoire(g, "O")
h =  ["O", "O", "O", " ", "O", " ", "X", " ", " "]  # première ligne
assert victoire(h, "O")
t =  ["O", " ", "O", " ", "O", " ", "X", " ", "O"]  # une diagonale
assert victoire(t, "O")
u =  ["O", " ", "O", " ", " ", "O", "X", " ", "O"]  # troisième colonne
assert victoire(u, "O")

u =  ["X", "X", "X", " ", " ", "O", "X", " ", "O"]  
assert victoire(u, "X"), "première ligne"
u =  [" ", " ", "O", "X", "X", "X", "X", " ", "O"]  
assert victoire(u, "X"), "deuxième ligne"
u =  [" ", " ", "O", "X", " ", "O", "X", "X", "X"] 
assert victoire(u, "X"), "troisième ligne"

u =  ["X", " ", "X", " ", " ", "X", "X", " ", "X"]  
assert victoire(u, "X"), "troisème colonne"

u =  ["X", "X", "X", " ", "X", "X", " ", "X", " "]  
assert victoire(u, "X"), "deuxième colonne"

u =  ["X", " ", " ", "X", " ", " ", "X", " ", "X"]  
assert victoire(u, "X"), "première colonne"

u =  ["X", " ", " ", " ", "X", "X", " ", " ", "X"]  
assert victoire(u, "X"), "première diagonale"

u =  [" ", " ", "X", " ", "X", "X", "X", " ", " "]  
assert victoire(u, "X"), "deuxième diagonale"
`}

        />
    </span>
</Cadre>