<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe = "afaire">
    <span slot = "titre">Jouer</span>
    <span slot = "contenu">
        <p>Programmer une fonction <code>jouer</code>. Cette fonction attend trois paramètres :</p>
        <ol>
            <li>une liste codant une grille de tic-tac-toe ;</li>
            <li>un nombre entier compris entre 0 et 8 (qui sera l'index d'une case de la grille) ;</li>
            <li>une chaîne de caractères égale soit à "X" soit à "O", représentant le symbole d'un joueur.</li>
        </ol>
        <p>Cette fonction doit faire en sorte que le joueur représenté par le troisième paramètre joue dans la case 
            donnée par le second. On suppose que cette case est vide, la fonction ne le vérifie pas.
        </p>
        <p>La fonction ne renvoie rien, elle modifie la liste passée en premier paramètre.</p>
        <Python id="jouer"
        pendant = {`def jouer(g, i, s):
    # votre code ici
    
# test
grille = ["O", " ", "X", " ", "O", " ", "X", " ", " "]
jouer (grille, 1, "X")
assert grille == ["O", "X", "X", " ", "O", " ", "X", " ", " "]`}

apres = {`
grille == ["O", " ", "X", " ", "O", " ", "X", " ", " "]
jouer (grille, 1, "X")
for i in range(9):
  t = [" " for j in range(9)]
  jouer(t, i, "X")
  assert t == [" " if k!=i else "X" for k in range(9)], f"Erreur en {i} avec 'X'"
  t = [" " for j in range(9)]
  jouer(t, i, "O")
  assert t == [" " if k!=i else "O" for k in range(9)], f"Erreur en {i} avec 'O'"
`}
        
        />
    </span>
</Cadre>