<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe="afaire">
    <span slot="titre">Liste des coups de tic-tac-toe, première partie</span>
    <span slot="contenu">
        <p>Nous voudrions garder en mémoire l'ordre des coups d'une partie de tic-tac-toe.</p>
        <p>Comme nous connaissons l'ordre de jeu, qui est "O" puis "X" puis "O" puis "X" etc. Il suffit de garder en mémoire la liste des indices des cases jouées, dans l'ordre.</p>
        <p>Par exemple, l'image donnée plus haut montre que les joueurs placent leurs symboles successivement dans la case 2, puis la case 0, puis la case 6...</p>
        <p>Programmez une fonction <code>enregistrer_coup</code> qui prend deux paramètres : une liste (qui représente la liste des cases déjà jouées) 
            et un nombre entier (qui représente un indice de case). La fonction doit ajouter le nombre à la fin de la liste avec la méthode <code>.append</code>.</p>
        <Python id="ajout_fonction"
pendant = {`# votre code ici
    
# tests
g = [0,2]
enregistrer_coup(g, 7)
assert  g == [0, 2, 7]
enregistrer_coup(g, 6)
assert  g == [0, 2, 7, 6]`}

apres = {`g = [0,2]
enregistrer_coup(g, 7)
assert  g == [0, 2, 7]
enregistrer_coup(g, 6)
assert  g == [0, 2, 7, 6]
h = [0 for i in range(56)]
for i in range(50):
  enregistrer_coup(h, i)
  assert h == [0 for j in range(56)]+[k for k in range(i+1)], "Erreur !"
`}

correction = {5}
code_correction = {`def enregistrer_coup(liste, nombre):
    liste.append(nombre)`}
        />
    </span>
</Cadre>