<script>
	export let grille = [" ", " ", " ", " ", " ", " ", " ", " ", " "];
	$: matrice = [[grille[0],grille[1],grille[2]],
							 [grille[3],grille[4],grille[5]],
							 [grille[6],grille[7],grille[8]]]
</script>

<table class="grille">
	<tbody>
		{#each matrice as ligne}
			<tr>
				{#each ligne as elt}
					<td class="cellule">{elt}</td>
				{/each}
			</tr>		
	{/each}
	</tbody>
</table>

<style>
	.grille{
		border-collapse: collapse;
		margin: 10px;
	}
	.cellule{
		width: 2em;
		height: 2em;
		font-size: 20pt;
		text-align: center;
		border: 2px solid var(--monbleu);
		background-color: var(--mongris);
	}
</style>