<script>
import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="info">
<span slot="contenu">
<p>
 La princesse est habituée au grand luxe, elle ne peut dormir que sur un énorme tas de matelas. 
 Afin de garder l'équilibre, il faut que les matelas soient empilés dans l'ordre, du plus grand en bas jusqu'au plus petit tout en haut.
</p>
<p>
C'est le moment du nettoyage, il faut transporter les matelas du lit situé à gauche sur le lit le plus à droite. 
Vous ne pouvez déplacer qu'un matelas à la fois, d'un lit à l'autre et, sur chaque lit, les matelas doivent être dans l'ordre : 
aucun matelas ne peut être posé sur un matelas plus petit
</p>
</span>
</Cadre>