<script>
	import Cadre from '$lib/Cadre.svelte';
	import Alerte from '$lib/Alerte.svelte';
	import Arbre from '$lib/TNSI/03/Arbre.svelte';
	import {parcours_infixe, creer_arbre_aleatoire, inserer_valeur_abr} from '$lib/TNSI/03/arbres.js';

	let params_alerte = ["","",false];
	let donnees;
    let solution;
    let essais;
    let nb_clics ;
	let reussi;
	let fini;
	let alea;
	let cible;
	let reponse_min;
	let reponse_max;
	let affichage_correction;
	let sol_min=0;
	let sol_max=0;
    function initialiser(){
		reponse_min = 0;
		reponse_max = 0;
		affichage_correction = false;
		// on crée un arbre non étiqueté
		donnees = creer_arbre_aleatoire([0, 0, 0.5, 0.7]);
		// on le parcourt avec le parcours infixe
		solution = parcours_infixe(donnees);
		alea = [0];
		cible = Math.floor(Math.random()*solution.length)
		//on crée les étiquettes de l'ABR avec un parcours infixe et des nœuds croissants aléatoires
		for(let i=0; i<solution.length; i++){
			 alea.push(alea[alea.length-1]+Math.ceil(Math.random()*6)+3);
			if(cible !== i){
				donnees[solution[i]].etiquette = alea[alea.length-1];
			}else{
				donnees[solution[i]].valeur = alea[alea.length-1];
				donnees[solution[i]].etiquette = "?";
			}
			 
		}
		alea.push(alea[alea.length-1]+Math.ceil(Math.random()*6)+3);
		
    essais = [];
		nb_clics = 0;
		reussi = false;
		fini=false;
	}
	initialiser();
  
    function verifier(){
		essais.push([reponse_min, reponse_max]);
		// deux cas particuliers : si la cible est aux extrémités
		sol_min = cible === 0 ? 0 : alea[cible]+1;
		sol_max = cible === solution.length-1 ? alea[cible+2]: alea[cible+2]-1
		if(reponse_min >= reponse_max){
			params_alerte= ["Le plus petit nombre possible doit être inférieur au plus grand.","erreur",true];
		}
		else if(reponse_min !== sol_min){
			params_alerte= ["Le plus petit nombre n'est pas correct. Essayez une autre valeur ou affichez la correction.","erreur",true];
		}
		else if(reponse_max !== sol_max){
			params_alerte= ["Le plus grand nombre n'est pas correct. Essayez une autre valeur ou affichez la correction.","erreur",true];
		}	
	  else{
			params_alerte = [`Exercice réussi après ${essais.length} essai${essais.length==1?"":"s"} ! Vous pouvez recommencer l'exercice avec un autre arbre aléatoire.` ,"bravo",true];
			reussi = true;
			afficher_correction();
		}
  }

	function afficher_correction(){
		console.log(solution[cible]);
		console.log(solution);
		let index = solution.indexOf(solution[cible]); // noeud où est la cible
		for(let i=0; i<solution.length;i++){
			if(i < index){
				 donnees[solution[i]].classe = "vert";
			}else if(i > index){
				 donnees[solution[i]].classe = "rouge";
			}
		}

		affichage_correction = true;
		fini = true;
	}
</script>

<Alerte bind:params_alerte />
<h1>Valeurs possibles dans un arbre binaire de recherche</h1>

<Cadre classe="afaire">
<span slot="contenu">
<p>Ci-dessous se trouve un arbre binaire de recherche dont un nœud est masqué par un point d'interrogation.</p> 
<p>On sait que cet arbre binaire de recherche contient uniquement des nombres entiers, tous différents, 
compris entre {alea[0]} et {alea[alea.length-1]}.</p>
<p>Quels sont le plus petit et le plus grand nombres qu'il est possible d'écrire dans le nœud masqué par un point d'interrogation ?</p>
</span>
</Cadre>

<div style="width:fit-content; display:flex; flex-wrap: wrap; justify-content: center;">
	<div>
	{#if fini}
	    <button on:click={initialiser}>recommencer</button>
		  {#if essais.length > 1}
		      <span style="font-size:small;">(vos essais : {essais.join(" - ")})</span>
			{/if}
	{:else}
		<label >Le plus petit :
	     <input type="number" bind:value={reponse_min} min={alea[0]} max={alea[alea.length-1]} style="width:4em;"/>
	     <input type="range" bind:value={reponse_min} min={alea[0]} max={alea[alea.length-1]} />
    </label>
		<br>
		<label >Le plus grand :
	     <input type="number" bind:value={reponse_max} min={alea[0]} max={alea[alea.length-1]} style="width:4em;"/>
	     <input type="range" bind:value={reponse_max} min={alea[0]} max={alea[alea.length-1]} />
    </label>
	  <button on:click={verifier}>vérifier</button>		
		{#if essais.length > 0}
			<button on:click={afficher_correction}>correction</button>
		{/if}
	{/if}
	{#if affichage_correction}
		{#if cible ===0}
			D'après le texte, les nombres sont compris entre <u>0</u> et {alea[alea.length-1]}.
			D'autre part, l'arbre montre que le nombre masqué est strictement inférieur à {alea[cible+2]}.
			Le plus petit nombre possible est donc 0 et le plus grand est {alea[cible+2]-1}.
		{:else if cible===solution.length-1}
			D'après le texte, les nombres sont compris entre 0 et <u>{alea[alea.length-1]}</u>.
			D'autre part, l'arbre montre que le nombre masqué est strictement supérieur à {alea[cible]}.
			Le plus petit nombre possible est donc {alea[cible]+1} et le plus grand est {alea[alea.length-1]}.
		{:else}
			D'après l'arbre, le nombre masqué doit être strictement supérieur à <span class="vertfonce" style="padding:0 3px;">{alea[cible]}</span>
			et strictement inférieur à <span class="rouge" style="padding:0 3px;">{alea[cible+2]}</span> 
	Le plus petit nombre possible est donc {alea[cible]+1} et le plus grand est {alea[cible+2]-1}.
		{/if}
	{/if}
	</div>
	<div>
    <Arbre bind:donnees/>
	</div>
</div>