<script>
 	import { page } from '$app/stores';
    import Navigation from '$lib/Navigation.svelte';
    import { contenus } from '../contenus.js';
</script>
<h1>Nombres entiers naturels</h1>

<p>Au menu de ce chapitre, des activités en ligne :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<p>Un <a href="https://nuage03.apps.education.fr/index.php/s/AZzsHpLCWfYGpsr">cours et des exercices en PDF.</a></p>