<script>
  import Arbre from '$lib/TNSI/03/Arbre.svelte';
  import {est_feuille, creer_arbre_aleatoire} from '$lib/TNSI/03/arbres.js';
  import Cadre from '$lib/Cadre.svelte';
	import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];

  let donnees;
  let reussi;
  
  function gerer_clic_noeud(event){
    if(reussi){
      params_alerte = [ "Exercice réussi, l'abre n'est plus modifiable.","erreur",true];
    }else{
      donnees[event.detail.index].classe = donnees[event.detail.index].classe === "rouge" ? "" : "rouge";
      donnees = donnees;
    }
  }
  let compte_essais;

  function initialiser(){
     compte_essais = 0;
     donnees = creer_arbre_aleatoire();
     reussi = false;
  }
  initialiser();

  function verifier(){
    compte_essais++ ;
	  let compte_erreurs = 0;
    for(let i=0; i< donnees.length; i++){
      if(donnees[i].etiquette !== "vide" && est_feuille(i, donnees) !== (donnees[i].classe === "rouge")){
        compte_erreurs++
      }
    }
    if(compte_erreurs === 0){
      reussi = true;
      params_alerte = [`Exercice réussi en ${compte_essais} essai${compte_essais > 1 ? "s" : ""}. Vous pouvez recommencer l'exercice avec un autre arbre aléatoire.`,"bravo", true];
    }else{
      params_alerte = [`Je compte ${compte_erreurs} erreur${compte_erreurs > 1 ? "s" : ""}.`,"erreur", true];
    }
  }
</script>

<Alerte bind:params_alerte />
<h1>Trouvez les feuilles</h1>
<Cadre classe="aretenir">
  <span slot="contenu">
    <p>Une <strong>feuille</strong> est un nœud d'un arbre qui ne possède pas de fils.</p>
  </span>
</Cadre>
<Cadre classe="afaire">
<span slot="contenu">
<p>Coloriez en rouge toutes les feuilles (et uniquement les feuilles) de cet arbre en cliquant dessus. Cliquez une deuxième fois sur un nœud si vous voulez enlever sa couleur.</p>
<p>Ensuite, cliquez sur le bouton "vérifier".</p>
</span>
</Cadre>
<div style="margin:0px auto; width:fit-content">
{#if reussi}
  <button on:click={initialiser}>recommencer</button>
{:else}
  <button on:click={verifier}>vérifier</button>
{/if}
</div>
<div style="margin:0px auto; width:fit-content">
     <Arbre bind:donnees 
			  on:noeud_clique={gerer_clic_noeud}
			/>
</div>
