<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    import LectureElement from '../modeles/02-LectureElement.svelte';

    import IntroPicus from '../12-picus/00-intro.svelte';
    import CompterPicus from '../12-picus/02-compter-visites-quatre.svelte';

    import IntroTicTacToe from '../10-tic-tac-toe/00-intro.svelte';
    import CaseVide from '../10-tic-tac-toe/02-case-vide.svelte'; 
    import Victoire from '../10-tic-tac-toe/02-victoire.svelte'; 

</script>

<h1>Lecture d'un élément</h1>
<h2>Le cours</h2>
<p>Comme les éléments d'un tableau sont classés dans un cetain ordre, il est logiquement possible de lire un élément particulier d'un tableau à partir de son numéro d'ordre.</p>

<LectureElement />

<p>Cette syntaxe est la même pour les tuples et les listes. Nous l'avons déjà vue pour les chaînes de caractères.</p>
<p>Le premier élément de <code>tab</code> est <code>tab[0]</code>, son deuxième élément est <code>tab[1]</code>, etc.</p>
    

<Cadre classe="exemple">
    <span slot="titre">Exemple</span>
    <span slot="contenu">
        <p>Si Pérette possède quatre éléments, respectivement "veau", "vache", "cochon" et "couvée". On peut les représenter ainsi dans un tableau :</p>
        <table>
            <tr>
            <th>Items :</th>
              <td><code>"veau"</code></td>
              <td><code>"vache"</code></td>
              <td><code>"cochon"</code></td>
              <td><code>"couvée"</code></td>
            </tr>
            <tr style='font-size:80%;text-align:center'>
            <th>Indices : </th>
              <td>0</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
            </tr>
        </table>
        <p>Ci-dessous se trouve le même tableau, mais avec la syntaxe de Python. Étudiez ce code. Vous pouvez l'exécuter  : le programme va afficher deux messages puis renvoyer une erreur.</p>

<Python
id = "exemple"
modifiable = {false} 
executable = {true}
pendant = {`perette = ("veau", "vache", "cochon", "couvée")
print(perette[0])  # affichage du premier élément
print(perette[3])  # affichage de du 4e élément, d'indice 3
print(perette[4])   # erreur : index trop grand)`}
/>
    </span>
</Cadre>

<h2>Exercices</h2>
<Cadre classe="afaire">
    <span slot="titre">Les mois de l'année.</span>
    <span slot="contenu">
        <p>Programmez une fonction <code>mois</code> qui prend en paramètre <code>numero</code>, qui est un nombre entier compris entre 1 et 12.
            La fonction doit renvoyer le nom du mois correspondant à <code>numero</code>.</p>
        <p>Par exemple, <code>mois(1)</code> doit renvoyer <code>"janvier"</code>.</p>
        <p>Vous disposez de la liste suivante : <code>tab_mois = ("janvier", "février", "mars",
            "avril", "mai", "juin", "juillet", "août",
            "septembre", "octobre", "novembre", "décembre")</code></p>

        <Python 
        id = "exomois"
        pendant = {`tab_mois = ("janvier", "février", "mars",
"avril", "mai", "juin", "juillet", "août",
"septembre", "octobre", "novembre", "décembre")
def mois(numero):
    # votre code ici

assert mois(1) == "janvier", "erreur pour le mois de janvier"`}
apres = {`t = ("janvier", "février", "mars",
"avril", "mai", "juin", "juillet", "août",
"septembre", "octobre", "novembre", "décembre")

for i in range(1, 13):
    assert mois(i) == t[i-1], f"Erreur avec le numéro {i}"`}
        
    correction = {5}
    code_correction = {`def mois(numero):
    nom = tab_mois[numero - 1]
    return nom`}
    />
    </span>

</Cadre>


<Cadre classe="afaire">
    <span slot="titre">Durée en heures, minutes, secondes</span>
    <span slot="contenu">
        <p><small>(Inspiré d'un exercice de Codex)</small></p>
    <p>Vous disposez de durées exprimées sous forme de listes de trois nombres entiers, sous la forme <code>[heures, minutes, secondes]</code>.
        Par exemple, la durée 1 heure 12 minutes 30 secondes sera codée <code>[1, 12, 30]</code>.</p>
    <p>Vous devez programmer une fonction <code>convertir_secondes</code> qui prend en paramètre une liste écrite sous la forme <code>[heures, minutes, secondes]</code> et qui renvoie
        le nombre de secondes qui correspond à cette durée.</p>
    <p>Par exemple, <code>convertir_secondes( [1, 12, 30] )</code> devra renvoyer <code>4350</code>.</p>
    <Python 
    id = "exosecondes"
    pendant={`# votre code ici

assert convertir_secondes( [0, 0, 30] ) == 30
assert convertir_secondes( [0, 3, 0] ) == 180
assert convertir_secondes( [1, 12, 30] ) == 4350`}

apres = {`assert convertir_secondes( [0, 0, 30] ) == 30
assert convertir_secondes( [0, 3, 0] ) == 180
assert convertir_secondes( [1, 12, 30] ) == 4350

for i in range(10):
    for j in range(10):
        for k in range(10):
            assert convertir_secondes( [i, j, k] ) == 60*60*i + 60*j + k, f"{[i, j, k]} -> {convertir_secondes( [i, j, k] )} au lieu de {60*60*i + 60*j + k}"`}
            
correction = {5}
code_correction = {`def convertir_secondes( hms ):
    h = hms[0]*60*60  # heures en secondes
    m = hms[1]*60     # minutes en secondes
    temps = h + m + hms[2]
    return temps`}   />
    </span>

</Cadre>

<Cadre classe="afaire">
    <span slot="titre">Gareth Bale, humour <em>british</em> et sens des priorités.</span>
    <span slot="contenu">
        <p>Alors qu'il était sous contrat avec le Real Madrid FC, certains supporters de ce club reprochaient au footballeur gallois Gareth Bale de ne pas toujours donner son maximum pendant les matchs.
            Souvent blessé, il était aussi connu pour aimer jouer au golf pour se détendre. La rumeur courait qu'il préférait jouer au golf que s'entraîner avec son club de football.</p>
        <p>Lors des célébrations suivant le match qualifiant le Pays de Galles pour l'Euro 2020, Gareth Bale est allé poser devant une bannière brandie par des supporters gallois, sur laquelle il
            était écrit <q><em>Wales, golf, Madrid. In that order</em></q>. La photo a fait le tour du monde.
        </p>
        <p> Si les supporters gallois avait écrit en Python au lieu de l'anglais, il aurait pu coder ainsi :</p>
            <Python id="bale"
            executable = {false}
            modifiable = {false}
            pendant = {`bale = ("Wales", "golf", "Madrid")`}
            />

        <p> Vous êtes coach d'une équipe de football dont les joueurs ou joueuses n'ont pas le sens des priorités que vous souhaiteriez.</p>
        <p>Comme Gareth Bale, leurs priorités sont un tuple de la forme <code>(pays, loisir, club)</code> dans cet ordre. Vous voulez que cela devienne <code>(pays, loisir, club)</code>.
            Programmez une fonction python <code>priorite</code> qui prend en paramètre un tuple de trois éléments <code>(pays, loisir, club)</code> et le renvoie un tuple avec les mêmes éléments, mais
            dans l'ordre : <code>(club, pays, loisir)</code>.</p>
        <p>Par exemple, pour <code>("Wales", "golf", "Madrid")</code>, la fonction doit renvoyer <code>("Madrid", "Wales", "golf")</code>.</p>
        <Python 
        id="exopriorite"
        pendant = {`
#tests
bale = ("Wales", "golf", "Madrid")
assert priorites(bale) == ( "Madrid", "Wales", "golf"), str(priorites(bale))

grizou = ("France", "fortnite", "Atlético")
assert priorites(grizou) == ("Atlético", "France", "fortnite"), str(priorites(grizou))`}

apres = {`bale = ("Wales", "golf", "Madrid")
assert priorites(bale) == ( "Madrid", "Wales", "golf")
grizou = ("France", "fortnite", "Atlético")
assert priorites(grizou) == ("Atlético", "France", "fortnite")
ney = ("Brésil", "fête", "PSG")
assert type(priorites(ney)) == tuple, "Votre fonction ne renvoie pas un tuple"
assert len(priorites(ney)) == 3, "Le tuple renvoyé contient "+str(len(priorites(ney)))+" items au lieu de 3"
assert priorites(ney) == ("PSG", "Brésil", "fête")`}

correction = {5}
code_correction = {`def priorites(joueur):
    pays = joueur[0]
    autre = joueur[1]
    club = joueur[2]
    return (club, pays, autre)`}
    />
    </span>
</Cadre>

<h2>Fil rouge : Picus</h2>

<IntroPicus />
<CompterPicus />

<h2>Fil rouge : Tic-tac-toe</h2>

<IntroTicTacToe />

<CaseVide />

<Victoire />