<script>
	import MatriceLecturePython from '../modeles/08-MatriceLecturePython.svelte';
	import ExoMatriceLecturePython from '../modeles/08-ExoMatriceLecturePython.svelte';
	import ExoMatriceModificationPython from '../modeles/08-ExoMatriceModificationPython.svelte';
</script>

<h1>Matrices en Python : lecture et modification d'un élément</h1>

<MatriceLecturePython />

<ExoMatriceLecturePython />

<ExoMatriceModificationPython />



