<script>
 	import { page } from '$app/stores';
  import Navigation from '$lib/Navigation.svelte';
  import { onMount } from 'svelte';

  onMount(() => {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        window.document.body.classList.add('sombre');
    }
  });

</script>

<Navigation page={$page.url.pathname} type="ariane"/>

<div id="contenu">
<slot/>
</div>

