<h1>NSI Lycée de Céret</h1>
	<p>Bienvenue sur la page d'accueil de NSI au lycée Déodat-de-Séverac de Céret (Pyrénées-Orientales).</p>
	<p>Vous trouverez ci-dessous les liens vers les supports de cours 2024-2025 de :</p>
    <ul>
		<li><a href="1NSI">Première NSI</a></li>
		<li><a href="TNSI">Terminale NSI</a></li>
		<li><a href="DNL2">Section européenne en seconde - mathématiques en anglais</a></li>
	</ul>