<h1>Graphes</h1>

<p>Le cours sera fait en classe, sur des feuilles de papier.</p>

<h2>Activités</h2>
<ol>
    <li>TP POO : <a href="https://capytale2.ac-paris.fr/web/c/916e-2663030">Dessiner des graphes avec Graphviz</a> sur Capytale</li>
</ol>

<h2>Matrices</h2>
<p>Les matrices permettent de représenter les graphes et de les coder en Python.</p>

<ol>
    <li>Cours et exercices interactifs : <a href="../../1NSI/09/07-matrices">matrices</a></li>
    <li>Cours et exercices interactifs : <a href="../../1NSI/09/08-matrices-element-python">lecture et modification d'un élément d'une matrice</a></li>
    <li>TP-cours : <a href="https://capytale2.ac-paris.fr/web/c/f9d9-2654049">écriture de matrices et tic-tac-toe</a> sur Capytale</li>
    <li>TP : <a href="https://capytale2.ac-paris.fr/web/c/2e6c-2766453">matrices et images</a> sur Capytale</li>
    <li>Exercice interactif : <a href="01-matrice-graphe-simple">matrice d'un graphe simple</a></li>
    <li>Exercice interactif : <a href="02-matrice-graphe-oriente">matrice d'un graphe orienté</a></li>
    <li>TP : <a href="https://capytale2.ac-paris.fr/web/c/2c39-2663613">représentation de graphes par des matrices</a> sur Capytale</li>
</ol>
<h2>Dictionnaires</h2>
<p>Il est également possible de coder des graphes à l'aide de dictionnaires.</p>
<ol>
    <li><a href="http://www.lumni.fr/video/les-dictionnaires">Cours sur les dictionnaires en vidéo</a> sur le site de Lumni</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/3b1e-2528387">TP-cours</a> sur Capytale</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/3704-2663567">TP : Graphes : Implantation par listes de successeurs</a> sur Capytale</li>
    <li><a href="https://eduscol.education.fr/document/33073/download"> Ex 2 du sujet de bac écrit 21-NSIJ1G11</a></li>
    <li><a href="https://eduscol.education.fr/document/59475/download"> Ex 2 partie B du sujet de bac écrit 24-NSIJ1AN1</a></li>
    <li><a href="https://eduscol.education.fr/document/59165/download?page=3">Ex 3 du sujet de bac écrit 24-NSIJ2ME1</a></li>
</ol>
