<script>
import { page } from '$app/stores';
import Navigation from '$lib/Navigation.svelte';
import Cadre from '$lib/Cadre.svelte';
</script>

<h1>Spécialité NSI en Terminale</h1>

<h2>
   Le bac
 </h2>
 <h3>
   Les spécialités
 </h3>
 <p>
   Le total des coefficients du bac est égal à 100. La moitié est constituée par les spécialités :
 </p>
 <ul>
   <li>la spécialité abandonnée en fin de première est coefficient 8 en contrôle continu ;</li>
   <li>les deux autres spécialités sont coefficient 16 chacune ;</li>
   <li>le grand oral, basé sur une ou deux des spécialités gardées en terminale est coefficient 10.</li>
 </ul>
 <h3>L'épreuve de NSI</h3>
 <p>
   Au mois de juin, vous passerez les épreuves terminales : NSI, autre spécialité, philosophie puis grand oral.
 </p>
 <p>
   En NSI, l'épreuve est constituée de deux parties : une partie écrite (qui a lieu la veille ou le lendemain de l'épreuve écrite de l'autre spécialité) et une épreuve pratique.
 </p>
 <p>
   L'épreuve écrite dure 3 h 30 et est constituée de trois exercices, pour un total de 20 points. L'épreuve pratique, passée un autre jour, dure 1 heure. Elle est composée de deux exercices de programmation, dont un exercice à trou, notés chacun sur 10 points. L'épreuve écrite compte pour trois quarts de la note finale de NSI, l'épreuve pratique pour un quart. Les sujets de l'épreuve pratique seront <a href="https://cyclades.education.gouv.fr/delos/public/listPublicECE">publiés quelques semaines avant l'épreuve</a>.
 </p>
 <p>
   Vous passerez l'épreuve pratique dans une salle informatique, sur un des sujets publiés, qui aura été choisi par l'examinateur. 3 ou 4 candidats passeront ensemble, probablement dans un autre lycée, à Argelès ou Perpignan, cela sera indiqué sur votre convocation.
 </p>
 <h3>
   Le grand oral
 </h3>
 <p>
 Le grand oral est une épreuve orale qui dure 20 minutes (10 minutes de présentation puis 10 minutes de questions-réponses). Vous devrez préparer deux questions portant sur les deux spécialités de terminale (une question de chaque spécialité ou des questions mêlant les deux spécialités). Le jury, composé de deux examinateurs dont un enseignant d'une des spécialités, choisira sur quelle question vous passerez, puis vous aurez 20 minutes pour vous préparer à passer. <a href="https://www.education.gouv.fr/reussir-au-lycee/baccalaureat-comment-se-passe-le-grand-oral-100028">Voir le site du ministère</a> pour en savoir plus.
 </p>
 <h2>
   Les chapitres de cours
 </h2>
 
<Navigation page={$page.url.pathname} type="chapitres"/>

<Cadre classe="aretenir">
<span slot="titre">
Matériel obligatoire
</span>
<span slot="contenu">
<p>Pour les séances de NSI il vous faudra :</p>
<ol>
   <li>vos identifiants pour le réseau du lycée ;</li>
   <li>vos identifiants pour l'ENT ;</li>
   <li>un classeur, avec des feuilles à la fois pour ranger les fiches papier distribuées et pour écrire, chercher au brouillon.</li>
</ol>
</span>
</Cadre>