<h1>Protocoles de routage</h1>
<h2>Architecture des réseaux et protocoles de communication</h2>

<a href="http://www.lumni.fr/video/l-architecture-des-reseaux-et-les-protocoles-de-communications">Cours en vidéo</a> sur le site lumni.fr pour revoir et approfondir la notion de réseau informatique.

<h2>La table de routage</h2>
<p>Comme dit dans la vidéo, chaque routeur possède une <dfn>table de routage</dfn>. Cette table comporte, sur chaque ligne :
</p>
<ul>
    <li>Une <dfn>destination</dfn> : adresse d'un réseau où on peut envoyer une trame ou un paquet.</li>
    <li>Une <dfn>passerelle</dfn> : adresse du prochain routeur où il va envoyer les paquets pour atteindre la destination.</li>
    <li>La <dfn>distance ou métrique</dfn> : la plus courte distance pour obtenir la destination en passant par la passerelle.</li>
    <li>Une <dfn>interface</dfn> qui est une des adresses IP du routeur en question.</li>
</ul>

<p>Pour simplifier la lecture, les routeurs sont parfois nommés par des lettres : A, B, C... plutôt que leurs adresses IP.
</p>


<figure class="container">
    <img class="image" alt = ""
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Panneaux_D21a.JPG/512px-Panneaux_D21a.JPG">
    <figcaption>
        Un routeur peut être comparé à un carrefour routier. La table de routage est l'ensemble des panneaux de direction. 
        Dans l'image, on voit que pour la destination ISDES, la passerelle est le prochain carrefour situé sur la D51 et la distance est 9.
    </figcaption>
    </figure>



<h2> Quelle route ?</h2>
<p>L'objectif d'une table de routage est de donner la "meilleure" route pour accéder à la destination. 
Les routeurs communiquent souvent entre eux pour établir quelles sont les meilleures routes. Cela peut évoluer : pannes diverses, ajout ou retrait de machines sur le réseau.
</p>
<p>Il existe plusieurs méthodes pour calculer ces routes les plus courtes. Nous en verrons deux : les protocoles RIP et OSPF.
</p>


<h3>Le protocole RIP</h3>
<p>Le <dfn>protocole RIP</dfn> consiste à compter le nombre de "sauts" entre routeurs. La route la plus courte est celle qui passe par le moins de routeurs différents.
Dans ce cas, passer directement d'un routeur A à un routeur B compte pour 1, quelle que soit la longueur ou la qualité de la connexion entre les deux.</p>

<h3>Le protocole OSPF</h3>

<p>
    Les différents modes de connexion physiques ont des débits différents. 
    Le <dfn>protocole OSPF</dfn> consiste à attribuer un coût à chaque liaison entre deux routeurs. Plus le débit est grand, plus le coût est faible.
</p>
<p>
    Le coût de chaque liaison est égal à une constante C (souvent le plus grand débit possible) divisé par le débit de la liaison : Coût = C / débit 
</p>
<p>Ensuite, les routeurs déterminent le meilleur chemin : c'est celui pour lequel la somme des coûts est la plus petite.
</p>

<h2>Exercices</h2>
<ol>
    <li><a href="https://pixees.fr/informatiquelycee/term/suj_bac/2021/sujet_01.pdf">Ex 5 du sujet 0 de 2019</a></li>
    <li><a href="https://pixees.fr/informatiquelycee/term/suj_bac/2023/sujet_01.pdf">Ex 2 du sujet 0 numéro 1 de 2023</a> avec la notion d'adresse réseau</li>
    <li><a href="https://eduscol.education.fr/document/45109/download">Ex 5 de 22-NSIJ1AS1</a></li>
    <li><a href="https://eduscol.education.fr/document/44992/download">Ex 4 de 22-NSIJ2ME3</a></li>
    <li><a href="https://eduscol.education.fr/document/45535/download">Ex 4 de 22-NSIJ2NC1</a></li>
    <li><a href="https://eduscol.education.fr/document/32917/download">Ex 1 de 21-NSIJ2ME3</a></li>
    <li><a href="https://eduscol.education.fr/document/33073/download">Ex 4 de 21-NSIJ1G11</a></li>
</ol>