<script>
	import Cadre from '$lib/Cadre.svelte';
	import ExoIndiquerCellule from '../modeles/07-ExoIndiquerCellule.svelte';
    import ExoCliquerCellule from '../modeles/07-ExoCliquerCellule.svelte';
	import Matrices from '../modeles/07-Matrices.svelte';
</script>

<h1>Matrices</h1>

<Matrices />

<p>Voici un exemple de matrice comprenant deux lignes et trois colonnes.</p>
<table>
	<tbody>
		<tr>
			<td>0</td>
			<td class="fondgris">3</td>
			<td>7</td>
			<td><small><em>← première ligne</em></small></td>
		</tr>
		<tr>
			<td>1</td>
			<td>6</td>
			<td>5</td>
			<td><small><em>← deuxième ligne</em></small></td>
		</tr>

	</tbody>
</table>

<p>On peut constater que le nombre situé sur la première ligne et la deuxième colonne est 3.</p>
<p>Les matrices sont souvent utilisées  en informatique : elles peuvent coder des images numériques,
des plateaux de jeux, mais aussi beaucoup d'autres choses. 
Elles sont aussi très importantes en physique et en mathématiques.</p>
<p>En terminale NSI, on les utilise pour coder des graphes, ce qui permet de représenter des réseaux sociaux ou informatiques, des cartes, des labyrinthes...</p>
<Cadre classe="aretenir">
	<span slot="titre">Repérer une case</span>
	<span slot="contenu">
		<p>On repère une case d'une matrice grâce à deux nombres :</p>
		<ol>
			<li>d'abord l'indice de sa ligne (la première ligne est d'indice 0,
			la deuxième d'indice 1, etc.)</li>
			<li>puis par l'indice de sa colonne.</li>
		</ol>
	</span>
</Cadre>
<p>Par exemple, dans la matrice ci-dessous, le nombre 3 serait repéré par les 
	nombres 0 (indice de la première ligne) et 1 (indice de la deuxième colonne).</p>
	<table>
	<tbody>
		<tr>
			<td>0</td>
			<td class="fondgris">3</td>
			<td>7</td>
			<td><small><em>← ligne 0</em></small></td>
		</tr>
		<tr>
			<td>1</td>
			<td>6</td>
			<td>5</td>
			<td><small><em>← ligne 1</em></small></td>
		</tr>
		<tr>
			
			
		</tr>
	</tbody>
</table>


<ExoCliquerCellule />

<ExoIndiquerCellule />

