<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    import Modification from '../modeles/04-Modification.svelte';

    import IntroPicus from '../12-picus/00-intro.svelte';

    import IntroTicTacToe from '../10-tic-tac-toe/00-intro.svelte';
    import Jouer from '../10-tic-tac-toe/04-jouer.svelte'; 
    

</script>
<h1>Modification d'un élément</h1>
<h2>Le cours</h2>
<Modification />

<p>Par exemple, exécutez le code suivant et étudiez-le. Il va lever une erreur lorsqu'on essaie de modifier le tuple.</p>
        <Python id="exemple"
modifiable = {false}
pendant = {`courses = ["pommes", "bananes", "noix"]
print("Ma liste : ",courses)
courses[0] = "figues"                  # modification
print("Liste modifiée :",courses)
fruits = ("pommes", "bananes", "noix") # tuple non modifiable
fruits[0] = "figues"                   # erreur !`}
        />

<p>Notez que la modification d'un élément d'une liste est possible en passant le tableau dans une fonction.</p>
<p>Par exemple, il est possible de programmer une fonction <code>figues</code> qui prend en paramètre une liste non vide et remplace son premier élément par <code>"figues"</code>.
Étudiez l'exemple suivant.</p>

<Python id="figues"
modifiable="{false}"
pendant={`def figues(liste):
  liste[0] = "figues"
  
# tests
tab = [1, 2, 2]
figues(tab)  # on modifie
print(tab)   # on affiche
# autre exemple
bale = ["Wales", "golf", "Madrid"]
figues(bale)
print(bale)`}
/>

<h2>Fil rouge : Tic-tac-toe</h2>

<IntroTicTacToe />

<Jouer />

<h2>Exercices</h2>
<Cadre classe="afaire">
        <span slot="titre">Permuter les extrêmes</span>
        <span slot="contenu">
                <p>Programmez une fonction <code>permuter_extremes</code> qui prend en paramètre une liste comprenant au moins deux éléments.</p>
                <p>Cette fonction doit permuter, dans la liste donnée en paramètre, le premier et le dernier élément.</p>
                <p>La fonction ne renvoie rien, elle modifie la liste comme vu plus haut avec l'exemple <code>figues</code>.</p>
                <Python id="permuter_extremes"
                pendant = {`# votre code ici
                        
# tests
bale = ["Wales", "golf", "Madrid"]
permuter_extremes(bale)
assert bale == ["Madrid" , "golf", "Wales"], "Erreur avec permuter_extremes(bale)"
courses = ["pommes", "bananes", "noix", "figues"]
permuter_extremes(courses)
assert courses == ["figues", "bananes", "noix", "pommes"], "Erreur avec permuter_extremes(courses)"`}

apres = {`bale = ["Wales", "golf", "Madrid"]
permuter_extremes(bale)
assert bale == ["Madrid" , "golf", "Wales"], f"Erreur avec {bale})"
courses = ["pommes", "bananes", "noix", "figues"]
permuter_extremes(courses)
assert courses == ["figues", "bananes", "noix", "pommes"], f"Erreur avec {courses})"
t = [1,2,3,4,5]
permuter_extremes(t)
assert t == [5,2,3,4,1]
permuter_extremes(t)
assert t == [1,2,3,4,5]`}
                />
        </span>
</Cadre>


<Cadre classe="afaire">
        <span slot="titre">Permuter</span>
        <span slot="contenu">
                <p>Programmez une fonction <code>permuter</code> qui prend trois paramètres :</p>
                <ul>
                        <li>une liste comprenant au moins un élément ;</li>
                        <li>deux indices valides pour cette liste : <code>i</code> et <code>j</code>.</li>
                </ul>
                <p>Cette fonction doit permuter, dans la liste donnée en paramètre, les éléments d'indices <code>i</code> et <code>j</code>.</p>
                <p>La fonction ne renvoie rien, elle modifie la liste comme vu plus haut avec l'exemple <code>figues</code>.</p>
                <Python id="permuter"
                pendant = {`# votre code ici
                        
# test
bale = ["Wales", "golf", "Madrid"]
permuter(bale, 0, 1)
assert bale == ["golf", "Wales", "Madrid"], "Erreur avec permuter(bale, 0, 1)"`}

apres = {`bale = ["Wales", "golf", "Madrid"]
permuter(bale, 0, 1)
assert bale == ["golf", "Wales", "Madrid"], "Erreur avec permuter(bale, 0, 1)"
permuter(bale, 0, 2)
assert bale == ["Madrid", "Wales", "golf"]
t = [1]
permuter(t, 0, 0)
assert t == [1]
t = [1,2,3,4,5]
permuter(t, 0, 0)
assert t == [1,2,3,4,5]
permuter(t, 0, 1)
assert t == [2,1,3,4,5]
permuter(t, 0, 3)
assert t == [4,1,3,2,5]
permuter(t, 2, 4)
assert t == [4,1,5,2,3]`}
                />
        </span>
</Cadre>