<script>
  import Cadre from '$lib/Cadre.svelte';
 	import { page } from '$app/stores';
  import Navigation from '$lib/Navigation.svelte';
  import { contenus } from '../contenus.js';
</script>

<h1>Les bases de la programmation</h1>

<p>Au menu de ce chapitre :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<Cadre classe="aretenir">
  <span slot="contenu">
    <ul>
    <li>Constructions élémentaires : séquences, affectation, appels de fonction.</li>
    <li>Utilisation de bibliothèques : utiliser la documentation d’une bibliothèque.</li>
    </ul>
  </span>
</Cadre>