<script>
    import { onMount } from 'svelte';

    import Graphe from '$lib/Graphe.svelte';
    import * as matrices from '$lib/matrices.js';
    import * as graphes from '$lib/graphes.js';

    let texte = "[[1], [0,2], [1,3], [1]]";

    let matrice_objectif;
    
    const verifier = function(){
        console.log("verifier");
        let m = graphes.liste_adjacence_en_matrice(JSON.parse(texte))
        if( true){
            let t = graphes.matrice_en_d3(m);
            let nodes = [... t[0]];
            let links = [... t[1]];
            const oriente = ! matrices.est_symetrique(m);
            const pondere = ! matrices.est_booleenne(m);
            console.log(oriente+" "+pondere);
            
            if( matrices.matrices_egales(m, matrice_objectif) ){
                params_alerte = ["C'est juste !", "bravo", true];
                graphes.dessiner_graphe(nodes, links,"reponse", {oriente: oriente, pondere: pondere});
            }else{
                let msg = "Ce n'est pas la bonne liste !";
                if(m.length != matrice_objectif.length){
                    msg += "<br>Votre liste n'a pas le bon nombre d'éléments."
                }else{
                    graphes.dessiner_graphe(nodes, links, "reponse", {oriente: oriente, pondere: pondere});
                    if(! oriente){
                        msg += "<br>Votre graphe n'est pas orienté."
                    }
                    msg += "<br>Comparez votre graphe et le graphe objectif."
                }
                params_alerte = [msg, "erreur", true];
            }
        }else{
            params_alerte = ["Entrée invalide : ce n'est pas une liste de listes !", "erreur", true];
        }
    }
    const init = function(){  // définition et dessin du graphe objectif
        matrice_objectif = matrices.creer_matrice_booleenne_symetrique_aleatoire( Math.floor(Math.random()*3)+3 )
        // rendre la matrice non symétrique
        let n = matrice_objectif.length;
        for(let i = 0; i< n; i++){
            for(let j = 0; j<n; j++){
                if(i!=j){
                    matrice_objectif[i][j] = Math.floor(Math.random()*1.5);  // deux tiers de 0
                }
            }
        }
        matrice_objectif[0][1] = 1-matrice_objectif[1][0];  // pour être sûr qu'elle ne soit pas symétrique
        let t = graphes.matrice_en_d3( matrice_objectif );
        let a = [... t[0]];
        let l = [... t[1]];
        graphes.dessiner_graphe(a, l, "objectif", {oriente: true, pondere: false});
    }
    onMount(() => {
        let m = JSON.parse(texte);
        let t = graphes.liste_adjacence_en_d3(m);
        let nodes = [... t[0]];
        let links = [... t[1]];
        graphes.dessiner_graphe(nodes, links, "reponse", {oriente: true, pondere: false});
        init();   
	});

    import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />

<h1>Liste d'adjacence d'un graphe orienté</h1>
<p><small><em>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.</em></small></p>
<p>Un graphe est représenté par une liste de listes : la première liste donne les successeurs du premier sommet, la deuxième liste donne ceux du deuxième sommet, etc. 
    Si un sommet n'a pas de successeurs, sa liste de successeurs est codée par la liste vide <code>[ ]</code>.</p>
<p>Écrivez la liste de listes représentant le graphe objectif et cliquez sur <button on:click={ ()=> verifier() }>valider</button>.</p>
<p><em><small>J'ai déjà rempli un exemple que vous pouvez étudier.</small></em></p>


<textarea bind:value={texte} style="resize: vertical; width: 100%"></textarea>

<div style="display:flex;justify-content: space-evenly;flex-wrap: wrap-reverse;">
    <div>
        <p>Votre graphe</p>
        <Graphe id="reponse" largeur="24em"/>
    </div>
    <div>
        <p>Objectif</p>
        <Graphe id="objectif" largeur="24em" />
    </div>
</div>

