<script>
    import { page } from '$app/stores';
    import Navigation from '$lib/Navigation.svelte';
    import Cadre from '$lib/Cadre.svelte';
</script>
<h1>Section européenne en seconde</h1>

<p>Mathématiques en anglais</p>

<Navigation page={$page.url.pathname} type="chapitres"/>
