<script>
    import { onMount } from 'svelte';

    import Graphe from '$lib/Graphe.svelte';
    import * as matrices from '$lib/matrices.js';
    import * as graphes from '$lib/graphes.js';

    let texte = "[[0,1,1,1], [1,0,1,0], [1,1,0,0], [1,0,0,0]]";

    let matrice_objectif;
    
    const verifier = function(){
        console.log("verifier");
        if(matrices.texte_est_matrice(texte)){
            let m = JSON.parse(texte);
            let t = graphes.matrice_en_d3(m);
            let nodes = [... t[0]];
            let links = [... t[1]];
            const oriente = ! matrices.est_symetrique(m);
            const pondere = ! matrices.est_booleenne(m);
            console.log(oriente+" "+pondere);
            
            if( matrices.matrices_egales(m, matrice_objectif) ){
                params_alerte = ["C'est juste !", "bravo", true];
                graphes.dessiner_graphe(nodes, links,"reponse", {oriente: oriente, pondere: pondere});
            }else{
                let msg = "Ce n'est pas la bonne matrice !";
                if(m.length != m[0].length){
                    msg += "<br>Votre matrice n'est pas carrée ! Le nombre de lignes n'est pas égal au nombre de colonnes."
                }else{
                    graphes.dessiner_graphe(nodes, links,"reponse", {oriente: oriente, pondere: pondere});
                    if(oriente){
                    msg += "<br>Votre graphe est orienté."
                    }
                    if(pondere){
                        msg += "<br>Votre graphe est pondéré."
                    }
                    msg += "<br>Comparez votre graphe et le graphe objectif."
                }
                params_alerte = [msg, "erreur", true];
            }
        }else{
            params_alerte = ["Entrée invalide : ce n'est pas une matrice !", "erreur", true];
        }
    }
    const init = function(){  // définition et dessin du graphe objectif
        matrice_objectif = matrices.creer_matrice_booleenne_symetrique_aleatoire( Math.floor(Math.random()*3)+3 )
        let t = graphes.matrice_en_d3( matrice_objectif );
        let n = [... t[0]];
        let l = [... t[1]];
        graphes.dessiner_graphe(n, l, "objectif");
    }
    onMount(() => {
        let m = JSON.parse(texte);
        let t = graphes.matrice_en_d3(m);
        let nodes = [... t[0]];
        let links = [... t[1]];
        graphes.dessiner_graphe(nodes, links, "reponse");
        init();
        
	});

    import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />

<h1>Matrice d'un graphe simple</h1>
<p><small><em>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.</em></small></p>

<p>Écrivez la matrice représentant le graphe objectif et cliquez sur <button on:click={ ()=> verifier() }>valider</button>.</p>
<p><em><small>(J'ai déjà rempli une matrice pour vous rappeler la syntaxe).</small></em></p>

<textarea bind:value={texte} style="resize: vertical; width: 100%"></textarea>

<div style="display:flex;justify-content: space-evenly;flex-wrap: wrap-reverse;">
    <div>
        <p>Votre graphe</p>
        <Graphe id="reponse" largeur="24em"/>
    </div>
    <div>
        <p>Objectif</p>
        <Graphe id="objectif" largeur="24em" />
    </div>
</div>