<script>
	import Cadre from '$lib/Cadre.svelte';
	import TableauBooleen from '$lib/1NSI/03/TableauBooleen.svelte';

	let reponse=false;
	let reussi;

    let circuits = [
		{
			nom:"A OU B",
			fonction: (a,b) => a || b,
			data:"N4NwXAbANAxg9gWwA5wHYFNUBcDOZgCWqADPlgJ5LpgDkRNUKeA2gOzFQDMxAulAQBMwHEAEMANmACMAX36opZStTqoGTMGw4AOXvyFSoYybKhwATqWAUqtC+rgspEAKxQXLvkU0AmLnzgAVywwABYoHAALOAB3AEEcAFVUAGtUWNQwLHNA9DkgrCsbFQKHFh9ONw8vIRc5cVEAI3RxIuVaBubxMs1Qjm4+LHQADxCaOJp6ppbFa3aaTpae5j6oXUGRsYAhSbkYgnN0FhX3PmYOHzPDTh4eGSA"
		},
		{
			nom:"A ET B",
            fonction: (a,b) => a && b,
			data: "N4NwXAbANAxg9gWwA5wHYFNUBcDOZgCWqADPlgJ5LpgDkRNUKeA2gOzFQDMxAulAQBMwHEAEMANmACMAX36opZStTqoGTMGw4AOXvyFSoYybKhwATqWAUqtUagHq4LKRACsUN275FNAJi4+OABXLDAAFigcAAs4AHcAQRwAVVQAa1R41DAsc2D0ORCsKxsVIqcWP04PLx8hNzlxUQAjdHES5Vom1vEKzXCObj4sdAAPMJoEmkaWtsVrTpputr7mAahdYbGJgCFpuTiCc3QWNc8+Zg4-C8NOHh4ZIA"
		},
		{
			nom:"A XOR B",
            fonction: (a,b) => (a && (1-b)) || (b && (1-a)),
			data:"N4NwXAbANAxg9gWwA5wHYFNUBcDOZgCWqADPlgJ5LpgDkRNUKeA2gOzFQDMxAulAQBMwHEAEMANmACMAX36opZStTqoGTMGw4AOXvyFSoYybKhwATqWAUqtAB4X1cFlIgBWKG7d8imgExcfHAArlhgACxQOAAWcADuAII4AKqoANao8ahgWObB6HIhWFY2KkVOLH6cHl4+Qm5y4qIARujiJcq0Ta3iFZrhHNx8WOh2YTQJNI0tbYrWnTTdbX3MA1C6w6PjAEJTcnEE5ugsq558zBx+54acPDwyQA"
		},
		{
			nom: "NON(A ET B)",
            fonction: (a,b) =>  1 - (a * b),
			data:"N4NwXAbANAxg9gWwA5wHYFNUBcDOZgCWqADPlgJ5LpgDkRNUKeA2gOzFQDMxAulAQBMwHEAEMANmACMAX36opZStTqoGTMGw4AOXvyFSoYybKhwATqWAUqtVKNQD1cFlIgBWKO-d8imgExcfHAArlhgACxQOAAWcADuAII4AKqoANaoCahgWOYh6HKhWFY2KsXOLP6cnt6+Qu5y4qIARujipcq0zW3ilZoRHNx8WOgAHuE0iTRNre2K1l00Pe39zINQuiPjkwBCM3LxBOboLOtefMwc-peGnDw8MkA"
		},
		{
			nom: "NON(A OU B)",
            fonction: (a,b) => (1-a)*(1-b),
			data: "N4NwXAbANAxg9gWwA5wHYFNUBcDOZgCWqADPlgJ5LpgDkRNUKeA2gOzFQDMxAulAQBMwHEAEMANmACMAX36opZStTqoGTMGw4AOXvyFSoYybKhwATqWAUqtVBfVwWUiAFYor13yKaATFz44AFcsMAAWKBwACzgAdwBBHABVVABre1jUMCxzIPQ5YKwrGxVCxxZfTndPbyFXOXFRACN0cWLlWkaW8XLNMI5uPix0AA9QmniaBubWxWsOmi7W3uZ+qF0h0fGAISm5WIJzdBZVjz5mDl9zw04eHhkgA"
		}
	];
let nb_solution;
reponse = circuits.length;  // si on n'a pas sélectionné de bouton radio
let montrer_correction = false;
	function initialiser(){
		nb_solution = Math.floor(Math.random()*circuits.length);
		montrer_correction = false;
	}
initialiser();
  function verifier(){
        if(reponse < circuits.length){
          montrer_correction = true;
          if( nb_solution == reponse ){ 
			reussi = true;
			params_alerte = [`Exercice réussi !`,"bravo",true];
		  } else{
			reussi = false;
		   params_alerte = ["Ce n'est pas la bonne réponse. Étudiez la correction. Vous pouvez recommencer avec un autre circuit aléatoire.","erreur",true];
		  }
        }else{
           params_alerte = ["Il faut choisir une réponse !","erreur",true];
        }
	}
    import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Quel circuit ?</h1>
<Cadre classe="afaire">
	<span slot="contenu">
		<p>J'ai tiré au sort ci-dessous un circuit logique. Lequel ?</p>
		<p>Vous pouvez cliquez sur les entrées A et B pour étudier ce circuit.</p>
	</span>
</Cadre>

<div style="margin:0px auto; width:280px;">
<iframe class="cadrebleu" title="Circuit logique" src={'https://logic.modulo-info.ch/?mode=tryout&data='+circuits[nb_solution].data}></iframe>
</div>


{#if montrer_correction}
  <div style="width:fit-content;margin:5px auto;">
    <button on:click={initialiser}>recommencer</button>
  </div>
   <div style="display:flex;width:fit-content;margin:5px auto;flex-wrap: wrap;justify-content: center;">
   {#if ! reussi}
   <div style="margin:5px">
        <p style="text-align:center;font-weight:bold;">Votre réponse</p>
        <TableauBooleen operation={circuits[reponse].fonction} titres_colonnes={["A","B",circuits[reponse].nom]} fixe={true} />
   </div>
   {/if}
     <div style="margin:5px">
       <p style="text-align:center;font-weight:bold;">Le circuit</p>
        <TableauBooleen operation={circuits[nb_solution].fonction} titres_colonnes={["A","B",circuits[nb_solution].nom]} fixe={true} />
      </div>
   </div>
{:else}
    <div class='tableaudebord'>
    {#each circuits as item, index}
        <label>
            <input  type="radio" name="circuits" value={index} bind:group={reponse} />
            {item.nom}
        </label>
    {/each}
    <button on:click={verifier}>vérifier</button>
    </div>
{/if}
<style>
iframe{
	width: 100%; 
	height: 110px; 
	padding: 0px;
}
</style>
	
