<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    import Intro from './00-intro.svelte';
    import Exemple from './01-exemple.svelte';
    import Compter4 from './02-compter-visites-quatre.svelte';
    import Choix from './03-choix-territoire.svelte';
    import Suivant3 from './03-suivant-plus-trois.svelte';
</script>

<h1>Mini-projet : Picus</h1>

<Intro />
<Exemple />
<Compter4 />
<Choix />
<Suivant3 />


