<div class="colonnes">
    <div>
      <a
        title="Carlos Delgado, CC BY-SA 4.0 &lt;https://creativecommons.org/licenses/by-sa/4.0&gt;, via Wikimedia Commons"
        href="https://commons.wikimedia.org/wiki/File:Picus_sharpei,_Parque_de_El_Retiro,_Madrid_-_01.jpg"
      >
        <img
          style = "width:256px; max-width:256px;"
          title="Picus Sharpei"
          alt="Picus sharpei, Parque de El Retiro, Madrid - 01"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Picus_sharpei%2C_Parque_de_El_Retiro%2C_Madrid_-_01.jpg/256px-Picus_sharpei%2C_Parque_de_El_Retiro%2C_Madrid_-_01.jpg?20150422161631"
        />
      </a>
    </div>
    <div>
      <p>
        Picus est un oiseau. Sur son territoire, il y a des arbres qu'il visite
        chaque jour pour y chercher des insectes à manger.
      </p>
      <p>
        Dans la tête de Picus, les arbres sont numérotés : il y a le premier
        arbre, le deuxième, etc. toujours dans le même ordre.
      </p>
      <p>
        Vous aller simuler cette situation avec des tableaux : pour Picus, un
        "territoire" est un tableau qui ne contient que des booléens, chacun de
        ces booléens représentant un arbre. Chaque élément d'un "territoire" est
        égal à <code>True</code> si Picus a déjà visité l'abre aujourd'hui,
        <code>False</code> sinon. Vous pouvez remplacer ces booléens par des 0 et
        des 1 comme vu dans le cours sur les booléens.
      </p>
      <p>
        Par exemple, un territoire de trois arbres dont seul le premier a été
        visité sera codé par <code>(1, 0, 0)</code> ou <code>[1, 0, 0]</code>.
      </p>
    </div>
  </div>
  