<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>
<Cadre classe="afaire">
    <span slot="titre">Picus : premier exemple</span>
    <span slot="contenu">
        <p>Supposons qu'il y ait six arbres dans le territoire de Picus.</p>
        <p>Écrivez une programme Python qui affecte à une variable <code>picus</code> un tableau (type <code>list</code> ou <code>tuple</code>, au choix).</p>
        <p>La variable <code>picus</code> doit coder les visites du jour de Picus, sachant qu'il a aujourd'hui déjà visité uniquement deux arbres : le deuxième et le dernier.</p>
        <Python id="picus1"
        pendant = {`# votre code ici`}
        apres = {`assert 'picus' in globals(), 'Je ne trouve pas de variable nommée picus !'
assert type(picus) == tuple or type(picus) == list, "La variable picus doit être un tuple ou une liste."
assert len(picus) == 6, "La variable picus doit avoir six éléments, j'en compte "+str(len(picus))+"."
assert picus[0] == False, "Le premier élément doit être False"
assert picus[1] == True, "Le deuxième élément doit être True"
assert picus[2] == False, "Le troisème élément doit être False"
assert picus[3] == False, "Le quatrième élément doit être False"
assert picus[4] == False, "Le cinquième élément doit être False"
assert picus[5] == True, "Le sixième élément doit être True"`}
        />
    </span>
</Cadre>