<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>


<Cadre classe="afaire">
    <span slot="titre">Combien d'arbres visités ? Cas de 4 arbres.</span>
    <span slot="contenu">
        <p>Supposons qu'il y ait quatre arbres dans le territoire de Picus. Combien d'arbres a-t-il visité aujourd'hui ?</p>
        <p>Pour répondre à cette question, programmez une fonction Python <code>compter_visites_quatre</code> qui prend en paramètre un tableau de quatre booléens.
        Cette fonction doit renvoyer le nombre d'arbres visités, c'est-à-dire le nombre d'éléments du tableau qui sont égaux à <code>True</code>.</p>


        <Python id="compter_visites_quatre"
        pendant = {`# votre code ici
assert compter_visites_quatre([0,0,1,0]) == 1
assert compter_visites_quatre([0,1,1,0]) == 2
assert compter_visites_quatre([0,0,0,0]) == 0
assert compter_visites_quatre([0,0,1,1]) == 2`}

        apres = {`tttest = [0,0,0,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,0,0,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,0,1,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,0,1,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,1,0,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,1,0,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,1,1,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [0,1,1,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,0,0,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,0,0,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,0,1,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,0,1,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,1,0,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,1,0,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,1,1,0]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)
tttest = [1,1,1,1]
compter_visites_quatre(tttest) == sum(tttest), "Erreur avec "+str(tttest)`}
        />
    </span>
</Cadre>



