<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>


<Cadre classe="afaire">
    <span slot="titre">Picus : Choisir un territoire</span>
    <span slot="contenu">
        <p>Picus a décidé de voyager. Il vient de trouver deux territoires et va choisir de s'installer dans 
            celui qui comporte le plus d'arbres. Il visite le premier territoire, puis le deuxième. Si le deuxième 
            territoire possède un nombre d'arbres supérieur ou égal au premier, il s'installe dans ce deuxième.
            Sinon, il revient s'intaller au premier.
        </p>
        <p>Programmez une fonction <code>choix_territoire</code> qui prend en paramètres deux tableaux.</p>
        <p>Si le deuxième tableau contient au moins autant d'éléments que le premier, la fonction renvoie 2. 
            Sinon, elle renvoie 1.
        </p>
        <Python id="choix_territoire"
  pendant = {`# votre code ici

# tests
t1 = (0,0,0)
t2 = (0,0)
assert choix_territoire(t1, t2) == 1
assert choix_territoire(t2, t1) == 2
assert choix_territoire(t1, t1) == 2`}      

apres = {`
t1 = (0,0,0)
t2 = (0,0)
assert choix_territoire(t1, t2) == 1, f"Erreur avec {t1}, {t2}"
assert choix_territoire(t2, t1) == 2, f"Erreur avec {t2}, {t1}"
assert choix_territoire(t1, t1) == 2, f"Erreur avec {t1}, {t1}"`}
        />

    </span>
</Cadre>