<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe="afaire">
    <span slot="titre">Picus : Prochain arbre</span>
    <span slot="contenu">
        <p>Juste après avoir visité un arbre, Picus va voir trois arbres plus loin.
        </p>
        <p>Autrement dit, après avoir visité l'arbre d'indice <code>i</code> de son territoire,
        Picus va visiter l'arbre d'indice <code>i+3</code>.</p>
        <p>Mais ce n'est pas toujours possible, car il peut être arrivé à la fin du tableau. 
            Dans ce cas, il continue en reprenant au début : si <code>i</code> est le dernier
        indice du tableau, au lieu de l'arbre d'indice <code>i+1</code> il choisit le premier et 
        à la place de l'arbre d'indice <code>i+2</code> il prend le deuxième, etc. 
        Comme si les arbres étaient disposés en cercle.</p>
        <p>Programmez une fonction <code>suivant_plus_trois</code> qui prend en paramètres un tableau
        et un nombre entier <code>i</code>. Cette fonction doit renvoyer l'endroit où se trouve
    l'arbre d'indice <code>i+3</code>.</p>
        <p>Attention, dans cet exercice la longueur des tableaux est variable, 
            on sait seulement qu'elle est toujours au moins égale à 3.</p>
        <Python id="suivant_plus_trois"
  pendant = {`#votre code ici

# tests 
territoire = (0,0,0,0,0)
assert suivant_plus_trois(territoire, 0) == 3
assert suivant_plus_trois(territoire, 1) == 4
assert suivant_plus_trois(territoire, 3) == 1
territoire = (0,0,0,0,0,0)
assert suivant_plus_trois(territoire, 4) == 1
assert suivant_plus_trois(territoire, 5) == 2`}      

apres = {`
territoire = (0,0,0,0,0)
assert suivant_plus_trois(territoire, 0) == 3, f"Erreur avec suivant_plus_trois({territoire}, 0)"
assert suivant_plus_trois(territoire, 1) == 4, f"Erreur avec suivant_plus_trois({territoire}, 1)"
assert suivant_plus_trois(territoire, 3) == 1, f"Erreur avec suivant_plus_trois({territoire}, 3)"
territoire = (0,0,0,0,0,0)
assert suivant_plus_trois(territoire, 0) == 3, f"Erreur avec suivant_plus_trois({territoire}, 0)"
assert suivant_plus_trois(territoire, 1) == 4, f"Erreur avec suivant_plus_trois({territoire}, 1)"
assert suivant_plus_trois(territoire, 3) == 0, f"Erreur avec suivant_plus_trois({territoire}, 3)"
assert suivant_plus_trois(territoire, 4) == 1, f"Erreur avec suivant_plus_trois({territoire}, 4)"
assert suivant_plus_trois(territoire, 5) == 2, f"Erreur avec suivant_plus_trois({territoire}, 5)"`}
    />

    </span>
</Cadre>