<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
</script>

<Cadre classe="afaire">
    <span slot = "titre">Visiter un arbre ?</span>
    <span slot = "contenu">
        
        <p>Programmez une fonction qui prend en paramètres une liste de booléens <code>liste</code> et un nombre entier <code>i</code> qui est un indice
        valable pour <code>liste</code>.</p>
    </span>
</Cadre>