<script>
    import { page } from '$app/stores';
   import Navigation from '$lib/Navigation.svelte';
   import { contenus } from '../contenus.js';
</script>

<h1>Les tableaux</h1>
<p>Au menu de ce chapitre :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<p><a href="10-bilan">Fiche résumant le cours</a>.</p>
<p><a href="11-projets">Projets utilisant des tableaux</a>.</p>

<ol>
    <li>TP-cours : <a href="https://capytale2.ac-paris.fr/web/c/f9d9-2654049">matrices et tic-tac-toe</a> sur Capytale</li>
    <li>TP : <a href="https://capytale2.ac-paris.fr/web/c/2e6c-2766453">matrices et images</a></li>
</ol>