<h1>Projets sur les tableaux</h1>

<p>Notre objectif ici sera constitué par un projet utilisant des tableaux de taille fixe et limitée (assez courts pour être écrits complètement à la main). Voici quelques exemples de sujets :</p>
<ul>
    <li>Le jeu du Tic-tac-toe, en reprenant les fonctions déjà programmées en exercice.</li>
    <li>Un programme utilitaire permettant d'écrire des nombres entiers en écriture décimale ou binaire sur un nombre fixe de bits.</li>
    <li>Un jeu de type "Mastermind".</li>
    <li>Une mini-calculatrice dans laquelle le nombre de caractères (chiffres et opérations) est fixe.</li>
    <li>Gestion d'un carnet de notes d'élève (nombre de notes fixe).</li>
    <li>Utilitaire de calculs sur des images.</li>
    <li>Simulateur de places de parking, de stock alimentaire, de personnages de jeux vidéos...</li>
    <li>(Spécialités mathématiques ou physique-chimie) Un utilitaire de calculs sur des vecteurs.</li>
    <li>(Spécialité mathématiques) Un utilitaire de calculs sur les trinômes.</li>
    <li>Toute autre idée que vous pouvez avoir, à partir du moment où elle utilise un ou plusieurs tableaux de taille fixe et limitée.</li>
</ul>