<script>
	import Cadre from '$lib/Cadre.svelte';
	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
	let reponse = 2;
	let nb_min = 2;
	let nb_max = 63;
	let essais = 0;
	let liste_essais = [];
	let solution = Math.floor(Math.random()*(nb_max + 1 - nb_min) + nb_min);
	let solution_bin = solution.toString(2);
	function calculer_rayon(i){
		 return 10 + 3*(solution_bin.length-1-i)
	}

	let couleurs = ["var(--monbleu)", "var(--monrouge)", "var(--mongris)", "var(--monviolet)", "var(--monvertfonce)", "var(--monpourpre)"];
    let rayon_max = 10 + 3*5;
	
    function verifier(){
	    essais ++;
		liste_essais.push(reponse);
		liste_essais=liste_essais;
		let accord = essais > 1 ? "s. Pourquoi ne pas réessayer pour y parvenir du premier coup ?" : ".";
		console.log(`${solution}, ${reponse}`)
		if(solution == reponse){ 
			 params_alerte = [`Exercice réussi en ${essais} essai${accord} Rechargez la page pour avoir un autre nombre aléatoire.`,"bravo",true];
		} else{
		   params_alerte = ["Ce n'est pas la bonne réponse.","erreur",true];
		}
	}
</script>

<Alerte bind:params_alerte />

<h1>Du binaire au décimal</h1>
<Cadre classe="afaire">
	<span slot="contenu">	
	<p>J'ai tiré au sort un nombre aléatoire compris entre {nb_min} et {nb_max}. Son écriture binaire est {solution_bin}, représentée ci-dessous avec des bulles.</p>
		<p>Choisissez l'écriture décimale de ce nombre en bougeant le curseur, puis cliquez sur le bouton "vérifier".</p>

	</span>
</Cadre>
<div class="tableaudebord" style="width:fit-content; max-width:100%; margin: 0px auto;">
<label >Votre proposition :
	<input type="number" bind:value={reponse} min={nb_min} max={nb_max} style="width:4em;"/>
	<input type="range" bind:value={reponse} min={nb_min} max={nb_max} />
	<button on:click={verifier}>vérifier</button>
</label>
</div>
<div class="tableaudebord" style="display:flex;flex-wrap: wrap;margin-top:5px;">
<div style="flex:auto">
	<p style='text-align:center'>
		Le nombre aléatoire en binaire
	</p>
<table>
	<tr>
		{#each solution_bin as i, index}
		   <td style='text-align:center'>
				<svg width={2*calculer_rayon(index)+2} height={2*calculer_rayon(index)+2}>
	       		<circle cx={calculer_rayon(index)+1} cy={calculer_rayon(index)+1} r={calculer_rayon(index)} fill={couleurs[solution_bin.length-1-index]} />
				</svg>
			</td>
	    {/each}
	</tr>
	<tr>
		{#each solution_bin as i}
		     <td style='text-align:center'> {i} </td>
	  {/each}
	</tr>
</table>
</div>
	{#if essais > 0}
	<div style="flex:auto">
		<p style='text-align:center'>Vos essais</p>
		<table>
			<tr>
			    <th>N°</th>
				<th>Décimal</th>
				<th>Binaire</th>
			</tr>
			{#each liste_essais as item, index}
			<tr>
				<td>{index+1} </td>
				<td>{item}</td>
				<td style="text-align:right">{item.toString(2)}</td>
			</tr>
			{/each}
		</table>
	</div>
	{/if}
</div>
