<script>
  import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	import Cadre from '$lib/Cadre.svelte';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	let animer = false;
    let ligne_active = 0;
	let lecture = false;
	
	import Console from '$lib/Console.svelte';
	
	let programme = []; // {cle, texte, instruction}
  let cle_programme = 0;

   let piles = [[{texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}],
                    [],
                    [],
                    []];  // piles[3] pour la variable x

	let noms_piles = ["P1","P2","P3"];

	let essais = 0;
	let cle = 3;
	let objectif = [...piles[0]].reverse(); 

	let depiler_num = 1;
	let empiler_num = 1;
	let init = function(){
		console.log('init');
		ligne_active = 0;
		lecture = false;
		piles = [[
                    {texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}
					],
                    [],
                    [],
                    []];
	}

	function verifier(){
		animer = false;
		console.log("vérification");
		if (piles[0].length !== objectif.length) return false;
		for (let i = 0; i < objectif.length; i++) {
			console.log(piles[0][i].texte + " <->" +  objectif[i].texte);
			if (piles[0][i].texte !=  objectif[i].texte){
				return false;
			}
		}
		let msg = " Réussi avec le nombre minimal d'instructions !";
		if(programme.length > objectif.length*6){
			msg = "\nMais vous avez utilisé "+ programme.length.toString() +" instructions, vous pouvez faire mieux. Modifiez le code pour réessayer."
		}
		params_alerte = ["Exercice réussi !"+msg,"bravo",true];
	}


	let depart;
	let arrivee;
	
	function depiler(depart, indice) {
		if(piles[depart].length == 0){
			animer = false;
			programme[indice].erreur = "ERREUR. Impossible de dépiler une pile vide";
		}
		else{
			animer = true;
			programme[indice].erreur = false;
			// récupération de la clé de l'item dépilé
			let elt =  piles[depart].shift();
			if(piles[3].length==0){
					piles[3].push(elt)
			}else{
					piles[3][0] = elt;
			}
	        piles = piles;
			animer = false;
		}
  }

	function empiler(p, indice){
		if(piles[3].length ==0){
			animer = false;
			programme[indice].erreur = "ERREUR. Impossible d'empiler : x n'est pas défini";
		}else{
			animer = true;
			let a = piles[3].pop();
			// copie
			cle ++;
			let b = {"texte":a.texte, "cle":cle}
			piles[3].push(b);
      		piles[p] = [a, ... piles[p]];
			programme[ligne_active]["erreur"] = false;
			piles = piles;
			verifier();
		}
	}
	function ajouter_depiler(){
		animer = true;
		let a = depiler_num;
		programme.push({cle:cle_programme, 
										texte: "x = depiler("+noms_piles[a]+")", 
									  instruction:( (indice) => depiler(a, indice) )});
		cle_programme ++;
		programme = programme;
	}

	function ajouter_empiler(){
		animer = true;
		let a = empiler_num;
		programme.push({cle:cle_programme, 
										texte: "empiler("+noms_piles[a]+", x)", 
									  instruction:( (indice) => empiler(a, indice) )});
		cle_programme ++;
		programme = programme;
	}

	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />
<h1>Retourner une pile...</h1>
<h2>...en programmant avec Python</h2>
<Cadre classe="info">
	<span slot="contenu">
	<p>
	Vous devez retourner la pile <code>P1</code> sur elle-même. Pour cela, vous pouvez utiliser deux piles auxiliaires : la pile <code>P2</code> et la pile <code>P3</code>, ainsi qu'une variable <code>x</code>.	
	</p>

	<p>Pour répondre au problème, vous disposez de deux instructions écrites en Python :</p>
	<ul>
	<li><code>x = depiler(P)</code> supprime le sommet de la pile <code>P</code> et l'affecte à la variable <code>x</code> ;</li>
	<li><code>empiler(P, x)</code> empile la valeur de <code>x</code> sur la pile <code>P</code>.</li>
	</ul>
	</span>
</Cadre>
<table>
<tr>
	<th>Objectif</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th><code>P1</code></th>
	<th><code>P2</code></th>
	<th><code>P3</code></th>
	<th><code>x</code><th>
</tr>
<tr>
	<td class="cadrebleu">
		{#each objectif as item}	
	    	<div>
		 	{item.texte}
			</div>
    {/each}
	</td>
	<td></td>
	<td class="cadrerouge element_pile">
		{#each piles[0] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
	<td class="cadrerouge element_pile">
		{#each piles[1] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
	<td class="cadrerouge element_pile">
		{#each piles[2] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
	 <td style="vertical-align: top;" class="element_pile">
		{#each piles[3] as item (item.cle)}	
				<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip class="cadrebleu">
					{item.texte}
				</div>
		{/each}
	</td>
</tr>
</table>

<div class="tableaudebord">
<p>Cliquez sur le <button style="cursor:text;">+</button> à droite d'une instruction pour l'ajouter au code.</p>
<div style="display: flex;">
	<div style="flex: 3 0 auto">
	<code>x = depiler(</code>
	<select bind:value={depiler_num}>
		{#each noms_piles as nom, index}
			<option value={index} selected={index===0}>
				{nom}
			</option>
		{/each}
	</select>
	<code>)</code>
	<button on:click={ajouter_depiler}>+</button>
	</div>
	<div style="flex: 3 3 auto">
	</div>
	<div style="flex: 3 0 auto">
	<code>empiler(</code>
	<select bind:value={empiler_num}>
		{#each noms_piles as nom1, index1}
			<option value={index1} selected={index1===0}>
				{nom1}
			</option>
		{/each}
	</select>
	<code>, x)</code>
	<button on:click={ajouter_empiler}>+</button>
	</div>
</div>
</div>

<Console bind:programme bind:animer bind:ligne_active init={init} />

<style>
.element_pile{
	min-width:2em;
	vertical-align: bottom;
}
</style>