<script>
	import Python from "$lib/Python.svelte";
	import Plateau from '$lib/Plateau.svelte';
	let plateau = [
		 [0,0,0,1,0,0,0,2,2,0],
		 [0,1,0,0,0,0,0,0,0,0],
		 [0,1,0,1,0,2,0,0,1,0],
		 [0,1,0,0,0,3,2,2,1,0]
	 ];
	let jeu;
    const depart_mobile = [0, 0];  // coordonnées initiales du mobile
	let mobile = depart_mobile;
	let col = depart_mobile[0];
	let li = depart_mobile[1];

	const droite = function(){
		console.log(arguments.length);
		if(arguments.length > 0){
			throw new Error(`La fonction droite ne prend pas de paramètre`);
		}
		[col, li] =  jeu.droite(1)
	}
	const gauche = function(){
		if(arguments.length > 0){
			throw new Error(`La fonction gauche ne prend pas de paramètre`);
	 }
		[col, li] = jeu.gauche(1)
	}
	const haut = function(){
		if(arguments.length > 0){
			throw new Error(`La fonction haut ne prend pas de paramètre`);
	 }
		[col, li] = jeu.haut(1)
	}
	const bas = function(){
		if(arguments.length > 0){
			throw new Error(`La fonction bas ne prend pas de paramètre`);
	 }
		[col, li] = jeu.bas(1)
	}
	const js_modules = {
		"mobile":{
			droite: droite,
			gauche: gauche,
			bas: bas,
			haut: haut,
			retour: function(){jeu.init(true)},
			correction: function(){jeu.afficher_jeu_termine(col==5 && li == 3 ? "Bravo !" : "Non")}
		}
	}
</script>
<h1>Mets le canard dans l'eau</h1>
<Plateau bind:this={jeu} {plateau} {depart_mobile} />
<Python id="canard"
exercice = {false}
{js_modules}

avant = {`from mobile import *
retour()
`}

pendant = {`for i in range(3):
  droite()
gauche()
bas()
bas()`}
apres = {`correction()`}
/>
