<script>
    import Video from '$lib/Video.svelte';
</script>

<h1>Numbers and Calculation</h1>

<h2>A Language Without Numbers?</h2>

<Video lien = {'https://www.youtube-nocookie.com/embed/nDM8G5tuHF8'} />

<h2>The Invention of Numbers and Counting</h2>

<blockquote>
    <p>
    Numbers, and counting, didn't truly come into being until the rise of cities. Indeed numbers and counting weren't really needed until then. Numbers, and counting, began about 4,000 BC in Sumeria, one of the earliest civilizations. With so many people, livestock, crops and artisan goods located in the same place, cities needed a way to organize and keep track of it all, as it was used up, added to or traded.
    </p>
    <p>Their method of counting began as a series of tokens. Each token a man held represented something tangible, say five chickens. If a man had five chickens he was given five tokens. When he traded or killed one of his chickens, one of his tokens was removed. This was a big step in the history of numbers and counting because with that step subtraction — and thus the invention of arithmetic — was invented.
    </p>
    <p>The Egyptians were the first civilization to invent different symbols for different numbers. They had a symbol for one, which was just a line. The symbol for ten was a rope. The symbol for a hundred was a coil of rope. They also had numbers for a thousand and ten thousand. The Egyptians were the first to dream up the number one million, and its symbol was a prisoner begging for forgiveness, which was a person on its knees, hands upraised in the air, in a posture of humility.
    </p>
    <p>Source: Stephen Law, <em>Deseret News</em></p>
</blockquote>
<h2>Johnny Ball: the Russian Multiplication
</h2>

<Video lien = {'https://www.youtube-nocookie.com/embed/HJ_PP5rqLg0'} />

<h2>The Japanese Multiplication Strategy</h2>

<Video lien = {'https://www.youtube-nocookie.com/embed/pWLwrpUyJCA'} />

<h2>Nerdle Game</h2>

Play the <a href="https://nerdlegame.com/">Nerdle Game online</a>! Can you explain the rules and your strategy?

<h2>How high can you count on your fingers?</h2>

<Video lien = {'https://www.youtube-nocookie.com/embed/UixU1oRW64Q'} />


