<h1>La récursivité</h1>
Le cours sera fait en classe, avec des feuilles de papier et des stylos.


<figure>
<img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Browne%2C_Henriette_-_A_Girl_Writing%3B_The_Pet_Goldfinch_-_Google_Art_Project.jpg" >
<figcaption><cite>A Girl Writing: The Pet Goldfinch</cite>, Henriette Browne, ca. 1870.</figcaption>
</figure>
<p>
    <a href="https://capytale2.ac-paris.fr/web/c/7f02-3971090">TP Capytale : la récursivité</a>
</p>

<p>Puzzles :</p>
<ol>
    <li>
        <a href="https://capytale2.ac-paris.fr/web/c/9d4c-4174437">factorielle récursive</a>
    </li>
    <li>
        <a href="https://capytale2.ac-paris.fr/web/c/6101-4174648">puissances de deux récursivement</a>
    </li>
    <li>
        <a href="https://capytale2.ac-paris.fr/web/c/5d2d-4175324">quotient récursif</a>
    </li>
    <li>
        <a href="https://capytale2.ac-paris.fr/web/c/9b4d-4176916">reste récursif</a>
    </li>
    <li>
        <a href="https://capytale2.ac-paris.fr/web/c/bce5-4175430">hauteur d'une pile</a>
    </li>
    <li>
        <a href="https://capytale2.ac-paris.fr/web/c/e6cb-4175767">somme des éléments d'une pile de nombres</a>
    </li>
</ol>
