<script>
  import Arbre from '$lib/TNSI/03/Arbre.svelte';
  import {est_feuille, creer_arbre_aleatoire, taille, hauteur} from '$lib/TNSI/03/arbres.js';
  import Cadre from '$lib/Cadre.svelte';
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];
	
  let donnees ;
	let reponse_taille ;
	let reponse_hauteur ;
  let reussi;
	const nb_min = 0;
	const nb_max = 20;
  
  let compte_essais;

  function initialiser(){
    reussi = false;
    donnees = creer_arbre_aleatoire();
	  reponse_taille = 0;
	  reponse_hauteur = 0;
    compte_essais = 0;
  }
  initialiser();

  function verifier(){
    compte_essais++ ;
		console.log(`taille : ${taille(donnees)}, hauteur : ${hauteur(donnees)}`);
    if(reponse_taille !== taille(donnees)){
			params_alerte = ["La taille n'est pas correcte.","erreur", true];
    }else if(reponse_hauteur !== hauteur(donnees)){
      params_alerte = ["La hauteur n'est pas correcte.","erreur", true];
    }else{
      reussi = true;
		  params_alerte = [`Exercice réussi en ${compte_essais} essai${compte_essais > 1 ? "s" : ""}. Vous pouvez recommencer l'exercice avec un autre arbre aléatoire.`,"bravo", true];
		}
  }
</script>

<Alerte bind:params_alerte />
<h1>Taille et hauteur</h1>
<Cadre classe="aretenir">
  <span slot="contenu">
    <p>
      La <strong>taille</strong> d'un arbre est le nombre de ses nœuds. 
    </p>
    <p>
      La <strong>hauteur</strong> d'un arbre est le nombre d'étages qu'il comporte, c'est-à-dire le nombre de nœuds qu'il faut parcourir pour aller de la racine au nœud le plus lointain
    </p>
  </span>
</Cadre>
<Cadre classe="afaire">
<span slot="contenu">
<p>Déterminez la taille et la hauteur de cet arbre.</p>
<p>Ensuite, cliquez sur le bouton "vérifier".</p>
</span>
</Cadre>
<div style="width:fit-content; max-width:100%;" class="centre">
      {#if reussi}
        <div class="centre vertfonce cadrevertfonce" style="width:fit-content; max-width:100%;">
          <span class="" >Taille : {reponse_taille} Hauteur : {reponse_hauteur}</span>
          <button on:click={initialiser}>recommencer</button>
        </div>
      {:else}
        <div class="tableaudebord centre" style="width:fit-content; max-width:100%;">
          <label>Taille :
          <input type="number" bind:value={reponse_taille} min={nb_min} max={nb_max} style="width:4em;"/>
          </label>
          <label>Hauteur :
          <input type="number" bind:value={reponse_hauteur} min={nb_min} max={nb_max} style="width:4em;"/>
          </label>
          <button on:click={verifier}>vérifier</button>
        </div>
      {/if}
     <Arbre {donnees} />
</div>