<script>
	import { onMount } from 'svelte';
	import * as d3 from 'd3';

	import {texte_est_matrice, est_symetrique} from '$lib/matrices.js';
  
	let svg;
	let width = 400, height = 400;

	let value = "[[0,1,1,1], [1,0,1,0], [1,1,0,0], [1,0,0,0]]";
	
  
	// Données réactives des nœuds et des arêtes
	let nodes ;
  
	let links 
  
	let simulation, link, node, text, weight;

	const matrice_en_d3=function(matrice){
        const ordre = matrice.length;
        let noeuds = [];
        for(let i = 0; i<ordre; i++){
            noeuds.push(
                {
                    id: i,
                    label: i.toString()
                }
            )
        }
        let aretes = [];
        for(let i = 0; i<ordre; i++){
            for(let j = 0; j<i; j++){
                if(matrice[i][j]!=0){
                    aretes.push( { source: i, target: j, weight: matrice[i][j] } )
                }
            }
        }
		return [noeuds, aretes];
    }
    const valider = function(){
		if(texte_est_matrice(value)){
			let m = JSON.parse(value);
			if(est_symetrique(m)){
				let t = matrice_en_d3(m);
				nodes = [... t[0]];
				links = [... t[1]];
				dessinerGraphe();
			}else{
				alert("La matrice n'est pas symétrique !");
			}
		}else{
            alert("Entrée invalide : ce n'est pas une matrice !")
		}
	}
	let dessinerGraphe = function(){
		d3.selectAll("svg > *").remove(); // effacer d'abord

		// Créer l'élément SVG
		link = d3.select(svg)
			.selectAll('.link')
			.data(links)
			.enter().append('line')
			.attr('class', 'link')
			.attr('stroke', '#999')
			.attr('stroke-width', 2);

		weight = d3.select(svg).append("g")
			.selectAll(".weight")
			.data(links)
			.enter().append("text")
			.attr("class", "weight")
			.text(d => d.weight)
			.attr("text-anchor", "middle")
			.attr('fill', '#999');
  
		node = d3.select(svg)
			.selectAll('.node')
			.data(nodes)
			.enter().append("g")
			.attr('class', 'node')
			.style('cursor', 'pointer');

		var circles = node.append("circle")
			.attr('r', 20)
			.attr('fill', '#999')
			.attr('stroke', 'var(--monbleu)')
			.attr('stroke-width', 5);

		var labels = node.append("text")
			.text(function(d){ return(d.id)})
			.style('text-anchor', 'middle')
			.attr('fill', 'white')
			.attr('y', 5);
  
	  // Initialiser la simulation
	  simulation = d3.forceSimulation(nodes)
		.force('link', d3.forceLink(links).id(d => d.id).distance(100))
		.force('charge', d3.forceManyBody().strength(-200)) // Répulsion entre les nœuds
		.force('center', d3.forceCenter(width / 2, height / 2)) // Centrer le graphe
  
	  // Mise à jour des positions des nœuds et des arêtes à chaque tick de la simulation
	  simulation.on('tick', () => {
		link
		  .attr('x1', d => d.source.x)
		  .attr('y1', d => d.source.y)
		  .attr('x2', d => d.target.x)
		  .attr('y2', d => d.target.y);
		node
          .attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          })
		weight
		  .attr("x", d => (d.source.x + d.target.x) / 2)
		  .attr("y", d => (d.source.y + d.target.y) / 2)
	  });

	  // partie drag
		node.call(d3.drag()
			.on("start", dragstarted)
			.on("drag", dragged)
			.on("end", dragended));
		
		// Reheat the simulation when drag starts, and fix the subject position.
		function dragstarted(event) {
			if (!event.active) simulation.alphaTarget(0.3).restart();
			event.subject.fx = event.subject.x;
			event.subject.fy = event.subject.y;
		}

		// Update the subject (dragged node) position during drag.
		function dragged(event) {
			event.subject.fx = event.x;
			event.subject.fy = event.y;
		}

		// Restore the target alpha so the simulation cools after dragging ends.
		// Unfix the subject position now that it’s no longer being dragged.
		function dragended(event) {
			if (!event.active) simulation.alphaTarget(0);
			event.subject.fx = null;
			event.subject.fy = null;
		}
	}
	onMount(() => {
	  valider();
	});
  </script>
  
  <textarea bind:value></textarea>

  <button on:click={ ()=>valider() }>valider</button>
  
  <svg bind:this={svg} width={width} height={height}></svg>

<style>
	svg {
		width: 100%;
		border: 1px solid var(--mongris);
	}
	.link {
		stroke: #999;
		stroke-opacity: 0.6;
		stroke-width: 5;
	}
	.node {
	cursor: pointer;
	}
</style>