<script>
	import Cadre from '$lib/Cadre.svelte';
	
	import Exo from '$lib/TNSI/03/Exercice_parcours_arbre.svelte';
	const liste_parcours = ["parcours en largeur", "parcours préfixe", "parcours infixe", "parcours suffixe"];
	let numero = 0;
	$: nom = liste_parcours[numero];
	let type = "fixe";  // "fixe" "aléatoire" "chrono"

	let nouvel_exo = 0;
	let temps;

	const nbre_exos = 10;

	function exercice_suivant(){
		nouvel_exo = (nouvel_exo+1) % (nbre_exos+2);
		if(type === "chrono"){
			if(nouvel_exo === 1){
			  temps = Date.now();
		  }
			else if(nouvel_exo === nbre_exos+1){
				temps =  Date.now() - temps;
			}
		}
		if(type !== "fixe"){
			numero = Math.floor( Math.random()*4 );
		}
	}
</script>

<h1>{type === "chrono" ? "Exercice chrononométré" : nom}</h1>

<h2>Le cours</h2>
<Cadre classe="aretenir">
<span slot="titre">
	Algorithme itératif du parcours en largeur d'un arbre binaire
</span>
<span slot="contenu">
	<p>
		Le <strong>parcours en largeur</strong> d'un arbre binaire consiste à traiter tous les nœuds de
		cet arbre, étage par étage, en partant de la racine.
		</p>
		<p>
		Il nécessite l'utilisation d'un file. L'algorithme peut être écrit ainsi :
		</p>
<code><pre>créer une file vide <em>F</em>
enfiler la racine de l&#39;arbre sur <em>F</em>
<strong>tant que</strong> <em>F</em> est non vide, faire :
&nbsp;&nbsp;&nbsp;&nbsp;<em>s</em> ← défiler <em>F</em>
&nbsp;&nbsp;&nbsp;&nbsp;traiter <em>s</em>
&nbsp;&nbsp;&nbsp;&nbsp;<strong>si</strong> <em>s</em> possède un fils gauche :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;enfiler ce fils gauche sur <em>F</em>
&nbsp;&nbsp;&nbsp;&nbsp;<strong>si</strong> <em>s</em> possède un fils droit :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;enfiler ce fils droit sur <em>F</em>
</pre></code>
		<p>
		Ici <code><em>s</em> ← défiler <em>F</em></code> signifie qu'on affecte la première valeur de la file <code><em>F</em></code> à <code><em>s</em></code> et que cette valeur est retirée de la file.
		</p>
</span>
</Cadre>
<h2>Exercice</h2>
{#if (nouvel_exo == 0 && type === "chrono") || type !== "chrono"}
<Cadre classe="info">
<span slot="contenu">
	{#if type === "fixe"}
		<p>Dans cet exercice, le parcours est toujours le même : le {nom}. L'arbre est aléatoire.</p>
	{:else if type === "aléatoire"}
		<p>Dans cet exercice, l'arbre et le type de parcours sont tous les deux aléatoires.</p>
	{:else if type === "chrono"}
		<p>Dans cet exercice, je vais vous proposer successivement dix arbres et, pour chacun, un parcours.
			Il vous faudra cliquer pour parcourir l'arbre le plus vite possible. Dès que vous aurez réussi un parcours d'arbre, je vous en proposerai un autre.
			Cet exercice est chronométré.</p>
		<p>Le nom du parcours sera écrit ci-dessous.</p>
		<p><button on:click={exercice_suivant}>commencer</button></p>
	{/if}
</span>
</Cadre>
{/if}
{#key nouvel_exo}
	{#if nouvel_exo > 0 && nouvel_exo <= nbre_exos || type !== "chrono"}
      <Exo bind:numero {liste_parcours} {type} on:exercice_suivant={exercice_suivant} />
	{/if}
	{#if type === "chrono" && nouvel_exo === nbre_exos+1}
	<Cadre classe="info">
		<span slot="titre">
			Terminé !
		</span>
    <span slot="contenu">
			<p>Vous avez réussi {nbre_exos} parcours en {Math.floor((temps % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))+" h"}
			{Math.floor((temps % (1000 * 60 * 60)) / (1000 * 60))+" min"}
			{Math.floor((temps % (1000 * 60)) / 1000)+" s"}
			{(temps % 1000)+" ms"} !</p>
			<p><button on:click={exercice_suivant}>recommencer</button></p>
		</span>
	</Cadre>
{/if}
{/key}