<script>
    import HTML from '$lib/HTML.svelte';
    import Python from '$lib/Python.svelte';
    import Cadre from '$lib/Cadre.svelte';
    
    function retirer_croisillon(e){
        let r = e;
        if(e && e[0]=="#"){
            r = e.substring(1)
        }
        return r
    }

    function caracteres_valides(e){
        let r = "";
        let valides = "0123456789ABCDEFabcdef";
        for(var i = 0; i<e.length; i++){
            if (valides.indexOf(e[i]) > -1 ){
                r = r + e[i];
            }else{
                r = r + "0";
            }
        }
        return r
    }

    function standardiser_longueur(e){
        let r = e;
        let l = r.length % 3;
        if( l  == 1){
            r = r + "00";
        }
        if( l  == 2){
            r = r + "0";
        }
        return r
    }

    function trois_parties(e){
        return [e.slice(0, e.length / 3), e.slice(e.length / 3, 2*e.length / 3), e.slice(2*e.length / 3)]
    }

    function longueur_deux(tab){
        if(tab[0].length > 8){ // les trois textes ont la même longueur
            let long = tab[0].length-8 
            tab = [tab[0].slice(long),tab[1].slice(long),tab[2].slice(long)];
        }

        while(tab[0].length > 2 && tab[0][0]=="0" && tab[1][0]=="0"&& tab[2][0]=="0" ){
            tab = [tab[0].slice(1), tab[1].slice(1), tab[2].slice(1)];
        }
        if(tab[0].length > 2){
            tab = [tab[0].slice(0,2), tab[1].slice(0,2) ,tab[2].slice(0,2)]
        }
        return tab
    }

    function convertir(e){
        return longueur_deux(trois_parties(standardiser_longueur(caracteres_valides(retirer_croisillon(e))))).join('');
    };

    let entree = "chucknorris";
    $: couleur =  convertir(entree);
</script>
<h1>TP : My favourite color is chucknorris red</h1>
<h2>La situation</h2>
<p><em>My favourite color is chucknorris red</em>, autrement dit : <q>ma couleur préférée est le rouge "chucknorris"</q>. 
    En HTML, on peut coder certaines couleurs par leur nom en anglais : <code>"red"</code>, <code>"green"</code>, <code>"blue"</code>...
    Pour obtenir un paragraphe écrit en rouge, on peut coder ainsi :</p>
    <HTML
id= "exemplerouge"
pendant = {`<p color="red">Mon paragraphe</p>`}
modifiable = {false}
executable = {false}
/>
    <p>Aucune couleur ne s'appelle <code>"chucknorris"</code>, et pourtant, le code suivant fonctionne, en donnant un paragraphe de couleur rouge foncé :</p>
    <HTML
    id= "chucnorris"
    pendant = {`<p color="chucknorris">Mon paragraphe</p>`}
    modifiable = {false}
    executable = {false}
    />
<p>En fait, on peut taper n'importe quel texte dans <code>color="..."</code> et obtenir une couleur. Comment est-ce possible ?</p>
<h2>Premières explications</h2>
<p>La première raison vient du fait qu'en HTML, on peut coder un paragraphe de n'importe quelle couleur sous la forme suivante:</p>
<HTML
id= "exemple1"
pendant = {`<p color="#XXXXXX">Mon paragraphe</p>`}
modifiable = {false}
executable = {false}
/>
<p>Dans ce cas, les six <code>X</code> situés entre guillemets et après le croisillon (caractère #) <em>devraient</em> être des chiffres hexadécimaux, 
    c'est-à-dire des chiffres de 0 à 9 ou des lettres de A à F (en minuscules ou majuscules, peu importe). Ainsi, un paragraphe écrit avec votre couleur préférée pourrait être codé :
</p>
<HTML
id= "exemple2"
pendant = {`<p color="#f66400">Mon paragraphe</p>`}
modifiable = {false}
executable = {false}
/>
<p>Par contre, il <em>ne devrait pas</em> être permis d'écrire n'importe quoi entre les guillemets.</p>
<p>Pourquoi <em>ne devrait pas</em> ? <em>devraient</em> ? Parce que HTML est un langage très laxiste : 
    quand le code HTML comporte des erreurs, le navigateur qui le lit essaie d'intrepréter ce code faux.</p>
<p>La raison est la compatibilité : au début du web, on a tâtonné avant de mettre au point un langage HTML précis et efficace. 
    Ce qui est maintenant considéré comme une erreur était autrefois toléré, voire même considéré comme une bonne pratique.</p>
<p>Ainsi, accepter les "erreurs" permet de faire en sorte que les anciens sites web qui ne sont pas mis à jour sont toujours lisibles.</p>
<h2>Essayons</h2>
<div style:color="#{couleur}">En fait, les navigateurs utilisent un algorithme pour convertir n'importe quel texte en nombre écrit sous la forme <code>#XXXXXX</code>, avec six chiffres hexadécimaux. 
    Tapez n'importe quel texte
    dans la zone de texte suivante et je le convertirai en direct avec cet algorithme.
</div>
<p><input bind:value={entree} /> Couleur calculée = <code>{couleur}</code></p>

<h2>À vous de jouer !</h2>
<p>Il est temps de passer à l'action.</p>
<p>L'objectif de ce TP est de programmer une fonction python <code>convertir_couleur</code> qui prendra en paramètre n'importe quelle chaîne de caractères et
renverra une chaîne de caractères sous la forme <code>#XXXXXX</code> comme le font les navigateurs.</p>
<p>Je vais vous guider en découpant cet algorithme en plusieurs parties. Celles-ci sont indépendantes : vous pouvez les traiter dans l'ordre que vous voulez.</p>

<Cadre classe="afaire">
    <span slot="titre">
        1. Enlever le croisillon.
    </span>
    <span slot="contenu">
        <p>Programmez une fonction <code>oter_croisillon</code>. 
            Cette fonction prend en paramètre une chaîne de caractères. Si cette chaîne commence (caractère le plus à gauche) par un croisillon (<code>#</code>),
        cette fonction renvoie cette chaîne privée de ce premier caractère. Sinon, elle renvoie la chaîne de caractères passée en paramètre.</p>
        <Python 
        id = "exo1"
        pendant= {`def oter_croisillon(txt):
    ...
    
assert oter_croisillon("mot") == "mot", "Erreur pour 'mot'"
assert oter_croisillon("#couleur") == "couleur", "Erreur pour '#couleur'"
assert oter_croisillon("##deux") == "#deux", "Erreur pour '##deux', il ne faut enlever qu'un croisillon"`}
    apres = {`assert oter_croisillon("ceret") == "ceret", "Erreur pour 'ceret'"
assert oter_croisillon("#f66400") == "f66400", "Erreur pour '#f66400'"
assert oter_croisillon("") == "", "Avez-vous traité le cas du texte vide ?"`}
        />
    </span>

</Cadre>

<p>Après avoir supprimé un éventuel croisillon en début de texte, le navigateur remplace tous les caractères non valides (c'est-à-dire ceux qui ne sont pas des chiffres hexadécimaux) par des zéro.</p>

<Cadre classe="afaire">
    <span slot="titre">2. Caractères valides uniquement</span>
    <span slot="contenu">
        <p>Programmez une fonction python <code>caracteres_hexadecimaux</code> que prend en paramètre une chaîne de caractères.</p>
        <p>Cette fonction doit renvoyer la chaîne de caractères dans laquelle tous les caractères qui ne sont pas des chiffres hexadécimaux sont remplacés par ds zéro.</p>
        <p>Ici, les chiffres hexadécimaux sont les chiffres de 0 à 9 et les lettres de "a" à "f", en minuscule ou majusule.</p>
        <p>Vous pouvez utiliser le code <code>x in "0123456789abcdefABCDEF"</code>, qui est évalué à <code>True</code> si la variable <code>x</code> fait partir de <code>"0123456789abcdefABCDEF"</code>.</p>
        <Python
        id = "exo2"
        pendant = {`# entrez votre code ici 

# exemples   
assert caracteres_hexadecimaux("f66400") == "f66400", "erreur avec 'f66400'"
assert caracteres_hexadecimaux("ceret") == "ce0e0", "erreur avec 'ceret'"`}
apres = {`assert caracteres_hexadecimaux("f66400") == "f66400", "erreur avec 'f66400'"
assert caracteres_hexadecimaux("ceret") == "ce0e0", "erreur avec 'ceret'"
assert caracteres_hexadecimaux("f66400") == "f66400", "erreur avec 'f66400'"
assert caracteres_hexadecimaux("ceret") == "ce0e0", "erreur avec 'ceret'"+caracteres_hexadecimaux("ceret")
assert caracteres_hexadecimaux("1234567890") == "1234567890", "erreur avec '1234567890'"+caracteres_hexadecimaux("1234567890")
assert caracteres_hexadecimaux("abcdef") == "abcdef", "erreur avec 'abcdef' : "+caracteres_hexadecimaux("abcdef")
assert caracteres_hexadecimaux("mimi") == "0000", "erreur avec 'mimi' : "+caracteres_hexadecimaux("mimi")`}
        />
    </span>
</Cadre>

<p>Ensuite, il faut standardiser la longueur du texte : comme le résultat doit coder au format RGB qui est en trois parties égales, on veut que le nombre de caractères du texte soit un multiple de 3.</p>
<p>On ne veut pas non plus de texte vide.</p><p>Pour obtenir le résultat voulu, on va ajouter des zéro.</p>

<Cadre classe="afaire">
    <span slot="titre">3. Standardiser la longueur</span>
    <span slot="contenu">
        <p>Programmez une fonction <code>standardiser_longueur</code> qui prend en paramètre une chaîne de caractères.</p>
        <p>Cette fonction doit renvoyer une chaîne de caractères non vide dont le nombre de caractères est un multiple de 3. 
            Pour cela, elle ajoute des zéro à la fin de la chaîne prise en paramètre.</p>
            <Python 
            id="exo3"
            pendant = {`#entrez vode code ici

# exemples
assert standardiser_longueur("FF") == "FF0", "Ajouter un zéro à 'FF' pour obtenir 3 éléments"
assert standardiser_longueur("F0") == "F00", "Ajouter deux zéro à 'F' pour obtenir 3 éléments"
assert standardiser_longueur("AAAAAA") == "AAAAAA", "'AAAAAA' possède déjà 6 éléments, ne pas modifier"
assert standardiser_longueur("AAA") == "AAA", "'AAA' possède déjà 3 éléments, ne pas modifier"
assert standardiser_longueur("") == "000", "Chaîne vide non acceptée"`}

                apres={`assert standardiser_longueur("FF") == "FF0", "Ajouter un zéro à 'FF' pour obtenir 3 éléments"
assert standardiser_longueur("F0") == "F00", "Ajouter deux zéro à 'F' pour obtenir 3 éléments"
assert standardiser_longueur("AAAAAA") == "AAAAAA", "'AAAAAA' possède déjà 6 éléments"
assert standardiser_longueur("AAA") == "AAA", "'AAA' possède déjà éléments"
assert standardiser_longueur("") == "000", "Chaîne vide non acceptée"
for i in range(5,15):
    assert standardiser_longueur("E"*(3*i)) == "E"*(3*i), f"Une chaîne constituée de {3*i} caractères de doit pas être modifiée"
    assert standardiser_longueur("E"*(3*i+1)) == "E"*(3*i+1)+"00", f"Il faut ajouter deux 0 à chaîne constituée de {3*i+1} caractères"
    assert standardiser_longueur("E"*(3*i+2)) == "E"*(3*i+2)+"0", f"Il faut ajouter un 0 à chaîne constituée de {3*i+2} caractères"`}
            />
    </span>
</Cadre>
<p>Maintenant que le texte a pour longueur un multiple de 3, on peut le partager en trois parts égales pour se rapprocher du triplet (rouge, vert, bleu).</p>

<Cadre classe="afaire">
    <span slot="titre">
        4. Partager en trois parts égales
    </span>
    <span slot="contenu">
        <p>Écrivez une fonction <code>trois_parties</code> qui prend en paramètre une chaîne de caractères non vide dont la longueur est un multiple de trois.</p>
        <p>Cette fonction doit renvoyer un tuple comprenant trois éléments. Chacun de ces trois éléments comprend un tiers de la chaîne de caractères entrée en paramètre.</p>
        <p>Le tuple est donc de la forme <code>(premier tiers de la chaîne, deuxième tiers, troisième tiers)</code>.</p>
        <Python 
        id="exo4"
        pendant={`#entrez votre code ici
            
assert trois_parties("f66400") == ("f6","64","00"), "Erreur sur 'f66400'"
assert trois_parties("nsi") == ("n","s","i"), "Erreur sur 'nsi'"`}

apres={`assert trois_parties("f66400") == ("f6","64","00"), "Erreur sur 'f66400'"
assert trois_parties("nsi") == ("n","s","i"), "Erreur sur 'nsi'"
assert trois_parties("mimimi") == ("mi","mi","mi"), "Erreur sur 'mimimi'"
assert trois_parties("123456789") == ("123","456","789"), "Erreur sur '123456789'"
assert trois_parties("123456789123456789123456789") == ("123456789","123456789","123456789"), "Erreur sur '123456789123456789123456789'"`}
        />

    </span>
</Cadre>

<p>On peut avoir trois parties arbitrairement longues, il va falloir raccourcir un peu.</p>
<Cadre classe="afaire">
    <span slot="titre">
        5. Pas plus de huit
    </span>
    <span slot="contenu">
        <p>Programmez une fonction <code>huit_maximum</code> qui prend en paramètre une chaîne de caractères. 
            La fonction doit renvoyer la chaîne de caractères composée des huit derniers caractères de celle passée en paramètre si elle en a plus de huit.
        Sinon, elle renvoie la chaîne passée en paramètre.</p>
        <Python 
        id = "exo5"
        pendant = {`# entrez votre code ici
            
assert huit_maximum("0123456789")=="23456789", "Erreur avec '23456789'"
assert huit_maximum("012")=="012", "Erreur avec '012'"`}

apres = {`assert huit_maximum("0123456789")=="23456789", "Erreur avec '23456789'"
assert huit_maximum("012")=="012", "Erreur avec '012'"
assert huit_maximum("aaaaaaaaaaaaaaaaaaaaaaaaaa")=="aaaaaaaa", "Erreur avec 'aaaaaaaaaaaaaaaaaaaaaaaaaa'"
assert huit_maximum("")=="", "Erreur avec la chaîne de caractère vide"`}
        />
    </span>

</Cadre>
    
<p><small>TP inspiré par <a href="https://htmhell.dev/adventcalendar/2024/20/">l'article <em>My favourite colour is Chuck Norris red</em> du site HTMHell.dev</a>, signalé par Franck Chambon. Merci à eux !</small></p>
