<h1>Programmation orientée objet</h1>
<p>Pourquoi ?</p>
<div id="ide">
<code>
 <pre>>>> from sys import getsizeof
>>> getsizeof("")
49
>>> getsizeof("a")
50
>>> getsizeof([])
56</pre></code>
</div>

<p>TP-cours sur Capytale : <a href="https://capytale2.ac-paris.fr/web/c/a658-2021703">Création d'une classe Personnage</a>.</p>

<h2>Comprendre la syntaxe de la POO</h2>
<p>Sur Codex</p>
<ol>
    <li><a href="https://codex.forge.apps.education.fr/exercices/syntaxe_poo/">Syntaxe de la programmation orientée objet</a> avec des pirates</li>
    <li><a href="https://codex.forge.apps.education.fr/exercices/poo_chien/">La classe <code>Chien</code></a> à compléter</li>
    <li><a href="https://codex.forge.apps.education.fr/exercices/domotique/">Domotique</a></li>
    <li><a href="https://codex.forge.apps.education.fr/en_travaux/livret/">Livret d'épargne</a></li>
</ol>
<h2>Implémentation de types abstraits en POO</h2>
<ol>
    <li><a href="https://codex.forge.apps.education.fr/exercices/filtre_pile/">Filtrer une pile</a></li>
    <li><a href="https://codex.forge.apps.education.fr/exercices/arbre_bin/">Arbres binaires</a></li>
    <li><a href="https://codex.forge.apps.education.fr/exercices/eval_postfixe/">Pile et calcul</a></li>
</ol>

<h2>
    Sujets de bac
</h2>
<h3>
    Écrit
</h3>
<ol>
    <li><a href="https://eduscol.education.fr/document/44686/download">Ex 4 de 22-NSIJ1JA1</a> : POO et brioches</li>
    <li><a href="https://eduscol.education.fr/document/44710/download">Ex 1 de 22-NSIJ2NC1</a> : création d'un jeu</li>
    <li><a href="https://eduscol.education.fr/document/44638/download">Ex 5 de 22-NSIJ1NC1</a> : gestion de compte bancaire</li>
</ol>

