<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    import Longueur from '../modeles/03-Longueur.svelte';

    import IntroPicus from '../12-picus/00-intro.svelte';
    import ChoixPicus from '../12-picus/03-choix-territoire.svelte';
    import SuivantPicus from '../12-picus/03-suivant-plus-trois.svelte';

</script>
<h1>Nombre d'élements</h1>
<h2>Le cours</h2>
<Longueur />

<p>Étudiez l'exemple suivant. Vous pouvez exécuter son code.</p>
<Python id="exemple1"
exercice = {false}
modifiable = {false}
pendant = {`print( len(["a","b","c"]) )`}
/>

<h2>Exercices</h2>

<Cadre classe="afaire">
    <span slot="titre">
        Afficher une moyenne ou un message
    </span>
    <span slot="contenu">
        <p>Vous disposez d'une fonction <code>moyenne</code> qui prend en paramètre un tableau non vide de nombres et renvoie la moyenne de ces nombres. 
            Vous pouvez donc utiliser cette fonction dans votre code, sans la programmer.</p>
            <p>Programmez une fonction <code>texte_moyenne</code> qui prend en paramètre un tableau de nombres. Si ce tableau contient des nombres, la fonction
                <code>texte_moyenne</code> doit renvoyer la moyenne de ces nombres. Mais si le tableau est vide (il ne contient aucun nombre), alors la fonction
                foit renvoyer le texte <code>"Vous n'avez pas de note !"</code>.
            </p>
            <Python id="moyenne"
            avant = {`
def moyenne(t):
  return sum(t)/len(t)
`}
            pendant = {`# votre code ici
                
assert texte_moyenne([1, 2]) == 1.5`}

apres = {`
ttest = [1,1,1,1]
assert texte_moyenne(ttest) == moyenne(ttest), f"Erreur avec {ttest}"
ttest = [1]
assert texte_moyenne(ttest) == moyenne(ttest), f"Erreur avec {ttest}"
ttest = [1,0]
assert texte_moyenne(ttest) == moyenne(ttest), f"Erreur avec {ttest}"
ttest = [1,1,1,1,2,2,2,2]
assert texte_moyenne(ttest) == moyenne(ttest), f"Erreur avec {ttest}"  
assert texte_moyenne([]) ==  "Vous n'avez pas de note !", "Erreur avec liste vide, il faudrait 'Vous n'avez pas de note !'"
assert texte_moyenne(()) ==  "Vous n'avez pas de note !", "Erreur avec tuple vide 'Vous n'avez pas de note !'"`}
            
correction = {5}
code_correction = {`def texte_moyenne(tab):
    if len(tab) > 0:
        return moyenne(tab)
    else:
        return "Vous n'avez pas de note !"`}

/>
    </span>
</Cadre>
<Cadre classe="afaire">
    <span slot="titre">Progrès ?</span>
    <span slot="contenu">
        <p>Programmez une fonction Python <code>progres</code> qui prend en paramètre un tableau de notes, c'est-à-dire un tuple ou une liste comprenant uniquement des nombres.</p>
        <p>Cette fonction doit mesurer les progrès d'un élève ayant eu ces notes.</p>
        <p>Plus précisément, si le tableau contient moins de deux notes, la fonction renvoie <code>"Pas assez de notes."</code>.</p>
        <p>Si le tableau contient suffisamment de notes, la fonction compare uniquement la première et la dernière note. 
            Si la première note est inférieure à la dernière, la fonction renvoie <code>"Progrès !"</code>, si la première note est supérieure à la dernière, elle renvoie <code>"Régression."</code> 
            et si ces deux notes sont égales, la fonction renvoie <code>"Pas de changement."</code>.</p>
        <Python id="progres"
        pendant={`# votre code ici
            
assert progres([1]) == "Pas assez de notes."
assert progres([1, 2]) == "Progrès !"
assert progres([1, 1]) == "Pas de changement."
assert progres([2, 1]) == "Régression."`}

apres = {`assert progres([1]) == "Pas assez de notes.", "Problème avec la liste "+str([1])
assert progres([1, 2]) == "Progrès !", "Problème avec la liste "+str([1, 2])
assert progres([1, 1]) == "Pas de changement.", "Problème avec la liste "+str([1, 1])
assert progres([2, 1]) == "Régression.", "Problème avec la liste "+str([2, 1])
assert progres([]) == "Pas assez de notes.", "Liste vide"
assert progres([1, 2, 3]) == "Progrès !", "Problème avec la liste "+str([1, 2, 3])
assert progres([1,0,3,9,2,1,1]) == "Pas de changement.", "Problème avec la liste "+str([1,0,3,9,2,1,1])
assert progres([2, 0, -1, 1, 0]) == "Régression.", "Problème avec la liste "+str([2, 0, -1, 1, 0])`}

correction = {5}
code_correction = {`def progres(tab):
    if len(tab) < 2:
        return "Pas assez de notes."
    else:
        if tab[0] == tab[len(tab) - 1]:
            return "Pas de changement."
        elif tab[0] > tab[len(tab) - 1]:
            return "Régression."
        else:
            return "Progrès !"`}

/>
    </span>
</Cadre>

<h2>Fil rouge : Picus</h2>

<IntroPicus />
<ChoixPicus />
<SuivantPicus />



