<script>
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


	let animer = false;

	let pile = [{texte:"🐯", "pile":0, "cle":0, "num":0},
					{texte:"🦊", "pile":0, "cle":1, "num":1},
					{texte:"🐼", "pile":0, "cle":2, "num":2},
					{texte:"🐢", "pile":0, "cle":3, "num":3},
					{texte:"🦑", "pile":0, "cle":4, "num":4}
					];
    let piles = [[...pile],[],[]];
	let num = 4;
	let essais = 0;

  	let objectif = [...pile].reverse();

	function verifier(){
		animer = false;
		console.log("vérification");
		if (piles[0].length !== objectif.length) return false;
		for (let i = 0; i < objectif.length; i++) {
			console.log(piles[0][i].texte + " <->" +  objectif[i].texte);
			if (piles[0][i].texte !=  objectif[i].texte){
				return false;
			}
		}
		let msg = " Réussi avec le nombre minimal d'essais !";
		if(essais > objectif.length*3){
			msg = "\nMais vous avez utilisé "+essais.toString()+" essais, vous pouvez faire mieux. Rechargez la page pour réessayer."
		}
		params_alerte = ["Exercice réussi !"+msg,"bravo",true];
	}
	
	function depiler(depart, arrivee) {
		console.log(piles[depart].length);
		if(piles[depart].length == 0){
			params_alerte = ["Impossible de dépiler une pile vide !","erreur",true];
			animer = false;
			return 0;
		}
		animer = true;
		num ++;
		essais ++;
		let elt =  piles[depart].shift();
		piles[arrivee].unshift(elt)
		piles = piles;
		verifier();
  	}

	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />

<h1>Retourner une pile</h1>
<p>
Vous devez retourner la pile 1 sur elle-même. Pour cela, vous pouvez utiliser deux piles auxiliaires : la pile 2 et la pile 3.	
</p>

<p>
Les boutons permettent de dépiler le sommet d'une pile dans une autre.
</p>

<table>
<tr>
	<th>Objectif</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th>Pile&nbsp;1</th>
	<th> </th>
	<th>Pile&nbsp;2</th>
	<th> </th>
	<th>Pile&nbsp;3</th>
</tr>
<tr>
	<td class="cadrebleu">
		{#each objectif as item}	
	    	<div>
		 	{item.texte}
			</div>
    {/each}
	</td>
	<td></td>
	<td class="cadrerouge" style="vertical-align: bottom;">
		{#each piles[0] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
	<td>
		<button on:click={() => depiler(0,1)}>&gt;</button>
		<br/>
		<button on:click={() => depiler(1,0)}>&lt;</button>
		<br/>
		<button on:click={() => depiler(0,2)}>&gt;&gt;</button>
	</td>
	<td class="cadrerouge" style="vertical-align: bottom;">
		{#each piles[1] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
	<td>
		<button on:click={() => depiler(1,2)}>&gt;</button>
		<br/>
		<button on:click={() => depiler(2,1)}>&lt;</button>
		<br/>
		<button on:click={() => depiler(2,0)}>&lt;&lt;</button>
	</td>
	<td class="cadrerouge" style="vertical-align: bottom;">
		{#each piles[2] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
</tr>
</table>
