<script>
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	const [send, receive] = crossfade({
		fallback(node, params) {
			if(! animer){return 0}

			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			animer = false;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


	let animer = false;
	let fini = false;

	let selection = -1;
    let liste = [];
		for (let i=0; i<8; i++){
			liste.push({texte:i, cle:i});
		}
	shuffle(liste);
	function shuffle(array) {
		animer = false;
		// source: https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
        let currentIndex = array.length;

        // While there remain elements to shuffle...
        while (currentIndex != 0) {

            // Pick a remaining element...
            let randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

           // And swap it with the current element.
           [array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]];
        }
    }
	function gerer_clic(i){
		if(fini){return 0;}
		if(i === selection){
			 liste[i].cercle = false;
			 selection = -1;
		}else{
			 if(selection ===-1){
				 selection = i;
				 liste[i].cercle = true;
			 }else{
				 animer = true;
				 liste[selection].cercle = false;
				 [liste[selection],liste[i]] = [liste[i],liste[selection]];
				 selection = -1;
				 verifier()
			}
		}
	}
	function verifier(){
		animer = false;
		for(let i=0; i<liste.length;i++){
			if(liste[i].cle != i){
				return 0;
			}
		}
		fini = true;
		params_alerte = ["La liste est triée ! Vous pouvez recommencer avec une autre liste aléatoire.","bravo",true];
	}
	import Alerte from '$lib/Alerte.svelte';
	let params_alerte = ["","",false];
</script>

<Alerte bind:params_alerte />

<h1>Trier une liste de nombres</h1>
<p>
Vous devez trier la liste de nombres ci-dessous par ordre croissant : du plus petit au plus grand.
</p>
<p>Pour trier, cliquez sur une case, puis sur une deuxième, et cela inversera leurs places. Vous pouvez cliquer sur un nombre déjà sélectionné pour le déselectionner.</p>

<div style="display:flex;margin:5px auto; width:fit-content;">
    {#each liste as item, index  (item)}
        <div class="item" class:cercle={item.cercle} class:fini
		     in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip
             on:click={()=>gerer_clic(index)} >
                {item.texte}
        </div>
    {/each}
 </div>
<button on:click={ ()=>{shuffle(liste); fini=false; } }>recommencer</button>

<style>
.item {
  display:inline-block;
  cursor:pointer;
  padding:10px;
  width: 1em;
  height:1em;
  line-height:1em; /* même taille que le cercle pour alignement vertical */
  text-align: center;
  background-color: #999;
  color: white;
  border:solid;
  border-radius: 50%;
  border-color: var(--monbleu);
}

.cercle {
  background-color: var(--fondrouge);
  border-color: var(--monrouge);
}

.fini {
	background-color: var(--monvertfonce);
	border-color: var(--monvertfonce);
	cursor: default;
}

</style>