<script>
  import Arbre from '$lib/TNSI/03/Arbre.svelte';
  import {parcours_infixe, creer_arbre_aleatoire, est_feuille, inserer_valeur_abr} from '$lib/TNSI/03/arbres.js';
  import Cadre from '$lib/Cadre.svelte';
  import Alerte from '$lib/Alerte.svelte';
  let params_alerte = ["","",false];
	
  let donnees;
  let solution;
  let compte_essais;
  let nb_clics ;
	let reussi;
	let fini;
	let alea;
	let cible;
	let indice_cible;
  function initialiser(){
		donnees = creer_arbre_aleatoire([0, 0.2, 0.5, 1]);
		solution = parcours_infixe(donnees);
		alea = [0];
		for(let i=0; i<solution.length; i++){
			 alea.push(alea[alea.length-1]+Math.ceil(Math.random()*6)+3);
			 donnees[solution[i]].etiquette = alea[alea.length-1];
		}
        for(let i=0; i<solution.length; i++){
			if(solution[i]*2+1 < donnees.length && donnees[solution[i]*2+1].etiquette === "vide"){
				donnees[solution[i]*2+1].etiquette = " ";
			}
			if(solution[i]*2+2 < donnees.length && donnees[solution[i]*2+2].etiquette === "vide"){
				donnees[solution[i]*2+2].etiquette = " ";
			}
		}
		alea.push(alea[alea.length-1]+Math.ceil(Math.random()*6)+3);
		console.log(alea)
		// cible = Math.floor(alea[indice_cible] + 1 + Math.random()*(alea[indice_cible+1]-alea[indice_cible]-1));
		cible = 0;
		while( alea.includes(cible) ){
			cible = Math.floor( Math.random()*(alea[alea.length-1])  );
			console.log(cible);
		}
		indice_cible = inserer_valeur_abr(donnees, cible)
		console.log(indice_cible);
        compte_essais = 0;
		nb_clics = 0;
		reussi = false;
		fini=false;
	}
	initialiser();
  
  function verifier(i){
		console.log(`${indice_cible} ${i}`);
		compte_essais ++;
	  if(indice_cible === i){
			params_alerte = [`Exercice réussi après ${compte_essais} essai${compte_essais==1?"":"s"} ! Vous pouvez recommencer l'exercice avec un autre arbre aléatoire.` ,"bravo",true];
			donnees[i].etiquette = cible;
			donnees[i].classe = "vert";
			reussi = true;
			afficher_correction();
		}else{
			params_alerte= ["Mauvaise réponse. Essayez un autre nœud ou affichez la correction.","erreur",true];
			donnees[i].etiquette = "✗";
			donnees[i].classe = "rouge";
		}
    }
	function gerer_clic_noeud(e){
		if(fini || donnees[e.detail.index].etiquette !== " "){
			return 0;
		}else{
		    verifier(e.detail.index);
		}
	}
	function afficher_correction(){
		let debut = 0
		let fin = 0;
		let couleur = reussi ? "vert" : "rouge";
		while(2*debut+2 < donnees.length){
			if(cible < parseInt(donnees[debut].etiquette)){
			  fin = debut*2 + 1;
				donnees[debut].vers_gauche = {etiquette:`${cible} < ${donnees[debut].etiquette}`, classe_ligne: couleur, classe_texte: `gauche ${couleur}` };
		  }else{
			  fin = debut*2 + 2;
				donnees[debut].vers_droite = {etiquette:`${cible} > ${donnees[debut].etiquette}`, classe_ligne: couleur, classe_texte: `droite ${couleur}`};
		  }
			donnees[debut].classe = couleur;
			debut = fin;
		}
		donnees[indice_cible].etiquette = cible;
		donnees[indice_cible].classe = couleur;
		fini = true;
	}
</script>

<Alerte bind:params_alerte />
<h1>Insérer dans un arbre binaire de recherche</h1>
<Cadre classe = "aretenir">
<span slot="contenu">
	<p>
		Les nœuds d'un arbre peuvent être munis d'étiquettes. 
		Considérons des étiquettes qui peuvent être classées dans
		un certain ordre, comme les chaînes de caractères (par ordre alphabétique)
		ou les nombres.
	</p>
	<p>
		Un <dfn>arbre binaire de recherche</dfn> est un arbre dont les étiquettes peuvent
		être classées. De plus, dans un arbre binaire de recherche :
	</p>
		<ul>
			<li>tous les nœuds du sous-arbre gauche ont une étiquette inférieure à celle de la racine ;</li>
			<li>tous les nœuds du sous-arbre droit ont une étiquette supérieure à celle de la racine ;</li>
			<li>les sous-arbres gauche et droit sont eux-mêmes des arbres binaires de recherche.</li>
		</ul>
</span>
</Cadre>
<Cadre classe="afaire">
<span slot="contenu">
<p>On souhaite insérer le nombre {cible} dans l'arbre binaire de recherche suivant. 
Cliquez sur le nœud où il doit se trouver.</p>
</span>
</Cadre>

<div style="width:fit-content" class="centre">
	<div style="width:fit-content;margin:5px auto;" class="centre">
	{#if fini}
	    <button on:click={initialiser}>recommencer</button>
	{:else}
		{#if compte_essais > 0}
			<button on:click={afficher_correction}>correction</button>
		{/if}
	{/if}
	</div>
    <Arbre bind:donnees on:noeud_clique={gerer_clic_noeud}/>
</div>
