<script>
    import { page } from '$app/stores';
    import Navigation from '$lib/Navigation.svelte';
    import { contenus } from '../contenus.js';
  </script>

<h1>Fonctions</h1>

<h2>TP-cours</h2>
<p>TP-cours sur Capytale :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<h2>Exercices interactifs</h2>
<p>Exercices auto-corrigés sur Codex :</p>
<ol>
  <li><a href="https://codex.forge.apps.education.fr/exercices/consommation_electrique/">Consommation d'énergie</a></li>
  <li><a href="https://codex.forge.apps.education.fr/exercices/fonctions/">Fonctions simples</a></li>
</ol>