<script>
 	import { page } from '$app/stores';
    import Navigation from '$lib/Navigation.svelte';
    import { contenus } from '../contenus.js';
</script>

<h1>Qu'est-ce qu'un ordinateur ?</h1>

<p>Au menu de ce chapitre :</p>

<Navigation liste_donnee={$contenus} type="contenus_liste" />