<script>
	import Cadre from '$lib/Cadre.svelte';
	
	import Exo from '$lib/TNSI/03/Exercice_parcours_arbre.svelte';
	const liste_parcours = ["parcours en largeur", "parcours préfixe", "parcours infixe", "parcours suffixe"];
	let numero = 3;
	$: nom = liste_parcours[numero];
	let type = "fixe";  // "fixe" "aléatoire" "chrono"

	let nouvel_exo = 0;
	let temps;

	const nbre_exos = 10;

	function exercice_suivant(){
		nouvel_exo = (nouvel_exo+1) % (nbre_exos+2);
		if(type === "chrono"){
			if(nouvel_exo === 1){
			  temps = Date.now();
		  }
			else if(nouvel_exo === nbre_exos+1){
				temps =  Date.now() - temps;
			}
		}
		if(type !== "fixe"){
			numero = Math.floor( Math.random()*4 );
		}
	}
</script>

<h1>{type === "chrono" ? "Exercice chrononométré" : nom}</h1>
<h2>Le cours</h2>
<Cadre classe="aretenir">
<span slot="titre">
	Algorithme itératif du parcours suffixe (ou postfixe) d'un arbre binaire
</span>
<span slot="contenu">
	<p>
		Pour l'algorithme itératif du <strong>parcours en profondeur suffixe</strong> 
		(ou <strong>postfixe</strong>) d'un arbre binaire, on laisse
		le nœud courant dans la pile, il sera traité après ses fils s'il en a.
		L'algorithme peut être écrit ainsi :
		</p>
<code><pre>créer une pile vide <em>P</em>
empiler la racine de l&#39;arbre sur <em>P</em>
<strong>tant que</strong> <em>P</em> est non vide, faire :
&nbsp;&nbsp;&nbsp;&nbsp;<em>s</em> ← dépiler <em>P</em>
&nbsp;&nbsp;&nbsp;&nbsp;empiler <em>s</em> sur <em>P</em>
&nbsp;&nbsp;&nbsp;&nbsp;<strong>si</strong> <em>s</em> ne possède aucun fils qui n'est pas marqué :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;traiter <em>s</em>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dépiler <em>P</em>
&nbsp;&nbsp;&nbsp;&nbsp;<strong>si</strong> <em>s</em> possède un fils droit qui n'est pas marqué :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;marquer ce fils droit
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;empiler ce fils droit sur <em>P</em>
&nbsp;&nbsp;&nbsp;&nbsp;<strong>si</strong> <em>s</em> possède un fils gauche qui n'est pas marqué :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>s</em> sur <em>P</em>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;marquer ce fils gauche
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;empiler ce fils gauche sur <em>P</em>
</pre></code>
		<p>
		Ici <code><em>s</em> ← dépiler <em>P</em></code> signifie qu'on affecte le sommet de la pile <code><em>P</em></code> à <code><em>s</em></code> et que cette valeur est retirée de la pile.
		</p>
</span>
</Cadre>

<p>
	L'algorithme récursif est plus court. Il peut être écrit ainsi :
</p>

<Cadre classe="aretenir">
	<span slot="titre">
		Algorithme récursif du parcours suffixe d'un arbre binaire
	</span>
	<span slot="contenu">
<code>
<pre>
<stong>Fonction</stong> suffixe(<em>A</em>):
&nbsp;&nbsp;&nbsp;&nbsp;<strong>si</strong> <em>A</em> est non vide :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;suffixe(sous-arbre gauche de <em>A</em>)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;suffixe(sous-arbre droit de <em>A</em>)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;traiter la racine de <em>A</em>
</pre>
</code>
	</span>
	</Cadre>
<h2>Exercice</h2>
{#if (nouvel_exo == 0 && type === "chrono") || type !== "chrono"}
<Cadre classe="info">
<span slot="contenu">
	{#if type === "fixe"}
		<p>Dans cet exercice, le parcours est toujours le même : le {nom}. L'arbre est aléatoire.</p>
	{:else if type === "aléatoire"}
		<p>Dans cet exercice, l'arbre et le type de parcours sont tous les deux aléatoires.</p>
	{:else if type === "chrono"}
		<p>Dans cet exercice, je vais vous proposer successivement dix arbres et, pour chacun, un parcours.
			Il vous faudra cliquer pour parcourir l'arbre le plus vite possible. Dès que vous aurez réussi un parcours d'arbre, je vous en proposerai un autre.
			Cet exercice est chronométré.</p>
		<p>Le nom du parcours sera écrit ci-dessous.</p>
		<p><button on:click={exercice_suivant}>commencer</button></p>
	{/if}
</span>
</Cadre>
{/if}
{#key nouvel_exo}
	{#if nouvel_exo > 0 && nouvel_exo <= nbre_exos || type !== "chrono"}
      <Exo bind:numero {liste_parcours} {type} on:exercice_suivant={exercice_suivant} />
	{/if}
	{#if type === "chrono" && nouvel_exo === nbre_exos+1}
	<Cadre classe="info">
		<span slot="titre">
			Terminé !
		</span>
    <span slot="contenu">
			<p>Vous avez réussi {nbre_exos} parcours en {Math.floor((temps % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))+" h"}
			{Math.floor((temps % (1000 * 60 * 60)) / (1000 * 60))+" min"}
			{Math.floor((temps % (1000 * 60)) / 1000)+" s"}
			{(temps % 1000)+" ms"} !</p>
			<p><button on:click={exercice_suivant}>recommencer</button></p>
		</span>
	</Cadre>
{/if}
{/key}