<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
    
    import Tableaux from '../modeles/01-Tableaux.svelte';

    import IntroPicus from '../12-picus/00-intro.svelte';
    import ExemplePicus from '../12-picus/01-exemple.svelte';

    import IntroTicTacToe from '../10-tic-tac-toe/00-intro.svelte';
    import GrilleVide from '../10-tic-tac-toe/01-definition.svelte';


    let value = `print("k" + 2)`;

    let apres_ceret = `assert 'ceret' in globals(), 'Je ne trouve pas de variable nommée ceret !'
assert type(ceret) == tuple, "La variable ceret doit être un tuple."
assert len(ceret) == 2, "La variable ceret doit avoir deux éléments, j'en compte "+str(len(ceret))+"."
assert ceret[0] == 42.49, "Le premier élément doit être 42.49 !"
assert ceret[1] == 2.75, "Le deuxième élément doit être 2.75 !"`;
    let pendant_ceret = `ceret = ... # complétez`;
    
</script>
<h1>Coder un tableau</h1>
<h2>Le cours</h2>
<Tableaux />

<Cadre classe="exemple">
    <span slot="titre">Exemple</span>
    <span slot="contenu">
        <p>Voici quelques tableaux en python. Observez bien la syntaxe.</p>

<Python
id = "exemple1"
modifiable = {false} 
executable = {false}
pendant = {`courses = ["pommes", "noix", "pain"] # liste
prix    = (12, 4, 17)                # tuple
masses  = 4, 8, 8                    # tuple`}
/>
    </span>
</Cadre>

Les espaces avant ou après les virgules sont facultatifs, ils servent uniquement à faciliter la lecture par les personnes qui lisent le code, sans influence sur son exécution.
Traditionnellement, on ne met pas d'espace avant une virgule, mais on en met un après, comme en français.

Comme les tableaux peuvent être assez longs, il est autorisé d'aller à la ligne entre deux items. Ainsi, le code suivant est valide :

<Python
id = "exemple2"
modifiable = {false}  
executable = {false}
pendant = {`courses = [  "pommes",     "noix","pain"] # des espaces, ou pas
prix    = (12, 
      4, 
      17)                # retours à la ligne`}
/>

<h2>Exercices</h2>
<Cadre classe="afaire">
    <span slot="titre">Coordonnées de Céret</span>
    <span slot="contenu">
        <p>Céret se trouve à une latitude de 42,49 degrés et une longitude 2,75 degrés.</p>
        <p>Affectez à une variable <code>ceret</code> un tuple comprenant deux items : d'abord la latitude, puis la longitude de Céret.</p>
        <Python pendant = {pendant_ceret}  apres = {apres_ceret} id={"ceret"}
        correction = {5}
        code_correction = {`ceret = (42.49, 2.75)`}
        />
    </span>
</Cadre>

<Cadre classe="afaire">
    <span slot="titre">La couleur de mon site préféré</span>
    <span slot="contenu">
        <p>Le système RGB (rouge, vert, bleu) permet d'exprimer une couleur à l'aide de trois composantes : le rouge, le vert et le bleu, dans cet ordre.</p>
        <p>La couleur dominante de mon site préféré est F66400. 
            Cela signifie que la valeur du rouge est, en écriture décimale, 246, celle du vert est 100 et celle du bleu est 0.</p>
        <p>Créez une variable <code>couleur</code> qui est un tableau de type <code>list</code> comprenant trois items. 
            Ces trois items doivent être, dans l'ordre, les valeurs des composantes rouge, puis verte, puis bleue de la couleur F66400, écrites en écriture décimale.</p>
        <Python id="couleur" apres = {
`assert 'couleur' in globals(), 'Je ne trouve pas de variable nommée couleur !'
assert type(couleur) == list, "La variable couleur doit être une 'list'."
assert len(couleur) == 3, "La variable doit avoir trois éléments, j'en compte "+str(len(couleur))+"."
assert type(couleur[0]) == int, "Le premier élément doit être un nombre entier !"
assert type(couleur[1]) == int, "Le deuxième élément doit être un nombre entier !"
assert type(couleur[2]) == int, "Le troisième élément doit être un nombre entier !"
assert couleur[0] == 246, "Le premier élément doit être 246 !"
assert couleur[1] == 100, "Le deuxième élément doit être 100 !"
assert couleur[2] == 0, "Le troisième élément doit être 0 !"
`} 

pendant = {`# votre code ici`}

correction = {5}
code_correction = {`couleur = [246, 100, 0]`}
/>
    </span>
</Cadre>

<Cadre classe="afaire">
    <span slot="titre">Division entière</span>
    <span slot="contenu">
        <p>La <dfn>division euclidienne</dfn> (ou <dfn>division entière</dfn>) est une manière de partager un nombre entier naturel en deux nombres : le <dfn>quotient</dfn> et le <dfn>reste</dfn>.</p>
        <p>Imaginez que vous voulez partager 17 objets équitablement entre 5 amis.</p>
        <p>Vous pouvez donner 3 objets à chacun : le quotient de la division euclidienne de 17 par 5 est 3.</p>
        <p>Il vous reste alors 2 objets : le reste de la division euclidienne de 17 par 5 est 2.</p>
        <p>En python, on calcule le quotient de la division euclidienne de <code>n</code> par <code>p</code> avec : <code>n // p</code> (deux "slash") et le reste par <code>n % p</code>.</p>
        <p>Programmez une fonction <code>division</code> qui prend en paramètre deux nombres entiers <code>n</code> et <code>p</code> et qui renvoie un tuple constitué du quotient et 
            du reste de la division euclidienne de <code>n</code> par <code>p</code>. 
        </p>
        <Python id="division"
        pendant = {`# votre code ici

assert division(17, 5) == (3,2), "Erreur dans la division de 17 par 5"`}

apres = {`assert division(17, 5)[0] == 3, "Erreur dans le quotient de la division de 17 par 5"
assert division(17, 5)[1] == 2, "Erreur dans le reste de la division de 17 par 5"
assert division(12, 4)[0] == 3, "Erreur dans le quotient de la division de 12 par 4"
assert division(12, 4)[1] == 0, "Erreur dans le reste de la division de 12 par 4"
for i in range(5,67):
    for j in range(6,56):
        assert division(i,j) == (i // j, i % j), f"division({i},{j}) devrait renvoyer {(i // j, i % j)}, renvoie {division(i,j)}"
`}

correction = {5}
code_correction = {`def division(n, p):
    quotient = n // p 
    reste = n % p 
    return (quotient, reste)`}
        />
    </span>
</Cadre>

<h2>Fil rouge : Picus</h2>

<IntroPicus />
<ExemplePicus />

<h2>Fil rouge : Jeu de Tic-tac-toe</h2>

<IntroTicTacToe />
<GrilleVide />