<script>
    import Tableaux from '../modeles/01-Tableaux.svelte';
    import LectureElement from '../modeles/02-LectureElement.svelte';
    import Longueur from '../modeles/03-Longueur.svelte';
    import Modification from '../modeles/04-Modification.svelte';
    import Ajout from '../modeles/05-Ajout.svelte';
    import Suppression from '../modeles/06-Suppression.svelte';
    import Matrices from '../modeles/07-Matrices.svelte';
    import MatriceLecturePython from '../modeles/08-MatriceLecturePython.svelte';
</script>

<h1>Résumé du cours</h1>
<h2>Tableaux (listes et tuples)</h2>
<Tableaux />
<LectureElement />
<Longueur />
<Modification />
<Ajout />
<Suppression />
<h2>Matrices</h2>
<Matrices />
<MatriceLecturePython exemple={false} />