<script>
    import Cadre from '$lib/Cadre.svelte';
</script>

<Cadre classe="aretenir">
    <span slot="titre">Les tableaux.</span>
    <span slot="contenu">
      <p>Un <dfn>tableau</dfn> est un type de données qui peut contenir plusieurs <dfn>éléments</dfn> (aussi appelés <dfn>items</dfn>) classés dans un certain ordre.</p> 
      <p>Python comprend deux types de tableaux : les <dfn>listes</dfn> (type python <code>list</code>) et les <dfn>tuples</dfn> (type python <code>tuple</code>).</p>
      <p>On définit un tableau en donnant ses éléments, séparés par des virgules. Une liste est encadrée par des crochets, un tuple n'est pas encadré, ou est encadré par des parenthèses.</p>
    </span>
</Cadre>