<script>
    import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="aretenir">
    <span slot="titre">Lecture d'un élément</span>
    <span slot="contenu">
        <p>Pour un tableau <code>tab</code>, on peut lire son élément d'indice <code>i</code> avec la syntaxe <code>tab[i]</code>.</p>
        <p>Attention, comme les indices commencent à zéro, la valeur de <code>i</code> doit être comprise entre zéro et <code>n-1</code>, où <code>n</code> est le nombre total d'items de <code>tab</code>.</p>
    </span>
</Cadre>