<script>
    import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="aretenir">
    <span slot="titre">Longueur</span>
    <span slot="contenu">
        <p>Pour obtenir le nombre d'éléments d'un tableau <code>tab</code>, on peut le passer en paramètre de la fonction <code>len</code> avec le code : <code>len(tab)</code>.</p>
    </span>
</Cadre>