<script>
    import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="aretenir">
    <span slot="titre">Tuples et listes : la différence</span>
    <span slot="contenu">
        <p>Outre la syntaxe d'écriture, la principale différence entre les tuples et les listes en Python est que les listes sont modifiables et les tuples ne le sont pas.
        </p>
        <p>Les listes sont donc intéressantes lorsqu'on veu pouvoir modifier les données. Sinon, à données égales, un tuple prend moins de place en mémoire qu'une liste.</p>
    </span>
</Cadre>

<Cadre classe="aretenir">
    <span slot="titre">Modification d'un élément d'une liste</span>
    <span slot="contenu">
        <p>Pour affecter une valeur <code>val</code> à l'élément d'indice <code>i</code> d'une liste <code>tab</code>, on utilise la syntaxe <code>tab[i] = val</code>.
        </p>
        <p>Cela n'est pas possible pour un tuple.</p>
    </span>
</Cadre>