<script>
    import Cadre from '$lib/Cadre.svelte';
</script>

<Cadre classe="aretenir">
    <span slot="titre">Ajout d'un élément à la fin d'une liste</span>
    <span slot="contenu">
        <p>Si <code>liste</code> est une variable de type <code>list</code>, 
            il est possible de lui ajouter un élément <code>item_a_ajouter</code> à la fin sous la forme : <code>liste.append(item_a_ajouter)</code>.</p>
    </span>
</Cadre>