<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    let tab ;
    let x;
    let numero = 0;
    function init(){
        let t = ['liste', 'tab', 'ma_liste', 'courses', 'tableau', 't', 'picus', 'grille'];
        tab = t[Math.round(Math.random()*t.length)];
        x = Math.floor(Math.random()*20);
        numero++;
    }
    init();
</script>

<Cadre classe="afaire">
    <span slot="titre">Ajout à une grille</span>
    <span slot="contenu">
        <p>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.</p>
        <p>Le programme python suivant possède des lignes masquées qui créent une liste <code>{tab}</code> dont les éléments vous sont inconnus.</p>
        <p>Vous devez ajouter le nombre {x} à la fin de cette grille avec ma méthode <code>.append</code></p>
        
        {#key numero}
        <div><small>Exercice n°{numero}</small></div>
        <Python id="ajout_simple"
avant = {`from random import randint
${tab} = [randint(1, 1000) for i in range(randint(100,300))]
copie____cor = [e for e in ${tab}]+[${x}]
`}
pendant = {`# votre code ici`}
apres = {`assert len(${tab}) == len(copie____cor), "Le nombre d'éléments de ${tab} n'est pas correct"
assert ${tab} == copie____cor, "Erreur, liste incorrecte"`}

correction = {5}
code_correction = {`${tab}.append(${x})`}
        />
        {/key}
    </span>
</Cadre>