<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    let tab ;
    let i;
    let x ;
    let numero = 0;
    function init(){
        let t = ['liste', 'tab', 'ma_liste', 'courses', 'tableau', 't', 'picus', 'grille'];
        tab = t[Math.floor(Math.random()*t.length)];
        let tt = ['x','a','b','y','element','item','elt','inconnu'];
        x = tt[Math.floor(Math.random()*tt.length)];
        i = Math.round(Math.random()*20);
        numero ++;
    }
    init();
</script>

<Cadre classe = "afaire">
    <span slot = "titre">Supprimer et récupérer un élément d'une liste</span>
    <span slot = "contenu">
        <p>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.</p>
        <p>Le programme python suivant possède des lignes masquées qui créent une liste <code>{tab}</code> dont les éléments vous sont inconnus.</p>
        <p>Supprimez l'élément d'indice {i} de cette liste et affectez-le à une variable appelée <code>{x}</code>.</p>
        {#key numero}
        <div><small>Exercice n°{numero}</small></div>
        <Python id = "supprimer_recuperer"
        avant = {`from random import randint
${tab} = [randint(1,1000) for i in range(100)]
tab_test = [${tab}[i] for i in range(len(${tab})) if i != ${i}]
xxxxxxxxxxx_test = ${tab}[${i}]
`}
        apres = {`assert ${tab} == tab_test, "La liste n'est pas modifiée correctement"
assert xxxxxxxxxxx_test == ${x}, "La variable n'a pas la bonne valeur"`}
        correction = {5}
        code_correction = {`${x} = ${tab}.pop(${i})`}
        />
        {/key}
    </span>
</Cadre>