<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    let tab;
    let numero = 0;
    function init(){
        let t = ['liste', 'tab', 'ma_liste', 'courses', 'tableau', 't', 'picus', 'grille'];
        tab = t[Math.floor(Math.random()*t.length)];
        numero++;
    }
    init();
</script>

<Cadre classe = "afaire">
    <span slot = "titre">Supprimer le dernier élément d'une liste</span>
    <span slot = "contenu">
        <p>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.</p>
        <p>Le programme python suivant possède des lignes masquées qui créent une liste <code>{tab}</code>, dont le nombre d'éléments est inconnu. Supprimez le <em>dernier</em> élément de cette liste.</p>
        
        {#key numero}
        <div><small>Exercice n°{numero}</small></div>
        <Python id = "supprimer_dernier"
        avant = {`from random import randint
${tab} = [randint(1,1000) for i in range(randint(100, 200))]
tab_test = [${tab}[i] for i in range(len(${tab})-1)]
`}
        apres = {`assert ${tab} == tab_test, "Erreur"`}
        correction = {5}
        code_correction = {`${tab}.pop()`}
        />
        {/key}
    </span>
</Cadre>