<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';

    let tab ;
    let i;
    let correction = 5;
    let numero = 0;
    function init(){
        correction = 6;

        let t = ['liste', 'tab', 'ma_liste', 'courses', 'tableau', 't', 'picus', 'grille'];
        tab = t[Math.floor(Math.random()*t.length)];
        i = Math.round(Math.random()*20);
        numero++;
    }
    init();
</script>

<Cadre classe = "afaire">
    <span slot = "titre">Supprimer un élément d'une liste</span>
    <span slot = "contenu">
        <p>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.</p>
        <p>Le programme python suivant possède des lignes masquées qui créent une liste <code>{tab}</code> dont les éléments vous sont inconnus. Supprimez l'élément d'indice {i} de cette liste.</p>
        {#key numero}
        <div><small>Exercice n°{numero}</small></div>
        <Python id = "supprimer"
        avant = {`from random import randint
${tab} = [randint(1,1000) for i in range(100)]
tab_test = [${tab}[i] for i in range(len(${tab})) if i != ${i}]
`}
        apres = {`assert ${tab} == tab_test, "Erreur"`}
        {correction}
        code_correction = {`${tab}.pop(${i})`}
        />
        {/key}
    </span>
</Cadre>