<script>
    import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe = "aretenir">
    <span slot = "titre">Suppression d'un élément</span>
    <span slot = "contenu">
        <p>On peut supprimer un item avec la méthode <code>liste.pop</code> à laquelle on passe en paramètre l'index de l'élément à supprimer. 
            Si on n'indique pas de paramètre, c'est le dernier élément de la liste qui est supprimé.</p>
        <p>Par exemple, on peut supprimer le premier élément d'une liste <code>tab</code> avec l'instruction <code>tab.pop(0)</code>.</p>
        <p>La fonction <code>pop</code> supprime un élément, mais aussi le renvoie : il est possible de le réutiliser avec une affectation à une variable.</p>
    </span>
</Cadre>