<script>
	import Plateau from '$lib/Plateau.svelte';
	import Cadre from '$lib/Cadre.svelte';
	import Alerte from '$lib/Alerte.svelte';
	import {creer_matrice} from '$lib/matrices.js';

	// exercice 1 cliquer sur la cellule
	let plateau;
	let i;
	let j;
	let rep_ligne;
	let rep_colonne
	let cliquable = true;

	let params_alerte = ["","",false];

	let largeur;
	let hauteur;
	function init(){
		cliquable = true;
		
		hauteur = Math.floor(Math.random()*4) + 4;
    largeur = Math.floor(Math.random()*4) + 4;
		
	  i = Math.floor(Math.random()*hauteur);
	  j = Math.floor(Math.random()*largeur);
		
		plateau = creer_matrice(hauteur, largeur); 
	}
  init();
	function verifier(rep_ligne, rep_colonne){
		rep_ligne = rep_ligne;
		rep_colonne = rep_colonne;
		if (rep_ligne == i && rep_colonne == j){
			plateau[rep_ligne][rep_colonne] = 11;
			params_alerte = ["Exercice réussi !","bravo",true];
		}else{
			plateau[rep_ligne][rep_colonne] = 12;
			const msg = `Erreur. Vous avez cliqué sur la case siutée ligne ${rep_ligne}, colonne ${rep_colonne} 
			au lieu de ligne ${i}, colonne ${j}.`
			params_alerte = [msg,"erreur",true];
		}
	}
</script>
<Alerte bind:params_alerte />
<Cadre classe="afaire">
	<span slot="titre">Cliquer sur la case</span>
	<span slot="contenu">
	 <p><small><em>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.
	 </em></small></p>
		<p>Cliquez sur la cellule située sur la ligne d'indice {i} et la colonne d'indice {j}.</p>
		
		{#key plateau}
		<Plateau plateau={plateau} {cliquable}
			on:cellule_clique={(e)=>verifier(e.detail.i, e.detail.j)} />
		{/key}
	</span>
</Cadre>