<script>
	import Plateau from '$lib/Plateau.svelte';
	import Cadre from '$lib/Cadre.svelte';
	import Alerte from '$lib/Alerte.svelte';
	import {creer_matrice} from '$lib/matrices.js';

	// exercice 2 : indiquer la cellule
	let plateau;
	let ligne;
	let colonne;
	let valeur=0;

	let params_alerte = ["","",false];

	let rep_ligne = 0;
	let rep_colonne = 0;
	let largeur;
	let hauteur;
	function init(){
		rep_ligne = 0;
	    rep_colonne = 0;
		
		hauteur = Math.floor(Math.random()*4) + 2;
        largeur = Math.floor(Math.random()*4) + 2;
		
	    ligne = Math.floor(Math.random()*hauteur);
	    colonne = Math.floor(Math.random()*largeur);
		
		plateau = creer_matrice(hauteur, largeur); 
		valeur = Math.floor(Math.random()*9)+1;
		plateau[ligne][colonne] = valeur;
	}
  init();
	function verifier(){
    if( Array.from(Array(hauteur).keys()).includes(rep_ligne) && 
			 Array.from(Array(largeur).keys()).includes(rep_colonne) )
		{
			 if (rep_ligne == ligne && rep_colonne == colonne){
				plateau[rep_ligne][rep_colonne] = 11;
				params_alerte = ["Exercice réussi !","bravo",true];
			}else{
				plateau[rep_ligne][rep_colonne] = 12;
				params_alerte = [`Erreur. Vous avez indiqué la case siutée ligne ${rep_ligne}, colonne ${rep_colonne} 
			au lieu de ligne ${i}, colonne ${j}.`,"erreur",true];
			}
		}else{
			if( Array.from(Array(hauteur).keys()).includes(rep_ligne)){
						params_alerte = [`L'indice de colonne doit être un nombre entier compris entre 0 et ${largeur-1} !`,"erreur",true];
			} else{
						params_alerte = [`L'indice de ligne doit être un nombre entier compris entre 0 et ${hauteur-1} !`,"erreur",true];
			}
		}
	}
</script>
<Alerte bind:params_alerte />
<Cadre classe="afaire">
	<span slot="titre">Indiquer la case</span>
	<span slot="contenu">
		<p><small><em>Cet exercice utilise des données aléatoires : cliquez sur <button on:click = {()=>init()}>recommencer</button> pour obtenir un autre exercice semblable.
		</em></small></p>
<p>Indiquez l'indice de la ligne 
	<input bind:value={rep_ligne} 
		type="number" 
		min="0" max="{plateau.length-1}"> et celui de la colonne 
	<input bind:value={rep_colonne}
		type="number" min="0" max="{plateau[0].length-1}"> où
se trouve le nombre {valeur} dans la matrice suivante.</p>
		<p>Ensuite, <button on:click={()=>verifier()}>vérifiez</button>.</p>
		{#key plateau}
		<Plateau plateau={plateau} />
		{/key}
	</span>
</Cadre>