<script>
    import Cadre from '$lib/Cadre.svelte';
</script>
<Cadre classe="aretenir">
	<span slot="titre">Définition</span>
	<span slot="contenu">
		<p>Une <dfn>matrice</dfn> est un tableau rectangulaire 
		de nombres. Il est constitué de <dfn>lignes</dfn> et de <dfn>colonnes</dfn>.</p>
		<p>Les lignes sont les parties horizontales du tableau, les colonnes sont verticales.</p>
	</span>
</Cadre>