<script>
	import Cadre from '$lib/Cadre.svelte';
	import Python from '$lib/Python.svelte';
	import Plateau from '$lib/Plateau.svelte';
	import {creer_bloc_sudoku_aleatoire} from '$lib/matrices.js';

	let plateau_initial;

	const matrices = ["mat", "tab", "m", "matrice", "grille", "tableau"];
	const variables = ["elt", "item", "x", "element", "nombre", "nb"];
	let matrice;
	let i;
	let j;
	let variable;
	let reponse;
    const init = function(){
		plateau_initial = creer_bloc_sudoku_aleatoire();
		matrice = matrices[ Math.floor( Math.random()*matrices.length ) ];
		i = Math.floor( Math.random()*3 );
		j = Math.floor( Math.random()*3 );
		variable = variables[ Math.floor( Math.random()*variables.length ) ];
		reponse = plateau_initial[i][j];
	}
    init();
</script>
<Cadre classe="afaire">
	<span slot="titre">Lire un élément</span>
	<span slot="contenu">
		<p><small><em>Cet exercice utilise des données aléatoires : 
			rechargez la page
			pour obtenir un autre exercice semblable.</em></small></p>

		<p>Vous disposez d'une matrice codée en python et enregistrée dans la variable 
			<code>{matrice}</code>.</p>
			<p>Lisez l'élément de <code>{matrice}</code> qui
			est situé dans la ligne d'indice {i} et la colonne d'indice {j} : et affectez-le
			à la variable <code>{variable}</code>.</p>
			
			
<Python id = "exo_lecture"
correction = {5}

avant = {`${matrice} = ${JSON.stringify(plateau_initial)}
`}

apres = {`assert ${variable} == ${reponse}, "Erreur !"`}

pendant = {'# votre code ici'}
		
code_correction = {`${variable} = ${matrice}[${i}][${j}]`}
	/>
</Cadre>

