<script>
	import Cadre from '$lib/Cadre.svelte';
	import Python from '$lib/Python.svelte';
	import Plateau from '$lib/Plateau.svelte';
	import {creer_matrice, matrices_egales} from '$lib/matrices.js';

	let plateau_initial;
	let plateau_actuel;
	let plateau_final;

	const matrices = ["mat", "tab", "m", "matrice", "grille", "tableau"];
	let matrice;
	let i;
	let j;
	let valeur;
  const init = function(){
		plateau_initial = creer_matrice(4,4);
		matrice = matrices[ Math.floor( Math.random()*matrices.length ) ];
		plateau_final = creer_matrice(4,4);
		i = Math.floor( Math.random()*4 );
		j = Math.floor( Math.random()*4 );
		valeur = Math.floor( Math.random()*9 )+1;
		plateau_final[i][j] = valeur;
	}
  init();
	const js_modules = {
		"matrices":{
			 verifier : function(m){
				 //return JSON.stringify(JSON.parse(m));
				 //plateau_actuel = JSON.stringify(JSON.parse(m));
				 console.log( JSON.stringify(JSON.parse(m)) );
				 plateau_actuel = JSON.parse(m);
				 //console.log( JSON.stringify(plateau_final) );
				 //return (JSON.stringify(JSON.parse(m)) == JSON.stringify(plateau_final));
				return ( matrices_egales(plateau_actuel, plateau_final) );
			 }
		}
	}
</script>
<Cadre classe="afaire">
	<span slot="titre">Modifier un élément</span>
	<span slot="contenu">
		<p>Vous disposez d'une matrice codée en python et enregistrée dans la variable 
			<code>{matrice}</code>.</p>
			<p>Modifiez l'élément de <code>{matrice}</code> qui
			est situé dans la ligne d'indice {i} et la colonne d'indice {j} : affectez-lui
			la valeur {valeur}.</p>
			<p><small><em>Cet exercice utilise des données aléatoires : 
				rechargez la page 
				pour obtenir un autre exercice semblable.</em></small></p>
			
<Python id="exo_modification" {js_modules} 
avant = {`from matrices import *
${matrice} = ${JSON.stringify(plateau_initial)}
`}
apres = {`assert verifier(${matrice}), "Matrice incorrecte, voyez ci-dessous et recommencez."`}

pendant = {`# votre code ici`}
correction = {5}		
code_correction = {`${matrice}[${i}][${j}] = ${valeur}`}
}	
	/>
			<div style="display:flex;justify-content: space-evenly;">
				<div><div><small>Votre matrice</small></div> <Plateau plateau = {plateau_actuel} /></div>
				<div><div><small>Objectif</small></div> <Plateau plateau = {plateau_final} /></div>
			</div></span>
</Cadre>
