<script>
	import Cadre from '$lib/Cadre.svelte';
	let matrice = "mat";
	let i = "i";
	let j = "j";
	let x = "x"
	function init(){
		const matrices = ["mat", "tab", "m", "matrice", "grille", "tableau"];
		matrice = matrices[ Math.floor(Math.random()*matrice.length) ];
		const variables_i = ["i", "ligne", "li", "nb_ligne", "indice_ligne"];
		const variables_j = ["j", "colonne","col", "nb_colonne", "indice_colonne"];
		const indice = Math.floor( Math.random()*variables_i.length );
	    i = variables_i[indice];
	    j = variables_j[indice];
		const variables = ["elt", "item", "x", "element", "nombre", "nb"];
		x = variables[ Math.floor(Math.random()*variables.length) ];
	}
	init()
	export let exemple = true;
</script>

<p>Supposons que nous ayons une matrice déjà codée en Python. 
	Comment faire pour lire ou modifier un élément&nbsp;?</p>
<Cadre classe="aretenir">
	<span slot='titre'>Lire un élément</span>
	<span slot='contenu'>
		<p>En python, si une matrice est codée par une variable <code>{matrice}</code>,
			pour lire l'élément situé à la ligne d'indice <code>{i}</code> et à la
		colonne d'indice <code>{j}</code>, on utilise deux paires de crochets :</p>
		<p><code>{matrice} [ {i} ][ {j} ]</code></p>
		<p>L'ordre d'écriture doit être respecté :
			il faut toujours écrire d'abord le nom de la matrice, 
			puis l'indice de la ligne entre crochets, 
			puis l'indice de la colonne entre crochets.</p>
		<p><small><em>Vous pouvez changer le nom des variables en 
			cliquant sur <button on:click={()=>init()}>recommencer</button></em></small>.</p>
	</span>
</Cadre>
{#if exemple}
	<p>Par exemple, si <code>{matrice}</code> code le tableau suivant :</p>
	<table>
		<tbody>
			<tr>
			<td>1</td>
			<td style='background-color:var(--fondgris)'>7</td>
			<td>8</td>
		</tr>
		<tr>
			<td>0</td>
			<td>5</td>
			<td>2</td>
		</tr>
		</tbody>
	</table>
	<p>Alors le nombre 7 peut-être lu avec le code : <code>{matrice}[0][1]</code> car
	le nombre 7 est situé sur la ligne d'indice 0 et la colonne d'indice 1.</p>
{/if}

<p>Une fois que la valeur d'un élément est lue avec la syntaxe précédente, il est possible de la garder en mémoire en l'affectant à une variable.</p>

{#if exemple}
<p>Par exemple, affectons le nombre 7 lu auparavant à une variable <code>{x}</code> :</p>
<p><code>{x} = {matrice}[0][1]</code></p>
<p>On peut ensuite utiliser la variable <code>{x}</code> comme toute autre variable.</p>
{/if}

<p>Si la matrice est modifiable, la même syntaxe peut être utilisé pour modifier un de ses éléments. Cette fois-ci, l'accès à une cellule de la matrice doit se faire à gauche du signe <code>=</code>.</p>
{#if exemple}
<p>Ainsi, pour remplacer le nombre 7 par 8 dans la matrice précédente, on écrirait :</p>
<p><code> {matrice}[0][1] = 8</code></p>
{/if}