<script>
 	import { page } from '$app/stores';
    import { contenus } from '$lib/TNSI/01/contenus.js';

    import Navigation from '$lib/Navigation.svelte';
    import Cadre from '$lib/Cadre.svelte';

</script>
<h1>Files et piles</h1>
<p>Dans ce chapitre nous étudierons deux <strong>structures de données</strong> qui nous seront utiles tout au long de l'année : les <strong>files</strong> et les <strong>piles</strong>.</p>

<h2>Le cours</h2>
<p>Le cours sera fait en classe, avec des stylos et des feuilles de papier.</p>

<h2>Activités</h2>

<Navigation liste_donnee={$contenus} type="contenus_liste" />

<h2>Travaux pratiques</h2>

<ol>
    <li><a href="https://capytale2.ac-paris.fr/web/c/f6c2-626655">Parcours de files avec Python</a> sur Capytale</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/5d40-628758">Parcours de piles avec Python</a> sur Capytale</li>
    <li><a href="https://codex.forge.apps.education.fr/exercices/autour_des_files/">Implémentation rudimentaire des files</a> sur Codex</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/e7f6-3803843">Implémentation des piles avec des <code>list</code> Python</a> sur Capytale</li>
</ol>

<h2>Exercices de bac</h2>

<ol>
    <li>Exercice 1 du <a href="https://eduscol.education.fr/document/3962/download">sujet 0 publié en 2021</a></li>
    <li>Exercice 1 du <a href="https://www.education.gouv.fr/media/114665/download">sujet 22-NSIJ2LR1</a></li>
    <li>Exercice 1 du <a href="https://www.education.gouv.fr/media/114242/download">sujet 22-NSIJ1ME1</a></li>
</ol>

<h2>Idées de projets</h2>

Quelques idées de projets avec des files ou piles :

<ul>
<li> Notation polonaise inverse.</li> 
<li> Algorithme Shunting-Yard.</li> 
<li> Jeu de cartes.</li> 
<li> Jeu <em>Water sort puzzle</em> ou <em>Ball sort puzzle</em>.</li>
<li> Implémenter les fonctions de files avec deux piles.</li> 
<li> Simulation de création de brochettes, de colliers ou tout autre objet qu'on peut enfiler ou empiler.</li> 
<li> Simulation de robot gérant des containers dans un port.</li> 
<li> Simulation de trafic routier.</li>
<li> Simulation d'une pile de Volta.</li> 
<li> Comment vérifier que les parenthèses d'une formule mathématique (ou d'un programme Python) sont correctes ? Extension possible aux balises HTML.</li>
<li> Reprogrammer certaines des activités vues dans ce chapitre (sans animation).</li>
</ul>

<Cadre classe="aretenir">
<span slot="titre">Programme officiel
</span>
<span slot="contenu">
    <p>Structures de données, interface et implémentation. Spécifier une structure de données par son interface.
     Distinguer interface et implémentation.
     Écrire plusieurs implémentations d’une même structure de données (<em>sera revu en cours d'année</em>).</p>
    <p>Listes, piles, files : structures linéaires.
    Distinguer des structures par le jeu des méthodes qui les caractérisent.
    Choisir une structure de données adaptée à la situation à modéliser.
    On distingue les modes <em>FIFO (first in first out)</em> et <em>LIFO (last in first out)</em> des piles et des files.
    </p>
</span>
</Cadre>

<style>
.container {
width: 300px;
height: 500px;
}
.image {
width: 100%;
height: 100%;
object-fit: cover;
}
</style>
