<script>
    import Cadre from '$lib/Cadre.svelte';
    import Python from '$lib/Python.svelte';
    import Ajout from '../modeles/05-Ajout.svelte';

    import IntroTicTacToe from '../10-tic-tac-toe/00-intro.svelte';
    import AjoutFonction from '../10-tic-tac-toe/05-ajout-fonction.svelte';
    import ExoAjout from '../modeles/05-ExoAjout.svelte';

</script>
<h1>Ajout d'un élément</h1>

<Ajout />

<p>Par exemple, nous voulons ajouter des figues à la fin de notre liste de courses :</p>
<Python id="exemple"
modifiable = {false}
exercice = {false}
pendant = {`courses = ["pommes", "bananes", "noix"]
print("Ma liste : ", courses)
courses.append("figues")   # ajout
print("Liste augmentée : ", courses)`}
/>
<p>L'instruction <code>courses.append("figues")</code> a ajouté la chaîne de caractères <code>"figues"</code> à la fin de la liste <code>courses</code>.</p>
<p>Cet ajout n'est possible que pour les listes (type <code>list</code>) et non pour les tuples qui ne sont pas modifiables.</p>


<h2>Exercice</h2>

<ExoAjout />

<h2>Fil rouge : Tic-tac-toe</h2>

<IntroTicTacToe />

<AjoutFonction />

