<h1>Boucles</h1>

<h2>TP-cours</h2>

<p>Des travaux pratiques et le cours en même temps, sur Capytale.</p>

<ol>
    <li><a href="https://capytale2.ac-paris.fr/web/c/a690-3995162">Répétitions d'instructions</a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/4e85-4051442">La boucle <code>for ... in range(...):</code></a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/b1de-4117442">La boucle <code>while ... :</code></a></li>
</ol>

<h2>Dérouler un algorithme</h2>
<p>Pour comprendre un algorithme comportant une boucle, il est essentiel de savoir le "dérouler", c'est-à-dire l'exécuter pas à pas en notant chaque étape.</p> 
<p>   
    Il faut savoir dérouler un algorithme sur une feuille de papier, avec un stylo,
    mais l'outil <a href="https://pythontutor.com/visualize.html#mode=edit">Python Tutor</a>  peut vous aider : copiez-y votre code, puis cliquez sur "visualize execution".
   </p>
   <p>
   <strong>Attention </strong>: dans Python Tutor comme dans python, lorsqu'on affecte une valeur à une variable, l'ancienne valeur est effacée. 
   Sur feuille, c'est différent, il faut en garder la trace en écrivant les résultats dans un tableau.
   </p>
<p>Exercices à faire sur papier, les énoncés sont distribués en classe.</p>
<ol>
    <li><a href="https://nuage03.apps.education.fr/index.php/s/HznWTcobwcnY6wB">Dérouler une boucle bornée</a></li>
    <li><a href="https://nuage03.apps.education.fr/index.php/s/weEoBSEP7yP6M7J">Dérouler une boucle non bornée</a></li>
</ol>

<h2>Code-puzzle</h2>

<p>Sur Code-puzzle, il faut déposer les blocs de code python au bon endroit pour répondre à la question voulue. Attention, il y a parfois des lignes de code en trop, qu'il ne faut pas utiliser.</p>

<ol>
    <li><a href="https://capytale2.ac-paris.fr/web/c/a167-4148234">Voulez-vous quitter ?</a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/code/d73d-4148771">Araignée ou insecte ?</a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/111a-4149202">Tuez le monstre !</a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/3c0e-4148567">Dites trois fois bonjour</a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/d20f-4146774">Afficher les chiffres</a></li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/051c-4131366">Compte à rebours</a></li>
</ol>

<h2>Py-rates</h2>
<p>Le défi ultime ! <a href="https://py-rates.org/">Devenez un ou une py-rate !</a></p>
 
