<h1>Codage d'un texte en machine</h1>
<h2>Chaînes de caractères</h2>
 <ol>
    <li><a href="https://fr.futurecoder.io/">Future Coder</a>, uniquement les 5 premières parties, jusqu'à "Structures conditionnelles `if`" inclus.</li>
    <li><a href="https://codimd.apps.education.fr/s/NyVY6o_7S#">cours et recherche</a> sur le codage de texte en machine.</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/54dd-4676960">Compléments</a> sur Capytale.</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/b8a5-4812813">Types de données et <code>input</code></a> sur Capytale.</li>
    <li>Exercices d'entraînement sur Codex :
      <ol>
        <li><a href="https://codex.forge.apps.education.fr/exercices/channiv/">Anniversaire de chat</a></li>
        <li><a href="https://codex.forge.apps.education.fr/exercices/anonymat_1/">Noircir un texte</a></li>
        <li><a href="https://codex.forge.apps.education.fr/exercices/conversion_chaines/">Texte en minuscules</a></li>
        <li><a href="https://codex.forge.apps.education.fr/exercices/palindrome/">Création de palindromes</a></li>
        <li><a href="https://codex.forge.apps.education.fr/exercices/cpt_occurrences/">Occurrences d'un caractère dans un mot</a></li>
        <li><a href="https://codex.forge.apps.education.fr/exercices/code_cesar/">Le code de César</a></li>
      </ol>
    </li>
 </ol>
 <h2>Mise en forme : langages HTML et CSS</h2>
 <ol>
   <li><a href="https://capytale2.ac-paris.fr/web/c/347b-2634491">Introduction à HTML</a></li>
   <li><a href="https://capytale2.ac-paris.fr/web/c/ffa2-2635390">Balises et éléments</a></li>
   <li><a href="https://capytale2.ac-paris.fr/web/c/ce0f-2635476">Listes</a></li>
   <li><a href="https://capytale2.ac-paris.fr/web/c/3147-2635557">Hyperliens et attributs</a></li>
   <li><a href="https://capytale2.ac-paris.fr/web/c/30d7-2647905">Images</a></li>
   <li><a href="https://capytale2.ac-paris.fr/web/c/2e8b-2647946">Le style avec CSS</a></li>
 </ol>