<script>
    import Video from '$lib/Video.svelte';
    import Python from '$lib/Python.svelte';

    const processus = `class Processus:
    def __init__(self, nom, duree):
        self.nom = nom
        self.duree = duree
        self.reste = duree
    def execute_un_cycle(self):
      self.reste = self.reste - 1
    def est_fini(self):
      return self.reste == 0
`

const file = `class File:
    def __init__(self):
        self.contenu = []
    def enfile(self, element):
        self.contenu.append(element)
    def defile(self):
        if self.est_vide():
            return None
        else:
            return self.contenu.pop(0)
    def est_vide(self):
        return len(self.contenu) == 0
`
const ordonnanceur = `class Ordonnanceur:
    def __init__(self):
        self.temps = 0
        self.file = File()
    def ajoute_nouveau_processus(self, proc):
        self.file.enfile(proc)
    def tourniquet(self):
        self.temps += 1 
        if not self.file.est_vide():
            proc = self.file.defile()
            proc.execute_un_cycle()
            if not proc.est_fini():
                self.file.enfile(proc)
            return proc.nom
        else:
            return None
`;
const variables = `p1 = Processus("p1", 4)
p2 = Processus("p2", 3)
p3 = Processus("p3", 5)
p4 = Processus("p4", 3)
depart_proc = {0: p1, 1: p3, 2: p2, 3: p4}
`;

const iteratif = `ordo = Ordonnanceur()
continuer = True
while continuer:
    if ordo.temps in depart_proc.keys():
        p_arrive = depart_proc[ordo.temps]
        ordo.ajoute_nouveau_processus(p_arrive)
    p_execute = ordo.tourniquet()
    if p_execute is None:
        continuer = False
    else:
        print(p_execute)`

const recursif = `ordonnanceur = Ordonnanceur()
def ordonnancement(ord: Ordonnanceur):
    if ord.temps in depart_proc:
        ord.ajoute_nouveau_processus(depart_proc[ord.temps])
    print(ord.tourniquet())
    if not ord.file.est_vide():
        ordonnancement(ord)
        
ordonnancement(ordonnanceur)
`
</script>

<h1>Gestion des processus et des ressources par un système d'exploitation</h1>

<p>Un <dfn>processus</dfn> est un programme en cours d'exécution par un ordinateur.</p>
<p>Problème : à un moment donné, un ordinateur possède souvent de nombreux processus et peu de ressources matérielles 
    (mémoire, processeurs, mais aussi imprimante, écran et autres dispositifs d'entrée/sortie).</p>
<p>Donc plusieurs processus peuvent tenter d'accéder en même temps à une même ressource, sans que cela soit possible. Comment faire ?</p>

<h2>Le cours</h2>

<h3>Le système d'exploitation</h3>

<Video lien = {"https://www.youtube.com/embed/SpCP2oaCx8A"} />

<h3>Ordonnancement des processus</h3>

<Video lien = {"https://tube-sciences-technologies.apps.education.fr/videos/embed/4391a623-c809-4090-a738-8452b761fa0d"} />

<h3>Les interblocages</h3>

<Video lien = {"https://tube-sciences-technologies.apps.education.fr/videos/embed/40e11a36-55ec-4f6d-8226-2a97bf3e8825"} />

<h2>Des exercices de bac écrit</h2>

<h3>Sujets</h3>
<ol>
    <li><a href="https://eduscol.education.fr/document/45109/download#page=10">Exercice 4 de 22-NSIJ1AS1</a></li>
    <li><a href="https://eduscol.education.fr/document/32791/download#page=4">Exercice 2 de 21-NSIJ2ME2</a></li>
    <li><a href="https://eduscol.education.fr/document/47975/download#page=6">Exercice 2 de 23-NSIJ1PO1</a> (voir correction de la question 2 plus bas)</li>
    <li><a href="https://eduscol.education.fr/document/47993/download#page=8">Exercice 3 de 23-NSIJ2PO1</a></li>
    <li><a href="https://eduscol.education.fr/document/59475/download#page=2">Exercice 1 de 24-NSIJ1AN1</a> (voir correction de la partie programmation plus bas)</li>
</ol>

<h3>Correction question 2 de Ex2-23NSIJ1PO1</h3>

<Python id="Ex2-23NSIJ1PO1"

pendant = {`class Processus:
    def __init__(self, pid, duree):
        self.pid = pid
        self.duree = duree
        # Le nombre de cycles qui restent à faire :
        self.reste_a_faire = duree
        self.etat = "Prêt"
    # question 2 b.
    def execute_un_cycle(self):
      self.reste_a_faire = self.reste_a_faire - 1
    def change_etat(self, nouvel_etat):
      self.etat = nouvel_etat
    def est_termine(self):
      if self.reste_a_faire == 0:
          return True
      else:
          return False
     # version courte : return self.reste_a_faire <= 0
# question c.
def tourniquet(liste_attente, quantum):
    ordre_execution = []
    while liste_attente != []:
        processus = liste_attente.pop(0)
        processus.change_etat("En cours d'exécution")
        compteur_tourniquet = 0
        while compteur_tourniquet < quantum and not processus.est_termine():
            ordre_execution.append(processus.pid)
            processus.execute_un_cycle()
            compteur_tourniquet = compteur_tourniquet + 1
        if not processus.est_termine():
            processus.change_etat("Suspendu")
            liste_attente.append(processus)
        else:
            processus.change_etat("Terminé")
    return ordre_execution
    
# question 2. a 
liste_attente = [Processus(11, 4), Processus(20, 2), Processus(32, 3)]

# tests correspondant à la question 1
# ces tests ne font pas partie des réponses au sujet mais permettent de vérifier
assert tourniquet(liste_attente, 1) == [11, 20, 32, 11, 20, 32, 11, 32, 11]
# la fonction tourniquet détruit la file avec .pop
# donc il faut redéfinir la liste d'attente pour le deuxième test
liste_attente = [Processus(11, 4), Processus(20, 2), Processus(32, 3)]
assert tourniquet(liste_attente, 2) == [11, 11, 20, 20, 32, 32, 11, 11, 32]`}
/>

<h3>Correction de Ex1-24NSIJ1AN1</h3>
<p>Comment coder la classe <code>Processus</code> (qui n'était pas demandée dans le sujet) : </p>
<Python id="Processus" 
pendant = {processus}
executable={false}
/>
<p>La classe <code>File</code> avec modification demandée à la question 3 :</p>
<Python id="File"
pendant = {file}
executable = {false}
/>
<p>La classe <code>Ordonnanceur</code> avec les modifications demandées par la question 5 :</p>
<Python id="Ordonnanceur"
executable={false}
pendant = {ordonnanceur}
/>
<p>Une solution possible de la question 6 sous forme itérative (c'est-à-dire avec boucle). 
    Les classes doivent être déclarées auparavant, elles sont cachées ici pour faciliter la lecture.</p>
<Python id = "iteratif"

avant = {file+processus+ordonnanceur}
pendant = {variables+iteratif}
/>

<p>Une solution possible de la question 6 avec  une fonction récursive plutôt qu'une boucle. 
    Les classes doivent être déclarées auparavant, elles sont cachées ici pour faciliter la lecture.</p>
<Python id = "recursif"

avant = {file+processus+ordonnanceur}
pendant = {variables+recursif}
/>

