<h1>Dictionnaires en Python</h1>

Au menu de ce chapitre :

<ol>
    <li><a href="http://www.lumni.fr/video/les-dictionnaires">Explications en vidéo</a> sur le site de Lumni</li>
    <li><a href="https://capytale2.ac-paris.fr/web/c/3b1e-2528387">TP-cours</a> sur Capytale</li>
</ol>